{
  "openapi": "3.1.0",
  "info": {
    "title": "京东开放平台 推广API",
    "description": "由 open.jd.com 概览页网络抓包自动生成。所有接口通过京东宙斯网关调用，请求体为业务参数 JSON。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.jd.com/routerjson",
      "description": "京东宙斯开放网关 (实际调用需携带 method/app_key/sign 等网关参数)"
    }
  ],
  "paths": {
    "/batchPutAdsGroupState": {
      "put": {
        "operationId": "batchPutAdsGroupState",
        "summary": "批量更新单元状态",
        "description": "批量更新单元的状态信息\n\nJD method: PUT.ads-group-states.batch",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "PUT.ads-group-states.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPutAdsGroupStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPutAdsGroupStateResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10902001001": {
                    "summary": "单元实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10902002002": {
                    "summary": "单元实体没有查询到数据@#$请检查入参重新请求"
                  },
                  "10902001002": {
                    "summary": "单元实体参数错误@#$请检查入参重新请求"
                  },
                  "10902002003": {
                    "summary": "单元实体不支持的业务操作@#$请检查入参重新请求"
                  },
                  "10902003003": {
                    "summary": "单元实体内部服务异常3003@#$请联系客服"
                  },
                  "10902001003": {
                    "summary": "单元实体分页参数错误@#$请检查入参重新请求"
                  },
                  "10902009999": {
                    "summary": "单元实体兜底异常@#$请联系客服"
                  },
                  "10902002000": {
                    "summary": "单元实体业务异常@#$请联系客服"
                  },
                  "10902003002": {
                    "summary": "单元实体内部服务异常3002@#$请联系客服"
                  },
                  "10902002001": {
                    "summary": "单元实体批量操作个数超过上限@#$请检查入参重新请求"
                  },
                  "10902003001": {
                    "summary": "单元实体内部服务异常3001@#$请联系客服"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPutAdsCampaignState": {
      "put": {
        "operationId": "batchPutAdsCampaignState",
        "summary": "计划状态更新",
        "description": "批量更新计划的状态信息，jos可以设置每个计划更新的状态不一致，如计划a暂停，计划b启动-KA、秒送\n\nJD method: PUT.ads-bidding.v0.ads-campaign-states.batch",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "PUT.ads-bidding.v0.ads-campaign-states.batch",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPutAdsCampaignStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPutAdsCampaignStateResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10901009999": {
                    "summary": "计划实体兜底异常@#$请联系客服解决"
                  },
                  "10901001003": {
                    "summary": "计划实体分页参数错误@#$请检查入参重新请求"
                  },
                  "10901001002": {
                    "summary": "计划实体参数错误@#$请检查入参重新请求"
                  },
                  "10901002003": {
                    "summary": "计划实体不支持的业务操作@#$请检查入参重新请求"
                  },
                  "10901002001": {
                    "summary": "计划实体批量操作个数超过上限@#$请检查入参重新请求"
                  },
                  "10901003002": {
                    "summary": "计划实体内部服务异常3002@#$请联系客服解决"
                  },
                  "10901002002": {
                    "summary": "计划实体没有查询到数据@#$请检查入参重新请求"
                  },
                  "10901003003": {
                    "summary": "计划实体内部服务异常3003@#$请联系客服解决"
                  },
                  "10901001001": {
                    "summary": "计划实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10901002000": {
                    "summary": "计划实体业务异常@#$请联系客服解决"
                  },
                  "10901003001": {
                    "summary": "计划实体内部服务异常3001@#$请联系客服解决"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchDeleteAdsCampaign": {
      "delete": {
        "operationId": "batchDeleteAdsCampaign",
        "summary": "计划删除操作",
        "description": "批量删除投放计划-KA\n\nJD method: DELETE.ads-bidding.v0.ads-campaigns.batch",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "DELETE.ads-bidding.v0.ads-campaigns.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteAdsCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeleteAdsCampaignResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10901009999": {
                    "summary": "计划实体兜底异常@#$请联系客服"
                  },
                  "10901001003": {
                    "summary": "计划实体分页参数错误@#$请检查入参重新请求"
                  },
                  "10901001002": {
                    "summary": "计划实体参数错误@#$请检查入参重新请求"
                  },
                  "10901002003": {
                    "summary": "计划实体不支持的业务操作@#$请检查入参重新请求"
                  },
                  "10901002001": {
                    "summary": "计划实体批量操作个数超过上限@#$请检查入参重新请求"
                  },
                  "10901003002": {
                    "summary": "计划实体内部服务异常3002@#$请联系客服"
                  },
                  "10901002002": {
                    "summary": "计划实体没有查询到数据@#$请检查入参重新请求"
                  },
                  "10901003003": {
                    "summary": "计划实体内部服务异常3003@#$请联系客服"
                  },
                  "10901001001": {
                    "summary": "计划实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10901002000": {
                    "summary": "计划实体业务异常@#$请联系客服"
                  },
                  "10901003001": {
                    "summary": "计划实体内部服务异常3001@#$请联系客服"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listAdsGroups": {
      "get": {
        "operationId": "listAdsGroups",
        "summary": "获取单元列表",
        "description": "获取单元列表\n\nJD method: GET.ads-bidding.v0.ads-groups",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "GET.ads-bidding.v0.ads-groups",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAdsGroupsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdsGroupsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10902001001": {
                    "summary": "单元实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10902002002": {
                    "summary": "单元实体没有查询到数据   @#$请检查入参重新请求"
                  },
                  "10902001002": {
                    "summary": "单元实体参数错误@#$请检查入参重新请求"
                  },
                  "10902001003": {
                    "summary": "单元实体分页参数错误@#$请检查入参重新请求"
                  },
                  "10902009999": {
                    "summary": "单元实体兜底异常@#$请联系客服"
                  },
                  "10902002000": {
                    "summary": "单元实体业务异常  @#$请联系客服"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPostAdsGroup": {
      "post": {
        "operationId": "batchPostAdsGroup",
        "summary": "批量添加单元",
        "description": "批量添加单元/门店--KA\n\nJD method: POST.ads-bidding.v0.ads-groups.batch",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "POST.ads-bidding.v0.ads-groups.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPostAdsGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPostAdsGroupResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10902001001": {
                    "summary": "单元实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10902001002": {
                    "summary": "单元实体参数错误@#$请检查入参重新请求"
                  },
                  "10902001003": {
                    "summary": "单元实体分页参数错误@#$请检查入参重新请求"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchAdsCampaign": {
      "patch": {
        "operationId": "patchAdsCampaign",
        "summary": "单个计划更新",
        "description": "当修改计划的出价控制方式、溢价系数、计划名称时，调用此接口进行修改，每次仅支持单个计划的更新。\n\nJD method: PATCH.ads-bidding.v0.ads-campaigns._adsCampaignId",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "PATCH.ads-bidding.v0.ads-campaigns._adsCampaignId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAdsCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAdsCampaignResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10901009999": {
                    "summary": "计划实体兜底异常@#$请联系客服解决"
                  },
                  "10901001003": {
                    "summary": "计划实体分页参数错误@#$请检查入参重新请求"
                  },
                  "10901001002": {
                    "summary": "计划实体参数错误@#$请检查入参重新请求"
                  },
                  "10901002003": {
                    "summary": "计划实体不支持的业务操作@#$请检查入参重新请求"
                  },
                  "10901002001": {
                    "summary": "计划实体批量操作个数超过上限@#$请检查入参重新请求"
                  },
                  "10901003002": {
                    "summary": "计划实体内部服务异常3002@#$请联系客服解决"
                  },
                  "10901002002": {
                    "summary": "计划实体没有查询到数据@#$请检查入参重新请求"
                  },
                  "10901003003": {
                    "summary": "计划实体内部服务异常3003@#$请联系客服解决"
                  },
                  "10901001001": {
                    "summary": "计划实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10901002000": {
                    "summary": "计划实体业务异常@#$请联系客服解决"
                  },
                  "10901003001": {
                    "summary": "计划实体内部服务异常3001@#$请联系客服解决"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postAdsCampaign": {
      "postadscampaign": {
        "operationId": "postAdsCampaign",
        "summary": "计划新建",
        "description": "计划新建\n\nJD method: postAdsCampaign",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "postAdsCampaign",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAdsCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAdsCampaignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batchPatchAdsCampaign": {
      "patch": {
        "operationId": "batchPatchAdsCampaign",
        "summary": "批量更新计划部分信息",
        "description": "当更新计划的推广周期、推广时段、计划名称、外卖定向溢价、计划预算、投放策略时，使用该接口进行计划部分信息更新\n\nJD method: PATCH.ads-bidding.v0.ads-campaigns.batch",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "PATCH.ads-bidding.v0.ads-campaigns.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPatchAdsCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPatchAdsCampaignResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10901009999": {
                    "summary": "计划实体兜底异常@#$请联系客服解决"
                  },
                  "10901001003": {
                    "summary": "计划实体分页参数错误@#$请检查入参重新请求"
                  },
                  "10901001002": {
                    "summary": "计划实体参数错误@#$请检查入参重新请求"
                  },
                  "10901002003": {
                    "summary": "计划实体不支持的业务操作@#$请检查入参重新请求"
                  },
                  "10901002001": {
                    "summary": "计划实体批量操作个数超过上限@#$请检查入参重新请求"
                  },
                  "10901003002": {
                    "summary": "计划实体内部服务异常3002@#$请联系客服解决"
                  },
                  "10901002002": {
                    "summary": "计划实体没有查询到数据@#$请检查入参重新请求"
                  },
                  "10901003003": {
                    "summary": "计划实体内部服务异常3003@#$请联系客服解决"
                  },
                  "10901001001": {
                    "summary": "计划实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10901002000": {
                    "summary": "计划实体业务异常@#$请联系客服解决"
                  },
                  "10901003001": {
                    "summary": "计划实体内部服务异常3001@#$请联系客服解决"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAdsCampaign": {
      "get": {
        "operationId": "getAdsCampaign",
        "summary": "竞价广告单个计划信息的查询",
        "description": "竞价广告单个计划信息的查询\n\nJD method: GET.ads-bidding.v0.ads-campaigns._adsCampaignId",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "GET.ads-bidding.v0.ads-campaigns._adsCampaignId",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdsCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdsCampaignResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10901009999": {
                    "summary": "计划实体兜底异常@#$请联系客服解决"
                  },
                  "10901001003": {
                    "summary": "计划实体分页参数错误@#$请检查入参重新请求"
                  },
                  "10901001002": {
                    "summary": "计划实体参数错误@#$请检查入参重新请求"
                  },
                  "10901002003": {
                    "summary": "计划实体不支持的业务操作@#$请检查入参重新请求"
                  },
                  "10901002001": {
                    "summary": "计划实体批量操作个数超过上限@#$请检查入参重新请求"
                  },
                  "10901003002": {
                    "summary": "计划实体内部服务异常3002@#$请联系客服解决"
                  },
                  "10901002002": {
                    "summary": "计划实体没有查询到数据@#$请检查入参重新请求"
                  },
                  "10901003003": {
                    "summary": "计划实体内部服务异常3003@#$请联系客服解决"
                  },
                  "10901001001": {
                    "summary": "计划实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10901002000": {
                    "summary": "计划实体业务异常@#$请联系客服解决"
                  },
                  "10901003001": {
                    "summary": "计划实体内部服务异常3001@#$请联系客服解决"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listAdsCampaigns": {
      "listadscampaigns": {
        "operationId": "listAdsCampaigns",
        "summary": "获取计划列表",
        "description": "获取计划列表,包含展点消数据\n\nJD method: listAdsCampaigns",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "listAdsCampaigns",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAdsCampaignsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdsCampaignsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postAdsGroup": {
      "post": {
        "operationId": "postAdsGroup",
        "summary": "创建广告单元",
        "description": "向一个计划下创建一个单元时使用该接口（支持创建关键词计划、顶部店铺计划、腰带店铺计划、人群计划、常规活动计划）\n\nJD method: POST.ads-bidding.v0.ads-groups",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "POST.ads-bidding.v0.ads-groups",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAdsGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAdsGroupResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10902001001": {
                    "summary": "单元实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10902001002": {
                    "summary": "单元实体参数错误@#$请检查入参重新请求"
                  },
                  "10902002003": {
                    "summary": "不支持的业务操作@#$请查看场景文档说明"
                  },
                  "10902003003": {
                    "summary": "单元实体内部服务异常3003@#$重试或请联系客服解决"
                  },
                  "10902002004": {
                    "summary": "物料数量超过上限@#$请先删除部分物料后重试"
                  },
                  "10902009999": {
                    "summary": "单元实体兜底异常@#$重试或请联系客服解决"
                  },
                  "10902002000": {
                    "summary": "单元实体业务异常@#$重试或请联系客服解决"
                  },
                  "10902003002": {
                    "summary": "单元实体内部服务异常3002@#$重试或请联系客服解决"
                  },
                  "10902003001": {
                    "summary": "单元实体内部服务异常3001@#$重试或请联系客服解决"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchDeleteAdsGroup": {
      "delete": {
        "operationId": "batchDeleteAdsGroup",
        "summary": "批量删除单元",
        "description": "批量删除单元\n\nJD method: DELETE.ads-bidding.v0.ads-groups.batch",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "DELETE.ads-bidding.v0.ads-groups.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteAdsGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeleteAdsGroupResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10902001001": {
                    "summary": "单元实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10902002002": {
                    "summary": "单元实体没有查询到数据@#$请检查入参重新请求"
                  },
                  "10902001002": {
                    "summary": "单元实体参数错误@#$请检查入参重新请求"
                  },
                  "10902002003": {
                    "summary": "单元实体不支持的业务操作@#$请检查入参重新请求"
                  },
                  "10902003003": {
                    "summary": "单元实体内部服务异常3003@#$请联系客服"
                  },
                  "10902001003": {
                    "summary": "单元实体分页参数错误@#$请检查入参重新请求"
                  },
                  "10902009999": {
                    "summary": "单元实体兜底异常@#$请联系客服"
                  },
                  "10902002000": {
                    "summary": "单元实体业务异常@#$请联系客服"
                  },
                  "10902003002": {
                    "summary": "单元实体内部服务异常3002@#$请联系客服"
                  },
                  "10902002001": {
                    "summary": "单元实体批量操作个数超过上限@#$请检查入参重新请求"
                  },
                  "10902003001": {
                    "summary": "单元实体内部服务异常3001@#$请联系客服"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPatchAdsGroup": {
      "patch": {
        "operationId": "batchPatchAdsGroup",
        "summary": "批量更新部分单元信息",
        "description": "批量更新部分单元信息\n1、更新单元预算（KA门店推广）\n2、更新单元出价（KA门店推广仅支持更新出价值；秒送门店推广场景支持更新出价类型和出价值）\n3、更新单元地域、状态、出价等（站内搜推单元）\n\nJD method: PATCH.ads-bidding.v0.ads-groups.batch",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "PATCH.ads-bidding.v0.ads-groups.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPatchAdsGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPatchAdsGroupResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10902001001": {
                    "summary": "单元实体必填参数为空@#$请检查入参重新请求"
                  },
                  "10902002002": {
                    "summary": "单元实体没有查询到数据@#$请检查入参重新请求"
                  },
                  "10902001002": {
                    "summary": "单元实体参数错误@#$请检查入参重新请求"
                  },
                  "10902002003": {
                    "summary": "单元实体不支持的业务操作@#$请检查入参重新请求"
                  },
                  "10902003003": {
                    "summary": "单元实体内部服务异常3003@#$请联系客服"
                  },
                  "10902001003": {
                    "summary": "单元实体分页参数错误@#$请检查入参重新请求"
                  },
                  "10902009999": {
                    "summary": "单元实体兜底异常@#$请联系客服"
                  },
                  "10902002000": {
                    "summary": "单元实体业务异常@#$请联系客服"
                  },
                  "10902003002": {
                    "summary": "单元实体内部服务异常3002@#$请联系客服"
                  },
                  "10902002001": {
                    "summary": "单元实体批量操作个数超过上限@#$请检查入参重新请求"
                  },
                  "10902003001": {
                    "summary": "单元实体内部服务异常3001@#$请联系客服"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAccountBalance": {
      "get": {
        "operationId": "getAccountBalance",
        "summary": "查询广告投放账户余额",
        "description": "查询广告投放账户余额，根据登录身份，查询京准通中的现金、红包、和返佣金的余额\n\nJD method: GET.ads-billing.v0.ads-accounts.self.ads-balances",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "GET.ads-billing.v0.ads-accounts.self.ads-balances",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountBalanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountBalanceResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10909011002": {
                    "summary": "请求参数解析异常，参数类型与预期不符合\t@#$请求参数异常，请联系平台运营人员"
                  },
                  "10909011004": {
                    "summary": "当前账号未入驻京准通，无法调用\t@#$当前账号未入驻京准通，无法调用，如需查看京准通数据，请先前往京准通完成入驻后在调用"
                  },
                  "10909011003": {
                    "summary": "请求参数必填\t@#$请求参数必填，请检查参数确保正确填写"
                  },
                  "10909011006\t": {
                    "summary": "待查看的账户ID未入驻京准通，无法调用\t@#$当前被访问的账号ID未入驻京准通，无法调用，如需查看京准通数据，请先前往京准通完成入驻后在调用"
                  },
                  "10909011009\t": {
                    "summary": "当前账户访问授权账户验证失败\t@#$授权验证失败，无法查看accountId对应账户数据，请联系平台运营人员"
                  },
                  "10909011008\t": {
                    "summary": "授权模式参数校验失败\t@#$授权模式参数校验失败，authType存在时，accountId不能为空，请检查参数确保正确填写"
                  },
                  "10909011005": {
                    "summary": "appKey不可用\t@#$appKey不可用，请检查并确认AppKey正常，如有疑问请联系平台运营人员"
                  },
                  "10909011007": {
                    "summary": "当前请求被限流，请稍后重试\t@#$当前请求被限流，请降低调用频率，稍后重试"
                  },
                  "10909019999\t": {
                    "summary": "系统异常，请稍后重试\t@#$系统异常，请稍后重试,如有疑问请联系平台运营人员"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAdsAccount": {
      "get": {
        "operationId": "getAdsAccount",
        "summary": "查询当前登录账号的广告投放账户信息",
        "description": "在查询广告业务接口时，对于外卖单门店账户或者KA账户查看其绑定的某个门店账户，需要先查询当前接口，获取投放账户ID。然后使用此ID作为其他接口入参传递查询次账号的广告投放账号信息\n\nJD method: GET.ads-billing.v0.ads-accounts.self",
        "tags": [
          "推广API"
        ],
        "x-jd-method": "GET.ads-billing.v0.ads-accounts.self",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdsAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdsAccountResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10909001005": {
                    "summary": "appKey不可用@#$appKey不可用，请检查并确认AppKey正常，如有疑问请联系平台运营人员"
                  },
                  "10909001004": {
                    "summary": "当前账号未入驻京准通，无法调用@#$当前账号未入驻京准通，无法调用，如需查看京准通数据，请先前往京准通完成入驻后在调用"
                  },
                  "10909001003": {
                    "summary": "请求参数必填@#$请求参数必填，请检查参数确保正确填写"
                  },
                  "10909001002": {
                    "summary": "请求参数解析异常，参数类型与预期不符合@#$请求参数异常，请联系平台运营人员"
                  },
                  "10909011011": {
                    "summary": "门店Id不归属于当前登录Pin,无权查看@#$请切换使用当前登录Pin下绑定的秒送门店ID，进行数据查询"
                  },
                  "10909011010": {
                    "summary": "门店ID 未入驻京准通，无法调用@#$请在秒送侧选择当前门店，点击门店推广，按照引导完成京准通入驻后，即可调用"
                  },
                  "10909009999": {
                    "summary": "系统异常，请稍后重试@#$系统异常，请稍后重试,如有疑问请联系平台运营人员"
                  },
                  "10909001009": {
                    "summary": "当前账户访问授权账户验证失败@#$授权验证失败，无法查看accountId对应账户数据，请联系平台运营人员"
                  },
                  "10909001008": {
                    "summary": "授权模式参数校验失败@#$授权模式参数校验失败，authType存在时，accountId不能为空，请检查参数确保正确填写"
                  },
                  "10909001007": {
                    "summary": "当前请求被限流，请稍后重试@#$当前请求被限流，请降低调用频率，稍后重试"
                  },
                  "10909001006": {
                    "summary": "待查看的账户ID未入驻京准通，无法调用@#$当前被访问的账号ID未入驻京准通，无法调用，如需查看京准通数据，请先前往京准通完成入驻后在调用"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchPutAdsGroupStateRequest": {
        "type": "object",
        "properties": {
          "batchPutAdsGroupStateRequest": {
            "description": "请求入参 | 必填",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.adgroup.dto.request.BatchPutAdsGroupStateRequest",
            "type": "object",
            "properties": {
              "accountId": {
                "description": "投放账号id",
                "type": "integer",
                "default": 0
              },
              "siteId": {
                "description": "站点  默认是京准通0 | 默认: 0 | 必填",
                "type": "integer",
                "default": 0
              },
              "josApiName": {
                "description": "josApiName | 默认: getAdsCampaign | 必填",
                "type": "string",
                "default": "getAdsCampaign"
              },
              "tenantCode": {
                "description": "租户code  固定值JZT_JDR | 默认: JZT_JDR | 必填",
                "type": "string",
                "default": "JZT_JDR"
              },
              "authType": {
                "description": "授权模式",
                "type": "string",
                "default": ""
              },
              "requestFrom": {
                "description": "请求来源JOS 固定值 | 默认: JOS | 必填",
                "type": "string",
                "default": "JOS"
              },
              "pin": {
                "description": "sdk鉴权后，实际查询数据归属的投放pin | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "adsGroupStateDTO": {
                "description": "入参信息 | 必填",
                "x-java-type": "com.jd.ads.rtbad.api.openapi.adgroup.dto.AdsGroupStateDTO",
                "type": "object",
                "properties": {
                  "adGroupIdList": {
                    "description": "单于id列表 | 必填",
                    "x-java-type": "java.lang.Long[]",
                    "type": "object"
                  },
                  "operateType": {
                    "description": "启停操作：1=暂停; 2=启动 | 必填",
                    "type": "integer",
                    "default": 0
                  }
                },
                "required": [
                  "adGroupIdList",
                  "operateType"
                ]
              },
              "appKey": {
                "description": "应用标识 | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "josRemoteIp": {
                "description": "客户端IP | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              }
            },
            "required": [
              "siteId",
              "josApiName",
              "tenantCode",
              "requestFrom",
              "pin",
              "adsGroupStateDTO",
              "appKey",
              "josRemoteIp"
            ]
          }
        },
        "required": [
          "batchPutAdsGroupStateRequest"
        ]
      },
      "BatchPutAdsGroupStateResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "返回结果",
            "x-java-type": "java.util.List <com.jd.ads.rtbad.api.openapi.adgroup.dto.AdsGroupStateDTO>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "adGroupId": {
                  "description": "操作成功的单元id",
                  "type": "integer",
                  "default": 0
                }
              }
            }
          },
          "success": {
            "description": "是否成功",
            "type": "boolean",
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List <com.jd.ads.rtbad.api.rpc.delivery.common.dto.JosError>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "响应码",
                  "type": "string",
                  "default": ""
                },
                "details": {
                  "description": "错误详情",
                  "type": "string",
                  "default": ""
                },
                "message": {
                  "description": "错误信息",
                  "type": "string",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "BatchPutAdsCampaignStateRequest": {
        "type": "object",
        "properties": {
          "batchPutAdsCampaignStateRequest": {
            "description": "请求入参 | 必填",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.request.BatchPutAdsCampaignStateRequest",
            "type": "object",
            "properties": {
              "accountId": {
                "description": "投放账号id",
                "type": "integer",
                "default": 0
              },
              "siteId": {
                "description": "站点  默认是京准通0 | 默认: 0 | 必填",
                "type": "integer",
                "default": 0
              },
              "josApiName": {
                "description": "josApiName | 默认: getAdsCampaign | 必填",
                "type": "string",
                "default": "getAdsCampaign"
              },
              "tenantCode": {
                "description": "租户code  固定值JZT_JDR | 默认: JZT_JDR | 必填",
                "type": "string",
                "default": "JZT_JDR"
              },
              "authType": {
                "description": "授权模式",
                "type": "string",
                "default": ""
              },
              "requestFrom": {
                "description": "请求来源JOS 固定值 | 默认: JOS | 必填",
                "type": "string",
                "default": "JOS"
              },
              "pin": {
                "description": "sdk鉴权后，实际查询数据归属的投放pin | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "adsCampaignStateDTO": {
                "description": "计划信息",
                "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.AdsCampaignStateDTO",
                "type": "object",
                "properties": {
                  "operateType": {
                    "description": "计划状态，1暂停，2启动 | 必填",
                    "type": "integer",
                    "default": 0
                  },
                  "campaignIdList": {
                    "description": "计划id列表 | 必填",
                    "x-java-type": "java.lang.Long[]",
                    "type": "object"
                  }
                },
                "required": [
                  "operateType",
                  "campaignIdList"
                ]
              },
              "appKey": {
                "description": "应用标识 | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "josRemoteIp": {
                "description": "客户端IP | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              }
            },
            "required": [
              "siteId",
              "josApiName",
              "tenantCode",
              "requestFrom",
              "pin",
              "appKey",
              "josRemoteIp"
            ]
          }
        },
        "required": [
          "batchPutAdsCampaignStateRequest"
        ]
      },
      "BatchPutAdsCampaignStateResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "返回数据",
            "x-java-type": "java.util.List <com.jd.ads.rtbad.api.openapi.campaign.dto.AdsCampaignStateDTO>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "description": "操作成功的计划ld",
                  "type": "integer",
                  "default": 0
                }
              }
            }
          },
          "success": {
            "description": "是否成功",
            "type": "boolean",
            "default": false
          },
          "errorList": {
            "description": "失败列表",
            "x-java-type": "java.util.List <com.jd.ads.rtbad.api.rpc.delivery.common.dto.JosError>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "响应码",
                  "type": "string",
                  "default": ""
                },
                "details": {
                  "description": "错误详情",
                  "type": "string",
                  "default": ""
                },
                "message": {
                  "description": "错误消息",
                  "type": "string",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "BatchDeleteAdsCampaignRequest": {
        "type": "object",
        "properties": {
          "batchDeleteAdsCampaignRequest": {
            "description": "请求入参 | 必填",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.request.BatchDeleteAdsCampaignRequest",
            "type": "object",
            "properties": {
              "accountId": {
                "description": "投放账号id",
                "type": "integer",
                "default": 0
              },
              "siteId": {
                "description": "站点  默认是京准通0 | 默认: 0 | 必填",
                "type": "integer",
                "default": 0
              },
              "josApiName": {
                "description": "josApiName | 默认: batchDeleteAdsCampaign | 必填",
                "type": "string",
                "default": "batchDeleteAdsCampaign"
              },
              "tenantCode": {
                "description": "租户code  固定值JZT_JDR | 默认: JZT_JDR | 必填",
                "type": "string",
                "default": "JZT_JDR"
              },
              "authType": {
                "description": "授权模式",
                "type": "string",
                "default": ""
              },
              "requestFrom": {
                "description": "请求来源JOS 固定值 | 默认: JOS | 必填",
                "type": "string",
                "default": "JOS"
              },
              "pin": {
                "description": "sdk鉴权后，实际查询数据归属的投放pin | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "adsCampaignIdList": {
                "description": "计划id列表 | 必填",
                "x-java-type": "java.lang.Long[]",
                "type": "object"
              },
              "appKey": {
                "description": "应用标识 | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "josRemoteIp": {
                "description": "客户端ip | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              }
            },
            "required": [
              "siteId",
              "josApiName",
              "tenantCode",
              "requestFrom",
              "pin",
              "adsCampaignIdList",
              "appKey",
              "josRemoteIp"
            ]
          }
        },
        "required": [
          "batchDeleteAdsCampaignRequest"
        ]
      },
      "BatchDeleteAdsCampaignResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "返回值",
            "type": "boolean",
            "default": false
          },
          "success": {
            "description": "是否成功",
            "type": "boolean",
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List <com.jd.ads.rtbad.api.rpc.delivery.common.dto.JosError>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "响应码",
                  "type": "string",
                  "default": ""
                },
                "details": {
                  "description": "错误详情",
                  "type": "string",
                  "default": ""
                },
                "message": {
                  "description": "错误信息",
                  "type": "string",
                  "default": ""
                }
              }
            }
          },
          "campaignIdList": {
            "description": "删除成功的计划id列表",
            "x-java-type": "java.util.List <java.lang.Long>",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "ListAdsGroupsRequest": {
        "type": "object",
        "properties": {
          "listAdsGroupsRequest": {
            "description": "查询参数",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.adgroup.dto.request.ListAdsGroupsRequest",
            "type": "object",
            "properties": {
              "subScenarioType": {
                "description": "门店策略：4=门店冲单，5=手动调优",
                "type": "integer",
                "default": 0
              },
              "scenarioType": {
                "description": "场景类型：17=门店运营（默认值）",
                "type": "integer",
                "default": 0
              },
              "pageSize": {
                "description": "一页个数",
                "type": "integer",
                "default": 0
              },
              "paymentType": {
                "description": "计费类型：1=总部资金；2=门店资金(KA门店推广场景必填)",
                "type": "integer",
                "default": 0
              },
              "obys": {
                "description": "排序规则",
                "type": "string",
                "default": ""
              },
              "campaignId": {
                "description": "计划id",
                "type": "integer",
                "default": 0
              },
              "nameLike": {
                "description": "单元名称模糊查询(KA门店推广场景下为门店名称模糊查询)",
                "type": "string",
                "default": ""
              },
              "page": {
                "description": "页数",
                "type": "integer",
                "default": 0
              },
              "status": {
                "description": "单元状态：1=暂停；2=启动",
                "type": "integer",
                "default": 0
              },
              "msStoreId": {
                "description": "秒送门店id",
                "type": "string",
                "default": ""
              },
              "adGroupId": {
                "description": "单元id",
                "type": "integer",
                "default": 0
              },
              "campaignNameLike": {
                "description": "计划名称模糊查询",
                "type": "string",
                "default": ""
              },
              "accountId": {
                "description": "投放账号id",
                "type": "integer",
                "default": 0
              },
              "siteId": {
                "description": "站点  默认是京准通0 | 默认: 0 | 必填",
                "type": "integer",
                "default": 0
              },
              "josApiName": {
                "description": "josApiName | 默认: listAdsGroups | 必填",
                "type": "string",
                "default": "listAdsGroups"
              },
              "tenantCode": {
                "description": "租户code  固定值JZT_JDR | 默认: JZT_JDR | 必填",
                "type": "string",
                "default": "JZT_JDR"
              },
              "authType": {
                "description": "授权模式",
                "type": "string",
                "default": ""
              },
              "requestFrom": {
                "description": "请求来源JOS 固定值 | 默认: JOS | 必填",
                "type": "string",
                "default": "JOS"
              },
              "pin": {
                "description": "sdk鉴权后，实际查询数据归属的投放pin | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "appKey": {
                "description": "应用标识 | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "josRemoteIp": {
                "description": "客户端IP | 必填",
                "x-jd-public": true,
                "type": "string",
                "default": ""
              }
            },
            "required": [
              "siteId",
              "josApiName",
              "tenantCode",
              "requestFrom",
              "pin",
              "appKey",
              "josRemoteIp"
            ]
          }
        }
      },
      "ListAdsGroupsResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "返回数据的对象",
            "x-java-type": "java.util.List <com.jd.ads.rtbad.api.openapi.adgroup.dto.report.AdsGroupDTO>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "businessType": {
                  "description": "产品线类型",
                  "type": "integer",
                  "default": 0
                },
                "businessTypeDesc": {
                  "description": "产品线类型描述",
                  "type": "string",
                  "default": ""
                },
                "campaignType": {
                  "description": "计划类型",
                  "type": "integer",
                  "default": 0
                },
                "campaignTypeDesc": {
                  "description": "计划类型描述",
                  "type": "string",
                  "default": ""
                },
                "campaignId": {
                  "description": "计划id",
                  "type": "integer",
                  "default": 0
                },
                "adGroupId": {
                  "description": "单元id",
                  "type": "integer",
                  "default": 0
                },
                "msStoreId": {
                  "description": "秒送门店id",
                  "type": "string",
                  "default": ""
                },
                "msStoreName": {
                  "description": "秒送门店名称",
                  "type": "string",
                  "default": ""
                },
                "stationAddress": {
                  "description": "秒送门店地址",
                  "type": "string",
                  "default": ""
                },
                "campaignName": {
                  "description": "计划名称",
                  "type": "string",
                  "default": ""
                },
                "scenarioType": {
                  "description": "营销场景：17=门店运营",
                  "type": "integer",
                  "default": 0
                },
                "scenarioTypeDesc": {
                  "description": "营销场景：17=门店运营",
                  "type": "string",
                  "default": ""
                },
                "subScenarioType": {
                  "description": "门店策略：4=门店冲单；5=手动调优",
                  "type": "integer",
                  "default": 0
                },
                "subScenarioTypeDesc": {
                  "description": "门店策略描述：4=门店冲单；5=手动调优",
                  "type": "string",
                  "default": ""
                },
                "paymentType": {
                  "description": "计费类型：1=总部资金；2=门店资金",
                  "type": "integer",
                  "default": 0
                },
                "paymentTypeDesc": {
                  "description": "计费类型：1=总部资金；2=门店资金",
                  "type": "string",
                  "default": ""
                },
                "timeRangeType": {
                  "description": "推广时段类型：1=自定义时段；2=门店营业时间",
                  "type": "integer",
                  "default": 0
                },
                "timeRangeTypeDesc": {
                  "description": "推广时段类型：1=自定义时段；2=门店营业时间",
                  "type": "string",
                  "default": ""
                },
                "biddingType": {
                  "description": "出价类型",
                  "type": "integer",
                  "default": 0
                },
                "biddingTypeDesc": {
                  "description": "出价类型描述：256=最大转化出价(MC)/一键推广/门店冲单；0=手动出价；32768=全能调价(oecpc)",
                  "type": "string",
                  "default": ""
                },
                "status": {
                  "description": "单元状态：1=暂停；2=启动",
                  "type": "integer",
                  "default": 0
                },
                "statusDesc": {
                  "description": "单元状态：1=暂停；2=启动",
                  "type": "string",
                  "default": ""
                },
                "fee": {
                  "description": "出价值",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "premiumCoef": {
                  "description": "溢价系数，单位%",
                  "type": "integer",
                  "default": 0
                },
                "storeBalance": {
                  "description": "门店余额",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "unifiedBudget": {
                  "description": "单元统一预算",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "startTime": {
                  "description": "计划开始日期",
                  "type": "integer",
                  "default": 0
                },
                "endTime": {
                  "description": "计划结束日期",
                  "type": "integer",
                  "default": 0
                },
                "timeRange": {
                  "description": "投放时段信息--openAllDay：是否区分周末工作日；timeRangeType:0全时段投放,1自定义时段投放，3营业时段投放；detail：一周七天每天的投放时间点，0~47分别代表0点，0:30,一直到23:30",
                  "type": "string",
                  "default": ""
                },
                "totalOrderCVS": {
                  "description": "订单转化率",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "roi": {
                  "description": "投资回报率",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "totalOrderSumDeal": {
                  "description": "订单原价交易额(元)",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "realTotalOrderSumDeal": {
                  "description": "订单交易额(元)",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "orderIdCnt": {
                  "description": "订单提升数(单)",
                  "type": "integer",
                  "default": 0
                },
                "ctr": {
                  "description": "进店率",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "impressions": {
                  "description": "曝光量",
                  "type": "integer",
                  "default": 0
                },
                "clicks": {
                  "description": "进店量",
                  "type": "integer",
                  "default": 0
                },
                "cost": {
                  "description": "当前计划消耗",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                }
              }
            }
          },
          "success": {
            "description": " 是否成功",
            "type": "boolean",
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List <com.jd.ads.rtbad.api.rpc.delivery.common.dto.JosError>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "string",
                  "default": ""
                },
                "details": {
                  "description": "详细描述与解决方案",
                  "type": "string",
                  "default": ""
                },
                "message": {
                  "description": "错误标题",
                  "type": "string",
                  "default": ""
                }
              }
            }
          },
          "paginationData": {
            "description": "分页信息",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.common.dto.PaginationData",
            "type": "object",
            "properties": {
              "currentPage": {
                "description": "当前页",
                "type": "integer",
                "default": 0
              },
              "pageSize": {
                "description": "每页大小",
                "type": "integer",
                "default": 0
              },
              "totalItems": {
                "description": "总条数",
                "type": "integer",
                "default": 0
              },
              "totalPages": {
                "description": "总页数",
                "type": "integer",
                "default": 0
              }
            }
          }
        }
      },
      "BatchPostAdsGroupRequest": {
        "type": "object",
        "properties": {
          "batchPostAdsGroupRequest": {
            "description": "计划下新增门店单元信息 | 必填",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.adgroup.dto.request.BatchPostAdsGroupRequest",
            "type": "object",
            "properties": {
              "campaignId": {
                "description": "计划id | 示例: 123456789 | 必填",
                "type": "integer",
                "example": 123456789,
                "default": 0
              },
              "adsGroupDTOList": {
                "description": "单元信息 | 必填",
                "x-java-type": "java.util.List <com.jd.ads.rtbad.api.openapi.adgroup.dto.AdsCampaignAdsGroupDTO>",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "msStoreId": {
                      "description": "秒送门店id | 示例: 111222",
                      "type": "string",
                      "example": "111222",
                      "default": ""
                    },
                    "fee": {
                      "description": "投放出价值，单位元，最多以为小数 | 示例: 2",
                      "x-java-type": "java.math.BigDecimal",
                      "type": "object"
                    },
                    "unifiedBudget": {
                      "description": "门店预算值，单位元，不支持小数点 | 示例: 50",
                      "x-java-type": "java.math.BigDecimal",
                      "type": "object"
                    }
                  }
                }
              },
              "accountId": {
                "description": "投放账号id | 示例: 177204",
                "type": "integer",
                "example": 177204,
                "default": 0
              },
              "siteId": {
                "description": "示例: 0 | 默认: 0",
                "type": "integer",
                "example": 0,
                "default": 0
              },
              "josApiName": {
                "description": "示例: batchPostAdsCampaignAdsGroup | 默认: batchPostAdsCampaignAdsGroup",
                "type": "string",
                "example": "batchPostAdsCampaignAdsGroup",
                "default": "batchPostAdsCampaignAdsGroup"
              },
              "tenantCode": {
                "description": "示例: JZT_JDR | 默认: JZT_JDR",
                "type": "string",
                "example": "JZT_JDR",
                "default": "JZT_JDR"
              },
              "authType": {
                "description": "授权模式 0无授权 1普通授权 2主子授权 3代理授权 4秒送门店授权 | 示例: 4",
                "type": "string",
                "example": "4",
                "default": ""
              },
              "requestFrom": {
                "description": "示例: JOS | 默认: JOS",
                "type": "string",
                "example": "JOS",
                "default": "JOS"
              },
              "pin": {
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "appKey": {
                "x-jd-public": true,
                "type": "string",
                "default": ""
              },
              "josRemoteIp": {
                "x-jd-public": true,
                "type": "string",
                "default": ""
              }
            },
            "required": [
              "campaignId",
              "adsGroupDTOList"
            ]
          }
        },
        "required": [
          "batchPostAdsGroupRequest"
        ]
      },
      "BatchPostAdsGroupResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "单元列表信息",
            "x-java-type": "java.util.List <com.jd.ads.rtbad.api.openapi.adgroup.dto.AdsGroupDTO>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "adGroupId": {
                  "description": "单元id | 示例: 12345678",
                  "type": "integer",
                  "example": 12345678,
                  "default": 0
                },
                "msStoreId": {
                  "description": "门店id | 示例: 123",
                  "type": "string",
                  "example": "123",
                  "default": ""
                }
              }
            }
          },
          "success": {
            "description": "是否成功 | 示例: true",
            "type": "boolean",
            "example": true,
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List <com.jd.ads.platform.finance.component.janus.vo.JosError>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "返回错误码 | 示例: 10902001001",
                  "type": "string",
                  "example": "10902001001",
                  "default": ""
                },
                "details": {
                  "description": "返回码描述 | 示例: 单元实体必填参数为空",
                  "type": "string",
                  "example": "单元实体必填参数为空",
                  "default": ""
                },
                "message": {
                  "description": "错误标题 | 示例: 单元实体必填参数为空",
                  "type": "string",
                  "example": "单元实体必填参数为空",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "PatchAdsCampaignRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "description": "计划id | 示例: 123456789 | 必填",
            "type": "integer",
            "example": 123456789,
            "default": 0
          },
          "patchAdsCampaignRequest": {
            "description": "业务参数",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.request.PatchAdsCampaignRequest",
            "type": "object",
            "properties": {
              "josApiName": {
                "description": "当前接口的路径 自行录入（确认网关是否可以透传） | 示例: patchAdsCampaign | 默认: patchAdsCampaign | 必填",
                "type": "string",
                "example": "patchAdsCampaign",
                "default": "patchAdsCampaign"
              },
              "tenantCode": {
                "description": "租户code  固定值JZT_JDR | 示例: JZT_JDR | 默认: JZT_JDR | 必填",
                "type": "string",
                "example": "JZT_JDR",
                "default": "JZT_JDR"
              },
              "adsCampaignDTO": {
                "description": "计划出价信息 | 必填",
                "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.request.AdsCampaignDTO",
                "type": "object",
                "properties": {
                  "premiumCoef": {
                    "description": "出价溢价比例%，仅支持整数，0~200 | 示例: 50",
                    "type": "integer",
                    "example": 50,
                    "default": 0
                  },
                  "biddingType": {
                    "description": "出价控制方式 | 示例: 0 | 必填",
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  },
                  "name": {
                    "description": "计划名称 | 示例: 投放计划66",
                    "type": "string",
                    "example": "投放计划66",
                    "default": ""
                  }
                },
                "required": [
                  "biddingType"
                ]
              },
              "accountId": {
                "description": "查询的实际京东投放账户ID（通过前置接口获取后必传） | 示例: 17724",
                "type": "integer",
                "example": 17724,
                "default": 0
              },
              "pin": {
                "description": "sdk鉴权后，实际查询数据归属的投放pin | 示例: test_pop_115 | 必填",
                "x-jd-public": true,
                "type": "string",
                "example": "test_pop_115",
                "default": ""
              },
              "siteId": {
                "description": "站点  默认是京准通0 | 示例: 0 | 默认: 0 | 必填",
                "type": "integer",
                "example": 0,
                "default": 0
              },
              "authType": {
                "description": "授权模式 | 示例: 1",
                "type": "string",
                "example": "1",
                "default": ""
              },
              "requestFrom": {
                "description": "请求来源JOS 固定值 | 示例: JOS | 默认: JOS | 必填",
                "type": "string",
                "example": "JOS",
                "default": "JOS"
              },
              "appKey": {
                "description": "应用标识 | 示例: 7f1bcd13fc57d46bac21793a18e560 | 必填",
                "x-jd-public": true,
                "type": "string",
                "example": "7f1bcd13fc57d46bac21793a18e560",
                "default": ""
              },
              "josRemoteIp": {
                "description": "客户端IP | 示例: 127.0.0.1 | 必填",
                "x-jd-public": true,
                "type": "string",
                "example": "127.0.0.1",
                "default": ""
              }
            },
            "required": [
              "josApiName",
              "tenantCode",
              "adsCampaignDTO",
              "pin",
              "siteId",
              "requestFrom",
              "appKey",
              "josRemoteIp"
            ]
          }
        },
        "required": [
          "campaignId"
        ]
      },
      "PatchAdsCampaignResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "修改出价实体信息",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.request.AdsCampaignDTO",
            "type": "object",
            "properties": {
              "campaignId": {
                "description": "计划id | 示例: 123456789",
                "type": "integer",
                "example": 123456789,
                "default": 0
              }
            }
          },
          "success": {
            "description": "是否成功 | 示例: true",
            "type": "boolean",
            "example": true,
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List <com.jd.ads.platform.finance.component.janus.vo.JosError>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "错误码 | 示例: 10901001001",
                  "type": "string",
                  "example": "10901001001",
                  "default": ""
                },
                "details": {
                  "description": "返回描述码 | 示例: 计划实体必填参数为空",
                  "type": "string",
                  "example": "计划实体必填参数为空",
                  "default": ""
                },
                "message": {
                  "description": "缺少必要参数 | 示例: 请检查入参重新请求",
                  "type": "string",
                  "example": "请检查入参重新请求",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "PostAdsCampaignRequest": {
        "type": "object",
        "properties": {
          "postAdsCampaignRequest": {
            "description": "一页创编信息",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.request.PostAdsCampaignRequest",
            "type": "object",
            "properties": {
              "adsCampaignDTO": {
                "description": "计划信息",
                "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.request.AdsCampaignDTO",
                "type": "object",
                "properties": {
                  "subScenarioType": {
                    "description": "子场景类型：4门店冲单 | 示例: 4",
                    "type": "integer",
                    "example": 4,
                    "default": 0
                  },
                  "scenarioType": {
                    "description": "场景类型 | 示例: 17",
                    "type": "integer",
                    "example": 17,
                    "default": 0
                  },
                  "orientJdoDTO": {
                    "description": "定向溢价信息",
                    "x-java-type": "com.jd.ads.rtbad.api.openapi.adgroup.dto.OrientJdoDTO",
                    "type": "object",
                    "properties": {
                      "categoryPreferenceDTOList": {
                        "description": "类别偏好加价",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "price": {
                            "description": "定向标签溢价的值 | 示例: 2",
                            "x-java-type": "java.math.BigDecimal",
                            "type": "object"
                          },
                          "value": {
                            "description": "定向标签id | 示例: 123",
                            "type": "string",
                            "example": "123",
                            "default": ""
                          }
                        }
                      },
                      "deliveryDistanceDTOList": {
                        "description": "配送距离加价设置",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "price": {
                            "description": "定向标签溢价的值 | 示例: 2",
                            "x-java-type": "java.math.BigDecimal",
                            "type": "object"
                          },
                          "value": {
                            "description": "定向标签id | 示例: 124",
                            "type": "string",
                            "example": "124",
                            "default": ""
                          }
                        }
                      },
                      "perAvgPaymentDTOList": {
                        "description": "人均实付金额定向",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "price": {
                            "description": "定向标签溢价的值 | 示例: 2",
                            "x-java-type": "java.math.BigDecimal",
                            "type": "object"
                          },
                          "value": {
                            "description": "定向标签id | 示例: 125",
                            "type": "string",
                            "example": "125",
                            "default": ""
                          }
                        }
                      },
                      "areaTypeDTOList": {
                        "description": "区域类型加价",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "price": {
                            "description": "定向标签溢价的值 | 示例: 2",
                            "x-java-type": "java.math.BigDecimal",
                            "type": "object"
                          },
                          "value": {
                            "description": "定向标签id | 示例: 126",
                            "type": "string",
                            "example": "126",
                            "default": ""
                          }
                        }
                      },
                      "timeRangeCoefDTO": {
                        "description": "时段加价",
                        "x-java-type": "com.jd.ads.rtbad.api.openapi.adgroup.dto.StoreCampaignTimeRangeCoefJdoDTO",
                        "type": "object",
                        "properties": {
                          "openAllDayFlag": {
                            "description": "选择自定义时段时，true不区分工作日周末，false区分工作日周末 | 示例: true",
                            "type": "boolean",
                            "example": true,
                            "default": false
                          },
                          "weekDayTimeRangePriceCoefDTOList": {
                            "description": "工作日时段溢价",
                            "x-java-type": "java.util.List",
                            "type": "object",
                            "properties": {
                              "timeRangeType": {
                                "description": "时段枚举，早餐、午餐、下午茶、晚餐、夜宵 | 示例: 1",
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "priceCoef": {
                                "description": "溢价系数，0~1 | 示例: 1",
                                "type": "string",
                                "example": "1",
                                "default": ""
                              },
                              "timeRange": {
                                "description": "时间段，格式：00:00-05:00 | 示例: 00:00-05:00",
                                "type": "string",
                                "example": "00:00-05:00",
                                "default": ""
                              }
                            }
                          },
                          "weekEndTimeRangePriceCoefDTOList": {
                            "description": "周末时段溢价",
                            "x-java-type": "java.util.List",
                            "type": "object",
                            "properties": {
                              "timeRangeType": {
                                "description": "时段枚举，早餐、午餐、下午茶、晚餐、夜宵 | 示例: 2",
                                "type": "integer",
                                "example": 2,
                                "default": 0
                              },
                              "priceCoef": {
                                "description": "溢价系数，0~1 | 示例: 1",
                                "type": "string",
                                "example": "1",
                                "default": ""
                              },
                              "timeRange": {
                                "description": "时间段，格式：00:00-05:00 | 示例: 00:00-05:00",
                                "type": "string",
                                "example": "00:00-05:00",
                                "default": ""
                              }
                            }
                          }
                        }
                      },
                      "crowdId": {
                        "description": "人群id | 示例: 1213",
                        "type": "integer",
                        "example": 1213,
                        "default": 0
                      },
                      "searchTrafficDTOList": {
                        "description": "搜索流量加价",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "price": {
                            "description": "定向标签溢价的值 | 示例: 2",
                            "x-java-type": "java.math.BigDecimal",
                            "type": "object"
                          },
                          "value": {
                            "description": "定向标签id | 示例: 123",
                            "type": "string",
                            "example": "123",
                            "default": ""
                          }
                        }
                      },
                      "customerTypeDTOList": {
                        "description": "顾客类型加价",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "price": {
                            "description": "定向标签溢价的值 | 示例: 2",
                            "x-java-type": "java.math.BigDecimal",
                            "type": "object"
                          },
                          "value": {
                            "description": "定向标签id | 示例: 123",
                            "type": "string",
                            "example": "123",
                            "default": ""
                          }
                        }
                      }
                    }
                  },
                  "adGroupCreateJdoDTO": {
                    "description": "单元创建信息",
                    "x-java-type": "com.jd.ads.rtbad.api.openapi.adgroup.dto.StoreGroupInfoJdoDTO",
                    "type": "object",
                    "properties": {
                      "premiumCoef": {
                        "description": "溢价系数 | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "biddingType": {
                        "description": "出价类型 | 示例: 0",
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "storeInfoDTOList": {
                        "description": "门店个性化设置有值",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "adGroupId": {
                            "description": "单元id | 示例: 123456789",
                            "type": "integer",
                            "example": 123456789,
                            "default": 0
                          },
                          "msStoreId": {
                            "description": "秒送门店id | 示例: 123",
                            "type": "string",
                            "example": "123",
                            "default": ""
                          },
                          "unifiedBudget": {
                            "description": "日预算 | 示例: 200",
                            "x-java-type": "java.math.BigDecimal",
                            "type": "object"
                          },
                          "fee": {
                            "description": "出价 | 示例: 3",
                            "x-java-type": "java.math.BigDecimal",
                            "type": "object"
                          }
                        }
                      }
                    }
                  },
                  "biddingType": {
                    "description": "出价类型,0手动出价 | 示例: 0",
                    "type": "integer",
                    "example": 0,
                    "default": 0
                  },
                  "fee": {
                    "description": "出价值 | 示例: 2",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "paymentType": {
                    "description": "1总部资金，2门店资金 | 示例: 2",
                    "type": "integer",
                    "example": 2,
                    "default": 0
                  },
                  "timeRangeJdoDTO": {
                    "description": "外卖投放时段设置",
                    "x-java-type": "com.jd.ads.rtbad.api.rpc.delivery.campaign.dto.CampaignTimeRangeJdoDTO",
                    "type": "object",
                    "properties": {
                      "timeRangeType": {
                        "description": "外卖：标记是否选择全时段，0是，1自定义,2营业时间 | 示例: 2",
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      },
                      "weekEndTimeRange": {
                        "description": "周末时段",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "element": {
                            "description": "周末时段 | 示例: 00:00-01:30",
                            "type": "string",
                            "example": "00:00-01:30",
                            "default": ""
                          }
                        }
                      },
                      "weekDayTimeRange": {
                        "description": "工作日时段",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "element": {
                            "description": "工作日时段 | 示例: 00:00-01:30",
                            "type": "string",
                            "example": "00:00-01:30",
                            "default": ""
                          }
                        }
                      },
                      "openAllDayFlag": {
                        "description": "选择自定义时段时，true不区分工作日周末，false区分工作日周末 | 示例: true",
                        "type": "boolean",
                        "example": true,
                        "default": false
                      },
                      "timeRange": {
                        "description": "外卖：非全时段投放时的时段信息，格式：00:00-01:30,02:00-03:30  全时段：00：00-24：00",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "element": {
                            "description": "外卖：非全时段投放时的时段信息，格式：00:00-01:30,02:00-03:30  全时段：00：00-24：00 | 示例: 00:00-01:30",
                            "type": "string",
                            "example": "00:00-01:30",
                            "default": ""
                          }
                        }
                      },
                      "timeRangePriceCoef": {
                        "description": "设置从周一到周日每天24小时的分时段溢价，默认值：{\"detail\":{\"1\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"2\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"3\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"4\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"5\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"6\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"0\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]}}} | 示例: {\"detail\":{\"1\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"2\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"3\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"4\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"5\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"6\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"0\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]}}}",
                        "type": "string",
                        "example": "{\"detail\":{\"1\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"2\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"3\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"4\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"5\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"6\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"0\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]}}}",
                        "default": ""
                      }
                    }
                  },
                  "premiumCoef": {
                    "description": "溢价系数 | 示例: 2",
                    "type": "integer",
                    "example": 2,
                    "default": 0
                  },
                  "startTime": {
                    "description": "投放周期开始时间，单位：秒 | 示例: 1756365384",
                    "type": "integer",
                    "example": 1756365384,
                    "default": 0
                  },
                  "campaignType": {
                    "description": "计划类型 | 示例: 124 | 必填",
                    "type": "integer",
                    "example": 124,
                    "default": 0
                  },
                  "name": {
                    "description": "计划名称 | 示例: 投放计划1",
                    "type": "string",
                    "example": "投放计划1",
                    "default": ""
                  },
                  "endTime": {
                    "description": "投放周期结束时间 | 示例: 1756365384",
                    "type": "integer",
                    "example": 1756365384,
                    "default": 0
                  },
                  "businessType": {
                    "description": "产品线类型 | 示例: 134217728",
                    "type": "integer",
                    "example": 134217728,
                    "default": 0
                  },
                  "campaignBudgetDTO": {
                    "description": "预算信息",
                    "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.CampaignBudgetJdoDTO",
                    "type": "object",
                    "properties": {
                      "unifiedBudget": {
                        "description": "统一预算 | 示例: 200",
                        "x-java-type": "java.math.BigDecimal",
                        "type": "object"
                      },
                      "dateRange": {
                        "description": "分日预算，范围是50-9999999之间的整数，-1代表不限预算，不设置分日预算的日期是统一预算 | 示例: {2026-01-02: 255, 2026-01-03: 300, 2026-01-05:-1}",
                        "type": "string",
                        "example": "{2026-01-02: 255, 2026-01-03: 300, 2026-01-05:-1}",
                        "default": ""
                      },
                      "increaseBudgetStatus": {
                        "description": "预算提升开关 1：开启 0：关闭 | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "increaseBudgetRadio": {
                        "description": "预算提升比例，单位（%），只支持20%，30%，50%三种比例 | 示例: 30",
                        "type": "integer",
                        "example": 30,
                        "default": 0
                      },
                      "increaseBudgetMaxCount": {
                        "description": "预算提升最大次数，支持1-5之间的整数，包含边界值 | 示例: 2",
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      },
                      "increaseBudgetExceptROI": {
                        "description": "预算提升的期望达到的投产比，设置范围0~100，最多两位小数 | 示例: 1.25",
                        "x-java-type": "java.math.BigDecimal",
                        "type": "object"
                      }
                    }
                  },
                  "uniformSpeed": {
                    "description": "顶部店铺计划必填，投放策略  0：尽快投放   1：匀速投放 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  }
                },
                "required": [
                  "campaignType"
                ]
              },
              "josApiName": {
                "description": "josApiName | 示例: postAdsCampaign | 默认: postAdsCampaign | 必填",
                "type": "string",
                "example": "postAdsCampaign",
                "default": "postAdsCampaign"
              },
              "tenantCode": {
                "description": "租户code  固定值JZT_JDR | 示例: JZT_JDR | 默认: JZT_JDR | 必填",
                "type": "string",
                "example": "JZT_JDR",
                "default": "JZT_JDR"
              },
              "accountId": {
                "description": "投放账号id | 示例: 177204",
                "type": "integer",
                "example": 177204,
                "default": 0
              },
              "pin": {
                "description": "sdk鉴权后，实际查询数据归属的投放pin | 示例: test_pop_115 | 必填",
                "x-jd-public": true,
                "type": "string",
                "example": "test_pop_115",
                "default": ""
              },
              "siteId": {
                "description": "站点  默认是京准通0 | 示例: 0 | 默认: 0 | 必填",
                "type": "integer",
                "example": 0,
                "default": 0
              },
              "authType": {
                "description": "授权模式 | 示例: 1",
                "type": "string",
                "example": "1",
                "default": ""
              },
              "requestFrom": {
                "description": "请求来源JOS 固定值 | 示例: JOS | 默认: JOS | 必填",
                "type": "string",
                "example": "JOS",
                "default": "JOS"
              },
              "appKey": {
                "description": "应用标识 | 示例: 7f1bcd13fc57d46bac21793a18e560 | 必填",
                "x-jd-public": true,
                "type": "string",
                "example": "7f1bcd13fc57d46bac21793a18e560",
                "default": ""
              },
              "josRemoteIp": {
                "description": "客户端IP | 示例: 127.0.0.1 | 必填",
                "x-jd-public": true,
                "type": "string",
                "example": "127.0.0.1",
                "default": ""
              }
            },
            "required": [
              "josApiName",
              "tenantCode",
              "pin",
              "siteId",
              "requestFrom",
              "appKey",
              "josRemoteIp"
            ]
          }
        }
      },
      "PostAdsCampaignResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "计划实体",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.request.AdsCampaignDTO",
            "type": "object",
            "properties": {
              "campaignId": {
                "description": "计划id | 示例: 123456789",
                "type": "integer",
                "example": 123456789,
                "default": 0
              }
            }
          },
          "success": {
            "description": "是否成功 | 示例: true",
            "type": "boolean",
            "example": true,
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List",
            "type": "object",
            "properties": {
              "code": {
                "description": "错误码 | 示例: 10901001001",
                "type": "string",
                "example": "10901001001",
                "default": ""
              },
              "details": {
                "description": "详细描述与解决方案 | 示例: 请填写参数计划id",
                "type": "string",
                "example": "请填写参数计划id",
                "default": ""
              },
              "message": {
                "description": "错误标题 | 示例: 缺少必要参数",
                "type": "string",
                "example": "缺少必要参数",
                "default": ""
              }
            }
          }
        }
      },
      "BatchPatchAdsCampaignRequest": {
        "type": "object",
        "properties": {
          "batchPatchAdsCampaignRequest": {
            "description": "计划更新信息实体",
            "x-java-type": "com.jd.ads.rtbad.api.openapi.campaign.dto.request.BatchPatchAdsCampaignRequest",
            "type": "object",
            "properties": {
              "adsCampaignDTOList": {
                "description": "计划业务信息",
                "x-java-type": "java.util.List <com.jd.ads.rtbad.api.openapi.campaign.dto.request.AdsCampaignDTO>",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "timeRangeJdoDTO": {
                      "description": "外卖投放时段设置",
                      "x-java-type": "com.jd.ads.rtbad.api.rpc.delivery.campaign.dto.CampaignTimeRangeJdoDTO",
                      "type": "object",
                      "properties": {
                        "timeRangeType": {
                          "description": "外卖：标记是否选择全时段，0是，1自定义 | 示例: 1",
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "weekEndTimeRange": {
                          "description": "周末时段",
                          "x-java-type": "java.util.List <java.lang.String>",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "weekDayTimeRange": {
                          "description": "工作日时段",
                          "x-java-type": "java.util.List <java.lang.String>",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "openAllDayFlag": {
                          "description": "选择自定义时段时，true不区分工作日周末，false区分工作日周末 | 示例: true",
                          "type": "boolean",
                          "example": true,
                          "default": false
                        },
                        "timeRange": {
                          "description": "外卖：非全时段投放时的时段信息，格式：00:00-01:30,02:00-03:30  全时段：00：00-24：00",
                          "x-java-type": "java.util.List <java.lang.String>",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "timeRangePriceCoef": {
                          "description": "置从周一到周日每天24小时的分时段溢价，1代表周一，0代表周日，每个price_coef中的一个值代表一天24小时每个小时的时段溢价，100代表无折扣，0代表不投放，自定义折扣范围是30-500之间的整数，默认值：{\"detail\":{\"1\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"2\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"3\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"4\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"5\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"6\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"0\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]}}} | 示例: {\"detail\":{\"1\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"2\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"3\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"4\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"5\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"6\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]},\"0\":{\"price_coef\":[100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100]}}}",
                          "type": "string",
[...]
