{
  "openapi": "3.1.0",
  "info": {
    "title": "京东开放平台 订单API",
    "description": "由 open.jd.com 概览页网络抓包自动生成。所有接口通过京东宙斯网关调用，请求体为业务参数 JSON。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.jd.com/routerjson",
      "description": "京东宙斯开放网关 (实际调用需携带 method/app_key/sign 等网关参数)"
    }
  ],
  "paths": {
    "/postOrderSerialCode": {
      "post": {
        "operationId": "postOrderSerialCode",
        "summary": "国补订单序列号上传",
        "description": "国补订单序列号（SN码）校验并上传接口\n\nJD method: POST.sp-order.v0.orders._orderId.serial-codes",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.orders._orderId.serial-codes",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrderSerialCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostOrderSerialCodeResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10201051005": {
                    "summary": "请求参数为空@#$请求参数为空"
                  },
                  "10201051006": {
                    "summary": "必填参数为空@#$必填参数为空"
                  },
                  "10201051001": {
                    "summary": "订单号不能为空@#$订单号不能为空"
                  },
                  "10201051003": {
                    "summary": "串码为空或串码类型不正确@#$串码为空或串码类型不正确"
                  },
                  "10201052004": {
                    "summary": "订单不存在或不属于当前商家@#$订单不存在或不属于当前商家"
                  },
                  "10201051002": {
                    "summary": "skuId不能为空@#$skuId不能为空"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listOrderOaidAddresses": {
      "get": {
        "operationId": "listOrderOaidAddresses",
        "summary": "批量解密订单收件人信息",
        "description": "POP、厂直用户，可通过调用该接口，对oaid进行解密，获取明文信息。\n\nJD method: GET.sp-order.v0.order-oaid-addresses",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.order-oaid-addresses",
        "x-jd-level": "R3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOrderOaidAddressesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrderOaidAddressesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10212001001": {
                    "summary": "订单OAID不能为空@#$检查请求参数中的订单OAID是否正确填写"
                  },
                  "10212002505": {
                    "summary": "未开通隐私号服务@#$虚拟号额度已用完，或未开通虚拟号服务（注意：姓名地址解密与虚拟号额度无关，如仅需获取姓名地址可调整OAID解密场景编码单独解密姓名地址），请联系商家前往服务市场购买隐私号服务包（https://fw.jd.com/main/detail/FW_GOODS-1415001）"
                  },
                  "10212002503": {
                    "summary": "未查到记录@#$请确认token、orderId、oaid参数是否正确"
                  },
                  "10212002504": {
                    "summary": "not support orderType（不支持的订单类型）@#$请参考接口文档传参"
                  },
                  "10212002501": {
                    "summary": "oaid验证错误@#$请确认orderId、oaid参数是否对应"
                  },
                  "10212002502": {
                    "summary": "当前自然日调用次数超限@#$OAID解密额度今日已用完，姓名地址解密受限（注意：1. 请使用京东无界发货避免消耗解密额度。2. 解密姓名地址仅用于发货、客服，禁止用于如对账等以外用途。3. 虚拟号解密与OAID解密额度无关，如仅需获取虚拟号可调整OAID解密场景编码单独解密虚拟号）。如遇姓名和地址限额问题，请进咚咚群10219932142联系京东人员提额。或者请下一个自然日重新调用接口。"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPostMergeDeliveryGroup": {
      "post": {
        "operationId": "batchPostMergeDeliveryGroup",
        "summary": "合单条件校验",
        "description": "合单条件校验，对同一收货人相同收货地址在同一店铺内的待发货订单，进行合并运单发货。\n\nJD method: POST.sp-order.v0.merge-delivery-groups",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.merge-delivery-groups",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPostMergeDeliveryGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPostMergeDeliveryGroupResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10211001001": {
                    "summary": "请求入参检查异常@#$根据错误提示，检测接口入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getOrder": {
      "get": {
        "operationId": "getOrder",
        "summary": "订单详情查询",
        "description": "本API提供多渠道订单详情查询功能，支持SOP/FBP/FCS/预售/厂直等多种订单类型。采用字段可选机制，调用方需明确指定需要返回的字段名。\n\nJD method: GET.sp-order.v0.orders._orderId",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.orders._orderId",
        "x-jd-level": "R3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10201001018": {
                    "summary": "商家ID不能为空@#$授权token过期，或者token和请求身份不符，刷新token后重试"
                  },
                  "10201001001": {
                    "summary": "订单号不能为空@#$订单号不能为空"
                  },
                  "10201001017": {
                    "summary": "请求参数为空@#$getOrderRequest不能为空"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listOrders": {
      "get": {
        "operationId": "listOrders",
        "summary": "订单列表查询",
        "description": "本API提供多渠道订单列表查询功能，支持SOP/FBP/FCS/预售/厂直等多种订单类型。采用字段可选机制，调用方需明确指定需要返回的字段名。\n\nJD method: GET.sp-order.v0.orders",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.orders",
        "x-jd-level": "R3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrdersResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10201001003": {
                    "summary": "含有空的订单状态@#$含有空的订单状态"
                  },
                  "10201001004": {
                    "summary": "订单状态不正确@#$含有不存在的订单状态"
                  },
                  "10201001012": {
                    "summary": "不支持的订单类型@#$仅支持18, 21, 22, 112, 75类型的订单"
                  },
                  "10201001002": {
                    "summary": "订单状态不能为空@#$订单状态必填"
                  },
                  "10201001010": {
                    "summary": "结束时间早于开始时间@#$结束时间早于开始时间"
                  },
                  "10201001011": {
                    "summary": "结束时间和开始时间的间隔大于1个月@#$结束时间和开始时间的间隔大于1个月"
                  },
                  "10201001009": {
                    "summary": "开始时间或者结束时间为空@#$开始时间或者结束时间必填"
                  },
                  "10201001007": {
                    "summary": "不支持的排序字段@#$仅支持createdTime、modifiedTime"
                  },
                  "10201001008": {
                    "summary": "不支持的排序方式@#$仅支持ASC、DESC"
                  },
                  "10201001005": {
                    "summary": "页码小于1或者太大@#$页码不能为空，不能超过300"
                  },
                  "10201001006": {
                    "summary": "页size小于1或者太大@#$页大小不能为空，不能超过100"
                  },
                  "10201001017": {
                    "summary": "请求参数为空@#$listOrdersRequest不能为空"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listCarriers": {
      "get": {
        "operationId": "listCarriers",
        "summary": "获取全量承运商",
        "description": "获得在京东Alpha平台签约并且状态正常的所有承运商列表\n\nJD method: GET.sp-order.v0.carriers",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.carriers",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCarriersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCarriersResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10203003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  },
                  "10203001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  },
                  "10203009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listContractCarrierOutlets": {
      "get": {
        "operationId": "listContractCarrierOutlets",
        "summary": "获取签约网点信息",
        "description": "获取签约网点信息\n\nJD method: GET.sp-order.v0.contract-carrier-outlets",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.contract-carrier-outlets",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListContractCarrierOutletsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListContractCarrierOutletsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10204001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  },
                  "10204009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  },
                  "10204003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postWaybillValidation": {
      "post": {
        "operationId": "postWaybillValidation",
        "summary": "下运单前置校验",
        "description": "下运单前置校验，校验地址是否可达。\n\nJD method: POST.sp-order.v0.waybills.validations",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.waybills.validations",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostWaybillValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostWaybillValidationResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  " 10205009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  },
                  "10205003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  },
                  "10205001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listSortingCodes": {
      "get": {
        "operationId": "listSortingCodes",
        "summary": "查询运单大头笔信息",
        "description": "根据运单号，查询运单大头笔信息\n\nJD method: GET.sp-order.v0.sorting-codes",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.sorting-codes",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSortingCodesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSortingCodesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10213001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  },
                  "10213009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  },
                  "10213003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchWaybill": {
      "patch": {
        "operationId": "patchWaybill",
        "summary": "更新运单",
        "description": "京东无界电子面单运单状态更新接口，提供运单取消功能。\n\nJD method: PATCH.sp-order.v0.waybills._waybillCode",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "PATCH.sp-order.v0.waybills._waybillCode",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchWaybillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchWaybillResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10206009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  },
                  "10206003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  },
                  "10206002501": {
                    "summary": "业务异常，运单取消失败@#$业务异常，运单取消失败，请稍后重试，或提工单咨询"
                  },
                  "10206002506": {
                    "summary": "运单重复取消@#$运单已经取消成功，请不要重复取消"
                  },
                  "10206002507": {
                    "summary": "运单已出站，不可取消@#$运单已出站，不支持取消操作"
                  },
                  "10206001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listPrintTemplates": {
      "get": {
        "operationId": "listPrintTemplates",
        "summary": "获取打印模板列表",
        "description": "通过接口可以获取京东官方标准面单模板和用户创建的自定义模板\n\nJD method: GET.sp-order.v0.print-templates",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.print-templates",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPrintTemplatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrintTemplatesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10208001001": {
                    "summary": "请求参数不能为空@#$请根据错误提示，检查接口入参"
                  },
                  "10208009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  },
                  "10208003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postWaybill": {
      "post": {
        "operationId": "postWaybill",
        "summary": "获取运单号",
        "description": "京东无界电子面单创建运单接口，支持POP、厂直订单，支持承运商列表：https://joyspace.jd.com/pages/kWMtdT1tap1Y4sMd4BeM。\n\nJD method: POST.sp-order.v0.waybills",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.waybills",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostWaybillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostWaybillResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10206009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  },
                  "10206003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  },
                  "10206002508": {
                    "summary": "以具体错误信息为准@#$参考错误信息进行处理"
                  },
                  "10206002501": {
                    "summary": "直营型承运商未签约,月结编码失效@#$直营型承运商未签约,月结编码失效，请在京麦后台-电子面单模块完成承运商签约。"
                  },
                  "10206002509": {
                    "summary": "以具体错误信息为准@#$参考错误信息进行处理"
                  },
                  "10206001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPostPlaintextWaybillPrintData": {
      "post": {
        "operationId": "batchPostPlaintextWaybillPrintData",
        "summary": "批量获取京配明文面单数据",
        "description": "批量获取京东物流明文面单数据接口，支持下单后获取明文面单数据，建议下单后等待3秒再调用本接口。\n\nJD method: POST.sp-order.v0.waybill-plaintext-datas.batch",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.waybill-plaintext-datas.batch",
        "x-jd-level": "R3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPostPlaintextWaybillPrintDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPostPlaintextWaybillPrintDataResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10209009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  },
                  "10214002501": {
                    "summary": "业务数据异常@#$业务数据异常，参考：https://open.jdl.com/#/open-business-document/access-guide/157/54353"
                  },
                  "10209003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  },
                  "10214001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPostWaybillPrintData": {
      "post": {
        "operationId": "batchPostWaybillPrintData",
        "summary": "获取运单打印数据",
        "description": "使用该接口可获取京东物流（京东快递、京东快运、京东大件）、众邮、德邦、跨越、顺丰、三通一达等物流服务商运单对应的密文面单信息。\n\nJD method: POST.sp-order.v0.waybill-print-datas.batch",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.waybill-print-datas.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPostWaybillPrintDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPostWaybillPrintDataResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10209009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  },
                  "10209003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  },
                  "10209001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  },
                  "10209001002": {
                    "summary": "明文打印数据承运商编码错误@#$承运商编码范围：JD、JDKY、BDB"
                  },
                  "10209002502": {
                    "summary": "未获取到商家信息@#$1、请检查请求入参的parameters参数下的字段ewCustomerCode是否是青龙商家编码（类似010K开头的编码）； 2、请检查请求入参的parameters参数下的字段ewCustomerCode是否有空格，去掉空格"
                  },
                  "10209002501": {
                    "summary": "业务数据异常@#$业务数据异常，参考：https://open.jdl.com/#/open-business-document/access-guide/157/54353"
                  },
                  "10209002504": {
                    "summary": "运单号不存在@#$检测输入的运单号是否存在"
                  },
                  "10209002503": {
                    "summary": "商家pin与商家编码校验失败并发起审批链@#$1、联系京东物流的销售审核； 2、使用京东物流销售开通的商家工作台的京东账号授权获取access_token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPostWaybillPrintCommand": {
      "post": {
        "operationId": "batchPostWaybillPrintCommand",
        "summary": "获取面单PDF或蓝牙打印指令",
        "description": "ISV或商家使用京东物流进行配送时，可通过本接口获取面单PDF或蓝牙打印指令。\n\nJD method: POST.sp-order.v0.waybill-print-commands.batch",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.waybill-print-commands.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPostWaybillPrintCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPostWaybillPrintCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10210003001": {
                    "summary": "内部服务异常@#$内部服务异常，请稍后重试，或提工单咨询"
                  },
                  "10210001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  },
                  "10210002501": {
                    "summary": "部分失败，失败**条@#$建议对失败的重新调用"
                  },
                  "10210002502": {
                    "summary": "商家PIN与商家编码校验失败@#$1、联系京东物流的销售审核； 2、使用京东物流销售开通的商家工作台的京东账号授权获取access_token"
                  },
                  "10210009999": {
                    "summary": "系统异常@#$系统异常，请稍后重试，或提工单咨询"
                  },
                  "10210002505": {
                    "summary": "包裹数量超过上限@#$建议包裹数量不超过500"
                  },
                  "10210002503": {
                    "summary": "运单数量超过上限@#$建议运单数量不超过100"
                  },
                  "10210002504": {
                    "summary": "全部失败@#$建议重新调用"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postOrderShipment": {
      "post": {
        "operationId": "postOrderShipment",
        "summary": "订单发货信息回传",
        "description": "本接口适用于SOP类型订单，厂直类型订单的出库。SOP支持整单出库，分批次出库，整单出库补发，虚拟商品出库。厂直订单支持整单出库，和整单出库补发。\n\nJD method: POST.sp-order.v0.orders._orderId.shipments",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.orders._orderId.shipments",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrderShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostOrderShipmentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10202011005": {
                    "summary": "物流公司不属于当前商家@#$请使用当前商家支持的物流公司发货"
                  },
                  "10202011004": {
                    "summary": "虚假发货校验省级地址不一致@#$检查运单号和订单上的发货地址是否一致"
                  },
                  "10202011003": {
                    "summary": "订单状态锁定或者取消，不允许出库@#$订单状态锁定或者取消，不允许出库"
                  },
                  "10202011009": {
                    "summary": "订单不存在或订单非可出库状态@#$订单号错误，或者订单状态非待出库状态"
                  },
                  "10202011002": {
                    "summary": "订单已出库@#$已出库的订单不需重复出库"
                  },
                  "10202011001": {
                    "summary": "xxx不能为空，例如出库方式shipmentType不能为空@#$按照提示给对应字段赋值"
                  },
                  "10202011010": {
                    "summary": "货到付款订单不支持分批出库@#$货到付款订单不支持分批出库"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/putOrderShipment": {
      "put": {
        "operationId": "putOrderShipment",
        "summary": "更新发货物流信息",
        "description": "本接口适用于SOP类型订单，厂直类型订单的物流信息修改。sop支持整单出库，分批次出库的修改。厂直订单仅支持整单出库的修改\n\nJD method: PUT.sp-order.v0.orders._orderId.shipments",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "PUT.sp-order.v0.orders._orderId.shipments",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutOrderShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutOrderShipmentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1020010002": {
                    "summary": "xxx不能为空，例如出库方式shipmentType不能为空@#$根据提示传入对应的参数"
                  },
                  "10202011006": {
                    "summary": "非分批出库订单，不能走分批出库类型 shipmentType=2出库@#$检查订单是否通过分批出库接口出库过，否则不能通过分批出库类出"
                  },
                  "10202011008": {
                    "summary": "修改物流信息系统失败，请联系开发人员排查@#$请联系开发人员排查"
                  },
                  "10202011007": {
                    "summary": "订单分批出库失败@#$根据具体的错误信息调整"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listWaybillTraces": {
      "get": {
        "operationId": "listWaybillTraces",
        "summary": "物流轨迹查询",
        "description": "物流轨迹查询，根据订单号或运单号，查询物流轨迹。\n\nJD method: GET.sp-order.v0.waybill-traces",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.waybill-traces",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListWaybillTracesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWaybillTracesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10207001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postOrderChildOrder": {
      "post": {
        "operationId": "postOrderChildOrder",
        "summary": "订单拆分",
        "description": "商家自主拆分订单接口，商品的出仓不同、部分商品没有库存，通过订单拆分优先处理可生产的订单，支持POP、厂直订单。\n\nJD method: POST.sp-order.v0.orders._orderId.child-orders",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.orders._orderId.child-orders",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrderChildOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostOrderChildOrderResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10201031003": {
                    "summary": "groupId不能为空、且数字不重复@#$groupId不能为空、且数字不重复"
                  },
                  "10201031002": {
                    "summary": "子单信息不能为空@#$childOrderList不能为空"
                  },
                  "10201031005": {
                    "summary": "请求参数为空@#$request不能为空"
                  },
                  "10201031004": {
                    "summary": "SKU分组信息不全或为空@#$SKU分组信息不全或为空"
                  },
                  "10201031001": {
                    "summary": "订单号不能为空@#$订单号不能为空"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/putOrderConsignee": {
      "put": {
        "operationId": "putOrderConsignee",
        "summary": "修改订单收货地址",
        "description": "修改订单收货地址，仅可修改SOP类型，且状态为等待出库的有效订单。\n\nJD method: PUT.sp-order.v0.orders._orderId.consignees",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "PUT.sp-order.v0.orders._orderId.consignees",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutOrderConsigneeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutOrderConsigneeResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10201022502": {
                    "summary": "敏感词校验系统未返回明确敏感词数据，请稍后重试@#$敏感词校验系统未返回明确敏感词数据，请稍后重试"
                  },
                  "10201022501": {
                    "summary": "敏感词校验异常，请修改后重试@#$敏感词校验异常，请修改后重试"
                  },
                  "10201021002": {
                    "summary": "修改订单地址失败@#$根据具体的错误信息进行调整"
                  },
                  "10201021001": {
                    "summary": "{xxx}不能为空，例：订单号不能为空@#$需要传入对应缺失的参数"
                  },
                  "10201022503": {
                    "summary": "敏感词校验系统异常，请稍后重试@#$敏感词校验系统异常，请稍后重试"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/putOrderVenderRemark": {
      "put": {
        "operationId": "putOrderVenderRemark",
        "summary": "添加订单备注",
        "description": "商家备注订单接口，用于对订单添加商家备注信息。\n\nJD method: PUT.sp-order.v0.orders._orderId.vender-remarks",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "PUT.sp-order.v0.orders._orderId.vender-remarks",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutOrderVenderRemarkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutOrderVenderRemarkResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10201011001": {
                    "summary": "{xxx}不能为空，比如：订单号不能为空@#$需要传入对应的参数"
                  },
                  "10201011002": {
                    "summary": "颜色标识不正确@#$检查flagId参数是否正确传递"
                  },
                  "10201011003": {
                    "summary": "商家备注超过500字符@#$商家备注超过500字符，减少备注内容"
                  },
                  "10201012505": {
                    "summary": "敏感词校验系统异常，请稍后重试！@#$敏感词校验系统异常，请稍后重试！"
                  },
                  "10201012504": {
                    "summary": "敏感词校验异常，请修改后重试@#$敏感词校验异常，请修改后重试"
                  },
                  "10201011004": {
                    "summary": "订单ID不大于0@#$传递正确的订单id"
                  },
                  "10201012501": {
                    "summary": "商家ID为空或者不大于0@#$修改商家ID"
                  },
                  "10201012503": {
                    "summary": "敏感词校验异常，请修改后重试@#$敏感词校验异常，请修改后重试"
                  },
                  "10201012502": {
                    "summary": "该笔订单为供销平台代运营订单，不支持供应商添加/修改备注@#$该笔订单为供销平台代运营订单，不支持供应商添加/修改备注"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postOrderVerificationCode": {
      "post": {
        "operationId": "postOrderVerificationCode",
        "summary": "回传核销码",
        "description": "LOC订单回传核销码给京东\n\nJD method: POST.sp-order.v0.orders._orderId.verification-codes",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "POST.sp-order.v0.orders._orderId.verification-codes",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrderVerificationCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostOrderVerificationCodeResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1020020013": {
                    "summary": "订单号不能为空@#$请补充订单号"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getVerificationCode": {
      "get": {
        "operationId": "getVerificationCode",
        "summary": "根据订单号查询核销码",
        "description": "根据京东平台订单号或卡号和卡密查询核销码详细信息，多用于码状态查询或码核销前的确认信息使用。\n\nJD method: GET.sp-order.v0.orders._orderId.verification-codes",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.orders._orderId.verification-codes",
        "x-jd-level": "R2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVerificationCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVerificationCodeResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1020080002": {
                    "summary": "验证码类型不正确@#$检查入参中的验证码类型字段，类型只能是0或者1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listOrderVerificationCode": {
      "get": {
        "operationId": "listOrderVerificationCode",
        "summary": "核销码列表查询",
        "description": "批量查询商家的码信息\n\nJD method: GET.sp-order.v0.order-verification-codes",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.order-verification-codes",
        "x-jd-level": "R2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOrderVerificationCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrderVerificationCodeResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10201071001": {
                    "summary": "请求参数：page不能为空@#$请填写正确的page，从 1 开始"
                  },
                  "10201071003": {
                    "summary": "请求参数：timeType不能为空@#$请填写正确的type，查询时间的类型，1表示码状态的修改时间，2表示订单创建时间"
                  },
                  "10201070001": {
                    "summary": "成功@#$成功"
                  },
                  "10201071002": {
                    "summary": "请求参数：type不能为空@#$请填写正确的type，1、代表POP-LOC业务"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchOrderVerificationCode": {
      "put": {
        "operationId": "patchOrderVerificationCode",
        "summary": "更新核销码",
        "description": "订单服务完成，商家可以调用该接口，进行核销码核销、冲正\n\nJD method: PUT.sp-order.v0.orders._orderId.verification-codes",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "PUT.sp-order.v0.orders._orderId.verification-codes",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchOrderVerificationCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchOrderVerificationCodeResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1020080003": {
                    "summary": "验证码信息为空@#$检查请求参数中验证码是否正确"
                  },
                  "1020080005": {
                    "summary": "验证码密码为空@#$检查请求参数中验证码密码是否正确"
                  },
                  "1020080007": {
                    "summary": "核销次数不正确@#$检查请求参数中的请求次数是否正确"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listBasicOrders": {
      "get": {
        "operationId": "listBasicOrders",
        "summary": "订单列表查询",
        "description": "本API提供多渠道订单列表查询功能，支持SOP/FBP/FCS/预售/厂直等多种订单类型。采用字段可选机制，调用方需明确指定需要返回的字段名。\n\nJD method: GET.sp-order.v0.crm-orders",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.crm-orders",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBasicOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBasicOrdersResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "50000": {
                    "summary": "成功@#$成功"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getBasicOrder": {
      "get": {
        "operationId": "getBasicOrder",
        "summary": "订单详情查询",
        "description": "本API提供多渠道订单详情查询功能，支持SOP/FBP/FCS/预售/厂直等多种订单类型。采用字段可选机制，调用方需明确指定需要返回的字段名。\n\nJD method: GET.sp-order.v0.crm-orders._orderId",
        "tags": [
          "订单API"
        ],
        "x-jd-method": "GET.sp-order.v0.crm-orders._orderId",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBasicOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBasicOrderResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10201001018": {
                    "summary": "商家ID不能为空@#$授权token过期，或者token和请求身份不符，刷新token后重试"
                  },
                  "10201001001": {
                    "summary": "订单号不能为空@#$订单号不能为空"
                  },
                  "10201001017": {
                    "summary": "请求参数为空@#$getOrderRequest不能为空"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostOrderSerialCodeRequest": {
        "type": "object",
        "properties": {
          "orderId": {
            "description": "京东订单号 | 必填",
            "type": "integer",
            "default": 0
          },
          "postOrderSerialCodeRequest": {
            "description": "请求参数 | 必填",
            "x-java-type": "com.jd.open.rest.client.order.serialcode.model.request.PostOrderSerialCodeRequest",
            "type": "object",
            "properties": {
              "orderSerialCode": {
                "description": "序列码信息",
                "x-java-type": "com.jd.open.rest.client.order.serialcode.model.dto.OrderSerialCodeDTO",
                "type": "object",
                "properties": {
                  "venderId": {
                    "description": "系统隐式传参 | 必填",
                    "x-jd-public": true,
                    "type": "integer",
                    "default": 0
                  },
                  "skuId": {
                    "description": "商品skuId",
                    "type": "integer",
                    "default": 0
                  },
                  "sceneType": {
                    "description": "报名时是否已前置上报SN至京东库：1-是、2-否",
                    "type": "integer",
                    "default": 0
                  },
                  "codeItemList": {
                    "description": "序列码列表 | 必填",
                    "x-java-type": "java.util.List <com.jd.open.rest.client.order.serialcode.model.dto.CodeItemDTO>",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "序列码类型，枚举值：SN、UPC、IMEI1、IMEI2 | 必填",
                          "type": "string",
                          "default": ""
                        },
                        "value": {
                          "description": "序列码值 | 必填",
                          "type": "string",
                          "default": ""
                        }
                      },
                      "required": [
                        "type",
                        "value"
                      ]
                    }
                  }
                },
                "required": [
                  "venderId",
                  "codeItemList"
                ]
              }
            }
          }
        },
        "required": [
          "orderId",
          "postOrderSerialCodeRequest"
        ]
      },
      "PostOrderSerialCodeResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "上传序列码响应",
            "x-java-type": "com.jd.open.rest.client.order.serialcode.model.dto.OrderSerialCodeDTO",
            "type": "object",
            "properties": {
              "orderId": {
                "description": "京东订单号",
                "type": "integer",
                "default": 0
              },
              "skuId": {
                "description": "商品skuId",
                "type": "integer",
                "default": 0
              }
            }
          },
          "success": {
            "description": "操作成功标志",
            "type": "boolean",
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List <com.jd.open.rest.client.common.Error>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "string",
                  "default": ""
                },
                "details": {
                  "description": "错误详情",
                  "type": "string",
                  "default": ""
                },
                "message": {
                  "description": "错误信息",
                  "type": "string",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "ListOrderOaidAddressesRequest": {
        "type": "object",
        "properties": {
          "listOrderOaidAddressesRequest": {
            "description": "批量解密请求参数 | 必填",
            "x-java-type": "com.jd.open.rest.client.order.model.request.ListOrderOaidAddressesRequest",
            "type": "object",
            "properties": {
              "receiptType": {
                "description": "票据类型：POP（POP订单）、 PURCHASE（供销平台订单）、 AFS（售后服务单，orderIds对应传售后服务单id）、DROPSHIP（厂直订单） | 示例: POP | 必填",
                "type": "string",
                "example": "POP",
                "default": ""
              },
              "sceneType": {
                "description": "解密场景编号。不同场景，解密策略不同。1001(非无界电子面单发货：返回姓名，详细地址，手机号);1002(线下门店发货：返回姓名，详细地址，手机号);1003(手工单发货：返回姓名，详细地址，手机号);1004(代发货：返回姓名，详细地址，手机号);1005(改地址：返回详细地址);1006(查看收件人姓名：返回姓名);1007(客户售后：返回手机号);1008（查看收货人姓名和地址：返回姓名，详细地址) | 示例: 1001 | 必填",
                "type": "string",
                "example": "1001",
                "default": ""
              },
              "expiration": {
                "description": "隐私号过期时间（单位：天） | 示例: 15 | 必填",
                "type": "integer",
                "example": 15,
                "default": 0
              },
              "appName": {
                "description": "应用名称 | 示例: test应用 | 必填",
                "type": "string",
                "example": "test应用",
                "default": ""
              },
              "dcryptOrderOaidList": {
                "description": "订单和oaid集合 | 必填",
                "x-java-type": "java.util.List <java.lang.String>",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "venderId": {
                "description": "商家id | 示例: 70277",
                "x-jd-public": true,
                "type": "integer",
                "example": 70277,
                "default": 0
              }
            },
            "required": [
              "receiptType",
              "sceneType",
              "expiration",
              "appName",
              "dcryptOrderOaidList"
            ]
          }
        },
        "required": [
          "listOrderOaidAddressesRequest"
        ]
      },
      "ListOrderOaidAddressesResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "success": {
            "description": "是否成功 | 示例: true",
            "type": "boolean",
            "example": true,
            "default": false
          },
          "data": {
            "description": "解密结果",
            "x-java-type": "java.util.List <com.jd.open.rest.client.order.model.dto.OrderOaidAddressDTO>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "orderId": {
                  "description": "订单号 | 示例: 31998231123",
                  "type": "integer",
                  "example": 31998231123,
                  "default": 0
                },
                "oaid": {
                  "description": "oaid | 示例: NTQ0N2ZmABT5Yz05DTH47QCKVJNOXZu1Yjk1MrlGOlQhw",
                  "type": "string",
                  "example": "NTQ0N2ZmABT5Yz05DTH47QCKVJNOXZu1Yjk1MrlGOlQhw",
                  "default": ""
                },
                "customerName": {
                  "description": "客户姓名，可逆密文输出，使用解密SDK解密后可得到明文 | 示例: AAQj+3uOVj86RhQ3tkZBacZalif2J4gJ11NqudsD",
                  "type": "string",
                  "example": "AAQj+3uOVj86RhQ3tkZBacZalif2J4gJ11NqudsD",
                  "default": ""
                },
                "customerMobilePhone": {
                  "description": "收件人手机号绑定的虚拟号，可逆密文输出，使用解密SDK解密后可得到明文 | 示例: AAQj+3uOVj86RhQ3tkZBacZagajkGZFfClMz3",
                  "type": "string",
                  "example": "AAQj+3uOVj86RhQ3tkZBacZagajkGZFfClMz3",
                  "default": ""
                },
                "privacyProtection": {
                  "description": "是否隐私号 | 示例: true",
                  "type": "boolean",
                  "example": true,
                  "default": false
                },
                "address": {
                  "description": "客户地址，可逆密文输出，使用解密SDK解密后可得到明文 | 示例: AAQj+3uOVj86RhQ3tkZBacZaiiOVpEP8nWHImxvdNB",
                  "type": "string",
                  "example": "AAQj+3uOVj86RhQ3tkZBacZaiiOVpEP8nWHImxvdNB",
                  "default": ""
                },
                "customerPhone": {
                  "description": "收件人固话绑定的虚拟号，可逆密文输出，使用解密SDK解密后可得到明文 | 示例: AAQj+3uOVj86RhQ3tkZBacZagajkGZFfClMz3T+XB7SPkQzetIo94szOAJOTmZyJ82xdkrTBDCxivyD",
                  "type": "string",
                  "example": "AAQj+3uOVj86RhQ3tkZBacZagajkGZFfClMz3T+XB7SPkQzetIo94szOAJOTmZyJ82xdkrTBDCxivyD",
                  "default": ""
                },
                "expiration": {
                  "description": "隐私号过期时间 | 示例: 1763720374000",
                  "type": "integer",
                  "example": 1763720374000,
                  "default": 0
                },
                "customerMobilePhoneFuzzy": {
                  "description": "收件人手机号模糊化，不可作为收件人电话号码创建快递面单，只用于配送阶段核实取件人真实手机号后四位使用 | 示例: AAQj+3uOVj86RhQ3tkZBacZawpvlHJwA5Ym7yQoHSGtpVArq7bT8EjD9Y=",
                  "type": "string",
                  "example": "AAQj+3uOVj86RhQ3tkZBacZawpvlHJwA5Ym7yQoHSGtpVArq7bT8EjD9Y=",
                  "default": ""
                }
              }
            }
          },
          "errorList": {
            "description": "异常信息列表",
            "x-java-type": "java.util.List <com.jd.open.rest.client.common.Error>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "错误码 | 示例: 10212001001",
                  "type": "string",
                  "example": "10212001001",
                  "default": ""
                },
                "details": {
                  "description": "详细描述与解决方案 | 示例: 检查请求参数中的订单OAID是否正确填写",
                  "type": "string",
                  "example": "检查请求参数中的订单OAID是否正确填写",
                  "default": ""
                },
                "message": {
                  "description": "错误标题 | 示例: 订单OAID不能为空\t",
                  "type": "string",
                  "example": "订单OAID不能为空\t",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "BatchPostMergeDeliveryGroupRequest": {
        "type": "object",
        "properties": {
          "batchPostMergeDeliveryGroupRequest": {
            "description": "批量生成订单合并发货分组接口入参 | 必填",
            "x-java-type": "com.jd.open.rest.client.order.deliverygroup.model.request.BatchPostMergeDeliveryGroupRequest",
            "type": "object",
            "properties": {
              "venderId": {
                "description": "商家ID",
                "x-jd-public": true,
                "type": "integer",
                "default": 0
              },
              "mergeDeliveryGroupList": {
                "description": "合单发货分组对象 | 必填",
                "x-java-type": "java.util.List <com.jd.open.rest.client.order.deliverygroup.model.dto.MergeDeliveryGroupDTO>",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "orderId": {
                      "description": "订单ID",
                      "type": "integer",
                      "default": 0
                    },
                    "oaid": {
                      "description": "收件人OAID信息",
                      "type": "string",
                      "default": ""
                    }
                  }
                }
              }
            },
            "required": [
              "mergeDeliveryGroupList"
            ]
          }
        },
        "required": [
          "batchPostMergeDeliveryGroupRequest"
        ]
      },
      "BatchPostMergeDeliveryGroupResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "返回数据的对象",
            "x-java-type": "java.util.List <com.jd.open.rest.client.order.deliverygroup.model.dto.MergeDeliveryGroupDTO>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mergeOrderIdList": {
                  "description": "返回数据的合单发货列表",
                  "x-java-type": "java.util.List <java.lang.Long>",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "success": {
            "description": "是否成功",
            "type": "boolean",
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List <com.jd.open.rest.client.common.Error>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "string",
                  "default": ""
                },
                "details": {
                  "description": "错误描述",
                  "type": "string",
                  "default": ""
                },
                "message": {
                  "description": "错误详情",
                  "type": "string",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "GetOrderRequest": {
        "type": "object",
        "properties": {
          "orderId": {
            "description": "京东订单ID | 示例: 318256881721 | 必填",
            "type": "integer",
            "example": 318256881721,
            "default": 0
          },
          "getOrderRequest": {
            "description": "请求参数 | 必填",
            "x-java-type": "com.jd.open.rest.client.order.model.request.GetOrderRequest",
            "type": "object",
            "properties": {
              "venderId": {
                "description": "商家ID | 示例: 70277",
                "x-jd-public": true,
                "type": "integer",
                "example": 70277,
                "default": 0
              },
              "scopeSet": {
                "description": "需返回的字段列表，与字段名保持一致。支持可选字段：appointmentCalendar、buyerRemark、consigneeInfo、outPlatformOrder、originalConsigneeInfo、globalInfo、invoiceInfo、jdFulfillmentInfo、physicalStore、paymentDetailList、paymentInfo、promiseCalendarInfo、sellerTradePriceInfo、skuItemInfoList、stepPaymentInfo、transportInfo、venderRemarkInfo、nonStandardInfo、orderFlag、socializedStoreInfo、venderStoreInfo、afsInfoList、tradeVenderInfo",
                "x-java-type": "java.util.Set",
                "type": "object",
                "properties": {
                  "fieldName": {
                    "description": "字段名 | 示例: consigneeInfo",
                    "type": "string",
                    "example": "consigneeInfo",
                    "default": ""
                  }
                }
              }
            }
          }
        },
        "required": [
          "orderId",
          "getOrderRequest"
        ]
      },
      "GetOrderResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "订单详情",
            "x-java-type": "com.jd.open.rest.client.order.model.dto.OrderDTO",
            "type": "object",
            "properties": {
              "venderId": {
                "description": "商家ID | 示例: 70221",
                "type": "integer",
                "example": 70221,
                "default": 0
              },
              "orderId": {
                "description": "京东订单号 | 示例: 303868028298",
                "type": "integer",
                "example": 303868028298,
                "default": 0
              },
              "parentOrderId": {
                "description": "直接父订单号 | 示例: 291836519741",
                "type": "integer",
                "example": 291836519741,
                "default": 0
              },
              "rootOrderId": {
                "description": "根父订单号 | 示例: 291774464727",
                "type": "integer",
                "example": 291774464727,
                "default": 0
              },
              "orderSource": {
                "description": "订单来源，未命中来源，默认返回“-1”。1：PC端订单；2：移动端订单；3：拍拍订单；5：手Q订单；8：微信订单；NCDS：农村电商；-1：历史订单暂无来源 | 示例: 8",
                "type": "string",
                "example": "8",
                "default": ""
              },
              "orderSourceDesc": {
                "description": "订单来源描述，对应订单来源标识的具体描述 | 示例: 微信订单",
                "type": "string",
                "example": "微信订单",
                "default": ""
              },
              "orderType": {
                "description": "订单类型，18：厂商直送；21：POP-FBP订单；22：POP-SOP订单类型；112：POP-FCS订单类型；75：loc订单；209：ICF工业品订单; 42：IBS订单 152：海外集运订单;193：SCF模式订单 ;\n214: 3CS-B2B服务保障交易平台订单;23：POP-LBP订单类型；24：POP-LBV订单类型；25：POP-SOPL订单类型； | 示例: 22",
                "type": "integer",
                "example": 22,
                "default": 0
              },
              "orderTypeDesc": {
                "description": "订单类型描述，对应订单类型标识的具体描述 | 示例: Pop订单类型Sop",
                "type": "string",
                "example": "Pop订单类型Sop",
                "default": ""
              },
              "orderStatus": {
                "description": "订单状态。NOT_PAY：未付款；PARTIAL_PAY：部分付款；WAIT_STOCK_OUT：等待出库；PARTIAL_STOCK_OUT：部分出库；WAIT_SELLER_DELIVERY：等待发货（仅全球购订单有该状态）；WAIT_GOODS_RECEIVE_CONFIRM：等待确认收货；RECEIPTS_CONFIRM：收款确认（服务完成）；FINISHED：完成；TRADE_CANCELED：取消；LOCKED：锁定；PAUSE：暂停 | 示例: WAIT_STOCK_OUT",
                "type": "string",
                "example": "WAIT_STOCK_OUT",
                "default": ""
              },
              "orderStatusDesc": {
                "description": "订单状态描述 | 示例: 等待出库",
                "type": "string",
                "example": "等待出库",
                "default": ""
              },
              "createdTime": {
                "description": "下单时间，毫秒时间戳 | 示例: 1729298601130",
                "type": "integer",
                "example": 1729298601130,
                "default": 0
              },
              "modifiedTime": {
                "description": "订单更新时间，毫秒时间戳 | 示例: 1729298601130",
                "type": "integer",
                "example": 1729298601130,
                "default": 0
              },
              "outboundTime": {
                "description": "订单发货时间，毫秒时间戳。分批发货场景，代表最后一次发货时间 | 示例: 1729298601130",
                "type": "integer",
                "example": 1729298601130,
                "default": 0
              },
              "finishedTime": {
                "description": "订单完成时间，毫秒时间戳 | 示例: 1729298601130",
                "type": "integer",
                "example": 1729298601130,
                "default": 0
              },
              "buyerPin": {
                "description": "买家的账号信息，区分大小写 | 示例: jd_test",
                "type": "string",
                "example": "jd_test",
                "default": ""
              },
              "xidBuyer": {
                "description": "买家的账号信息，xid加密 | 示例: o*AASkOg_bu7lLvzxPsUs5mi8FNmRkMF_9r5zn4LTCHNl5Z24dLfDjw_Cfcl5pZDQSsi1V12og",
                "type": "string",
                "example": "o*AASkOg_bu7lLvzxPsUs5mi8FNmRkMF_9r5zn4LTCHNl5Z24dLfDjw_Cfcl5pZDQSsi1V12og",
                "default": ""
              },
              "orderExt": {
                "description": "订单维度扩展字段，JSON格式，详情可查看https://open.jd.com/v2/#/faq/faq-detail?listId=147&amp;itemId=707 | 示例: {}",
                "type": "string",
                "example": "{}",
                "default": ""
              },
              "appointmentCalendar": {
                "description": "预约日历信息，可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.AppointmentCalendarDTO",
                "type": "object",
                "properties": {
                  "opPickTime": {
                    "description": "预约订单-用户预约发货时间，毫秒时间戳 | 示例: 1729298601130",
                    "type": "integer",
                    "example": 1729298601130,
                    "default": 0
                  },
                  "opDeliveredTime": {
                    "description": "预约订单-预计送达日期，毫秒时间戳。根据opPickTime计算得来，是个静态值 | 示例: 1729298601130",
                    "type": "integer",
                    "example": 1729298601130,
                    "default": 0
                  }
                }
              },
              "buyerRemark": {
                "description": "买家备注信息，可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.BuyerRemarkDTO",
                "type": "object",
                "properties": {
                  "remark": {
                    "description": "买家下单时订单备注 | 示例: 尽快发货",
                    "type": "string",
                    "example": "尽快发货",
                    "default": ""
                  }
                }
              },
              "consigneeInfo": {
                "description": "收货人信息。商家发货以此地址为准。当订单为海外集运仓、新疆中转仓、鉴定仓业务时，收货人信息为仓收货人信息。当为普通商家业务，收货人信息为最终收货人信息。可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.ConsigneeInfoDTO",
                "type": "object",
                "properties": {
                  "fullName": {
                    "description": "收货人姓名 | 示例: 张**",
                    "type": "string",
                    "example": "张**",
                    "default": ""
                  },
                  "telephone": {
                    "description": "固定电话 | 示例: 133*******1",
                    "type": "string",
                    "example": "133*******1",
                    "default": ""
                  },
                  "mobile": {
                    "description": "脱敏手机号。云交易密文订单（cloudTradeCrypto标记）返回密文，可拿密文使用外部打单工具打单。如需明文，请使用jingdong.pop.order.getmobilelist接口。 | 示例: 133*******1",
                    "type": "string",
                    "example": "133*******1",
                    "default": ""
                  },
                  "fullAddress": {
                    "description": "详细地址 | 示例: 北京市海淀区******",
                    "type": "string",
                    "example": "北京市海淀区******",
                    "default": ""
                  },
                  "provinceName": {
                    "description": "省份名称 | 示例: 北京市",
                    "type": "string",
                    "example": "北京市",
                    "default": ""
                  },
                  "cityName": {
                    "description": "城市名称 | 示例: 北京市",
                    "type": "string",
                    "example": "北京市",
                    "default": ""
                  },
                  "countyName": {
                    "description": "区县名称 | 示例: 朝阳区",
                    "type": "string",
                    "example": "朝阳区",
                    "default": ""
                  },
                  "townName": {
                    "description": "乡镇名称 | 示例: 望京街道",
                    "type": "string",
                    "example": "望京街道",
                    "default": ""
                  },
                  "provinceId": {
                    "description": "省份ID | 示例: 110000",
                    "type": "integer",
                    "example": 110000,
                    "default": 0
                  },
                  "cityId": {
                    "description": "城市ID | 示例: 110100",
                    "type": "integer",
                    "example": 110100,
                    "default": 0
                  },
                  "countyId": {
                    "description": "区县ID | 示例: 110105",
                    "type": "integer",
                    "example": 110105,
                    "default": 0
                  },
                  "townId": {
                    "description": "乡镇ID | 示例: 110105001",
                    "type": "integer",
                    "example": 110105001,
                    "default": 0
                  },
                  "oaid": {
                    "description": "收件人唯一标识，长度为256 | 示例: Qq1n94pda1EQrStSqtaqT3A4GGEDi63Mfrz1ay7EAcbCZo1a2YNR2PaCwwY5N6UJnTHYVykvsEbkG16Zd2urHXtJsqMLrSjnqvnDixd2A6Afmqzc9mgtZXiw2CJajYrWqXJtVcbhDXQGhqS3UYspUq6Mi9VEBmQzbeYgnfwwoc3MMGSF1vhPTXvfJe6QwGF",
                    "type": "string",
                    "example": "Qq1n94pda1EQrStSqtaqT3A4GGEDi63Mfrz1ay7EAcbCZo1a2YNR2PaCwwY5N6UJnTHYVykvsEbkG16Zd2urHXtJsqMLrSjnqvnDixd2A6Afmqzc9mgtZXiw2CJajYrWqXJtVcbhDXQGhqS3UYspUq6Mi9VEBmQzbeYgnfwwoc3MMGSF1vhPTXvfJe6QwGF",
                    "default": ""
                  }
                }
              },
              "outPlatformOrder": {
                "description": "站外订单信息，可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.OutPlatformOrderDTO",
                "type": "object",
                "properties": {
                  "orderId": {
                    "description": "站外订单-订单号 | 示例: 294234734",
                    "type": "string",
                    "example": "294234734",
                    "default": ""
                  },
                  "parentOrderId": {
                    "description": "站外订单-父订单号 | 示例: 294235677",
                    "type": "string",
                    "example": "294235677",
                    "default": ""
                  },
                  "shopId": {
                    "description": "站外订单-店铺ID | 示例: 5673",
                    "type": "string",
                    "example": "5673",
                    "default": ""
                  },
                  "fullAddress": {
                    "description": "站外订单-用户收件人详细地址 | 示例: 北京亦庄经济技术开发区科创十一街18号院",
                    "type": "string",
                    "example": "北京亦庄经济技术开发区科创十一街18号院",
                    "default": ""
                  },
                  "name": {
                    "description": "站外订单-用户收件人姓名 | 示例: 张三",
                    "type": "string",
                    "example": "张三",
                    "default": ""
                  },
                  "mobile": {
                    "description": "站外订单-用户的收件人电话 | 示例: 13800138000",
                    "type": "string",
                    "example": "13800138000",
                    "default": ""
                  }
                }
              },
              "finalConsigneeInfo": {
                "description": "最终收货人信息，即用户填写的收货地址，可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.ConsigneeInfoDTO",
                "type": "object",
                "properties": {
                  "fullName": {
                    "description": "收货人姓名 | 示例: 张**",
                    "type": "string",
                    "example": "张**",
                    "default": ""
                  },
                  "telephone": {
                    "description": "固定电话 | 示例: 133*******1",
                    "type": "string",
                    "example": "133*******1",
                    "default": ""
                  },
                  "mobile": {
                    "description": "脱敏手机号。云交易密文订单（cloudTradeCrypto标记）返回密文，可拿密文使用外部打单工具打单。如需明文，请使用jingdong.pop.order.getmobilelist接口。 | 示例: 133*******1",
                    "type": "string",
                    "example": "133*******1",
                    "default": ""
                  },
                  "fullAddress": {
                    "description": "详细地址 | 示例: 北京市海淀区******",
                    "type": "string",
                    "example": "北京市海淀区******",
                    "default": ""
                  },
                  "provinceName": {
                    "description": "省份名称 | 示例: 北京市",
                    "type": "string",
                    "example": "北京市",
                    "default": ""
                  },
                  "cityName": {
                    "description": "城市名称 | 示例: 北京市",
                    "type": "string",
                    "example": "北京市",
                    "default": ""
                  },
                  "countyName": {
                    "description": "区县名称 | 示例: 朝阳区",
                    "type": "string",
                    "example": "朝阳区",
                    "default": ""
                  },
                  "townName": {
                    "description": "乡镇名称 | 示例: 望京街道",
                    "type": "string",
                    "example": "望京街道",
                    "default": ""
                  },
                  "provinceId": {
                    "description": "省份ID | 示例: 110000",
                    "type": "integer",
                    "example": 110000,
                    "default": 0
                  },
                  "cityId": {
                    "description": "城市ID | 示例: 110100",
                    "type": "integer",
                    "example": 110100,
                    "default": 0
                  },
                  "countyId": {
                    "description": "区县ID | 示例: 110105",
                    "type": "integer",
                    "example": 110105,
                    "default": 0
                  },
                  "townId": {
                    "description": "乡镇ID | 示例: 110105001",
                    "type": "integer",
                    "example": 110105001,
                    "default": 0
                  },
                  "oaid": {
                    "description": "收件人唯一标识，长度为256 | 示例: Qq1n94pda1EQrStSqtaqT3A4GGEDi63Mfrz1ay7EAcbCZo1a2YNR2PaCwwY5N6UJnTHYVykvsEbkG16Zd2urHXtJsqMLrSjnqvnDixd2A6Afmqzc9mgtZXiw2CJajYrWqXJtVcbhDXQGhqS3UYspUq6Mi9VEBmQzbeYgnfwwoc3MMGSF1vhPTXvfJe6QwGF",
                    "type": "string",
                    "example": "Qq1n94pda1EQrStSqtaqT3A4GGEDi63Mfrz1ay7EAcbCZo1a2YNR2PaCwwY5N6UJnTHYVykvsEbkG16Zd2urHXtJsqMLrSjnqvnDixd2A6Afmqzc9mgtZXiw2CJajYrWqXJtVcbhDXQGhqS3UYspUq6Mi9VEBmQzbeYgnfwwoc3MMGSF1vhPTXvfJe6QwGF",
                    "default": ""
                  }
                }
              },
              "globalInfo": {
                "description": "海关信息，可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.GlobalInfoDTO",
                "type": "object",
                "properties": {
                  "customsCode": {
                    "description": "保税区信息。guangzhou：广州南沙保税区；ningbo：宁波保税区；hangzhou：杭州萧山保税区；zhengzhou：郑州保税区；shanghai：上海保税区；chongqing：重庆保税区；shenzhen：深圳保税区；gzhuangpu：广州黄埔保税区；gzjichang：广州机场保税区；beijing：北京保税区 | 示例: beijing",
                    "type": "string",
                    "example": "beijing",
                    "default": ""
                  },
                  "customsDesc": {
                    "description": "保税区信息描述 | 示例: 北京保税区",
                    "type": "string",
                    "example": "北京保税区",
                    "default": ""
                  },
                  "customsModel": {
                    "description": "保税模式。zhiyou：直邮；jihuo：保税集货；beihuo：保税备货 | 示例: zhiyou",
                    "type": "string",
                    "example": "zhiyou",
                    "default": ""
                  },
                  "customsModelDesc": {
                    "description": "保税模式描述 | 示例: 直邮",
                    "type": "string",
                    "example": "直邮",
                    "default": ""
                  },
                  "declarationStatus": {
                    "description": "订单申报状态中文（全球购订单）。报关失败，暂停中，报关成功，申报中，清关成功，清关失败 | 示例: 报关成功",
                    "type": "string",
                    "example": "报关成功",
                    "default": ""
                  },
                  "declarationStatusDesc": {
                    "description": "订单申报状态中文状态描述 | 示例: 示例1：“清关失败[备注:用户取消订单]” 示例2：”清关失败[备注:个人年度购买超过**元限值，清关失败]“ 示例3：“赤道校验：非入京仓订单不符合申报条件，无法申报！” 示例4：“获取商家青龙业主号为空，请检查此商家是否配置” 示例5：“赤道校验：订购人与财付通支付人身份信息不一致，无法申报”",
                    "type": "string",
                    "example": "示例1：“清关失败[备注:用户取消订单]” 示例2：”清关失败[备注:个人年度购买超过**元限值，清关失败]“ 示例3：“赤道校验：非入京仓订单不符合申报条件，无法申报！” 示例4：“获取商家青龙业主号为空，请检查此商家是否配置” 示例5：“赤道校验：订购人与财付通支付人身份信息不一致，无法申报”",
                    "default": ""
                  }
                }
              },
              "invoiceInfo": {
                "description": "发票信息，可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.InvoiceInfoDTO",
                "type": "object",
                "properties": {
                  "invoiceType": {
                    "description": "发票类型。0：不开发票；1：普通发票；2：增值税发票（专票）；3：电子普票 | 示例: 0",
                    "type": "string",
                    "example": "0",
                    "default": ""
                  },
                  "invoiceTypeDesc": {
                    "description": "发票类型描述 | 示例: 不开发票",
                    "type": "string",
                    "example": "不开发票",
                    "default": ""
                  },
                  "invoiceTitle": {
                    "description": "发票抬头。个人/公司名称 | 示例: 个人",
                    "type": "string",
                    "example": "个人",
                    "default": ""
                  },
                  "invoiceContentId": {
                    "description": "发票内容ID。1：明细；2：办公用品；3：电脑配件；0：未知id。完整枚举值参考：https://joyspace.jd.com/pages/h842eHiITGlYLQAbnYyT，发票详细信息请查询：jingdong.pop.cinvoice.apply.order | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "invoiceContentDesc": {
                    "description": "发票内容 | 示例: 明细",
                    "type": "string",
                    "example": "明细",
                    "default": ""
                  },
                  "invoiceCode": {
                    "description": "发票纳税人识别号 | 示例: VLN2131312321",
                    "type": "string",
                    "example": "VLN2131312321",
                    "default": ""
                  },
                  "invoiceConsigneeEmail": {
                    "description": "电子发票联系人邮箱 | 示例: 123456789@163.com",
                    "type": "string",
                    "example": "123456789@163.com",
                    "default": ""
                  },
                  "invoiceConsigneePhone": {
                    "description": "电子发票联系人手机号 | 示例: 13307115816",
                    "type": "string",
                    "example": "13307115816",
                    "default": ""
                  },
                  "addressRegistered": {
                    "description": "注册地址 | 示例: 北京市通州区台湖镇",
                    "type": "string",
                    "example": "北京市通州区台湖镇",
                    "default": ""
                  },
                  "phoneRegistered": {
                    "description": "注册电话 | 示例: 13307115816",
                    "type": "string",
                    "example": "13307115816",
                    "default": ""
                  },
                  "depositBank": {
                    "description": "开户银行 | 示例: 中国人民银行",
                    "type": "string",
                    "example": "中国人民银行",
                    "default": ""
                  },
                  "bankAccount": {
                    "description": "银行账户 | 示例: 6217850112345678901",
                    "type": "string",
                    "example": "6217850112345678901",
                    "default": ""
                  },
                  "userAddress": {
                    "description": "收票人地址 | 示例: 北京市通州区台湖镇",
                    "type": "string",
                    "example": "北京市通州区台湖镇",
                    "default": ""
                  },
                  "userName": {
                    "description": "收票人姓名 | 示例: 张三",
                    "type": "string",
                    "example": "张三",
                    "default": ""
                  },
                  "userPhone": {
                    "description": "收票人电话 | 示例: 13307115816",
                    "type": "string",
                    "example": "13307115816",
                    "default": ""
                  },
                  "invoicePersonalName": {
                    "description": "电子普通发票的个人姓名 | 示例: 张三",
                    "type": "string",
                    "example": "张三",
                    "default": ""
                  },
                  "invoiceStatus": {
                    "description": "发票状态。1：待开票；3：开票中；4：开票成功；5：开票失败；6：冲红中；7：冲红成功；8：冲红失败； 9：已驳回；11：蓝票审核失败；12：红票审核失败；13：待换开；14：换开中；15：换开驳回；16：退款关闭；17：协商关闭 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "invoiceStatusDesc": {
                    "description": "发票状态描述 | 示例: 待开票",
                    "type": "string",
                    "example": "待开票",
                    "default": ""
                  }
                }
              },
              "jdFulfillmentInfo": {
                "description": "京仓京配信息，可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.JdFulfillmentInfoDTO",
                "type": "object",
                "properties": {
                  "rdcId": {
                    "description": "配送中心ID | 示例: 12",
                    "type": "integer",
                    "example": 12,
                    "default": 0
                  },
                  "rdcDesc": {
                    "description": "配送中心名称 | 示例: 某配送中心",
                    "type": "string",
                    "example": "某配送中心",
                    "default": ""
                  },
                  "jdStoreId": {
                    "description": "京仓仓库Id | 示例: 110008191",
                    "type": "integer",
                    "example": 110008191,
                    "default": 0
                  }
                }
              },
              "physicalStore": {
                "description": "商家线下门店（门店帮业务），可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.PhysicalStoreDTO",
                "type": "object",
                "properties": {
                  "storeId": {
                    "description": "商家门店Id。门店业务下，京东分单、商家分单时，此ID有值。 | 示例: 789",
                    "type": "integer",
                    "example": 789,
                    "default": 0
                  },
                  "salesStoreId": {
                    "description": "门店帮业务--导购员门店ID | 示例: 7890123456",
                    "type": "integer",
                    "example": 7890123456,
                    "default": 0
                  },
                  "salesPin": {
                    "description": "导购员pin。线下门店导购员销售的订单，导购员的标记 | 示例: hys7975",
                    "type": "string",
                    "example": "hys7975",
                    "default": ""
                  }
                }
              },
              "paymentDetailList": {
                "description": "订单金额信息，可选字段。需要订单到达可生产状态才会返回，一般为待出库状态",
                "x-java-type": "java.util.List",
                "type": "object",
                "properties": {
                  "paymentDetailListItem": {
                    "x-java-type": "com.jd.open.rest.client.order.model.dto.data.PaymentDetailDTO",
                    "type": "object",
                    "properties": {
                      "skuUuid": {
                        "description": "商品uuid | 示例: 1012_F2SB2E1406354364700209152",
                        "type": "string",
                        "example": "1012_F2SB2E1406354364700209152",
                        "default": ""
                      },
                      "skuId": {
                        "description": "商品id | 示例: 6941851004028",
                        "type": "integer",
                        "example": 6941851004028,
                        "default": 0
                      },
                      "skuType": {
                        "description": "商品类型。1：单品；2：赠品套装中的主商品；3：赠品套装中的赠品；4：套装中的主商品；5：套装中的赠品；6：加价购赠品；7：延保通；8：延保通赠品 | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "skuTypeDesc": {
                        "description": "商品类型名称 | 示例: 单品",
                        "type": "string",
                        "example": "单品",
                        "default": ""
                      },
                      "skuNum": {
                        "description": "商品数量 | 示例: 2",
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      },
                      "amountExpandList": {
                        "description": "费用扩展列表",
                        "x-java-type": "java.util.List",
                        "type": "object",
                        "properties": {
                          "amountExpandListItem": {
                            "x-java-type": "com.jd.open.rest.client.order.model.dto.data.AmountExpandDTO",
                            "type": "object",
                            "properties": {
                              "type": {
                                "description": "金额类型 | 示例: 1",
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "typeName": {
                                "description": "金额类型，详细信息见：https://open.jd.com/v2/#/doc/scene?listId=2168 | 示例: 京券",
                                "type": "string",
                                "example": "京券",
                                "default": ""
                              },
                              "amount": {
                                "description": "分堆到sku上的每个金额项的金额，元 | 示例: 100.00",
                                "x-java-type": "java.math.BigDecimal",
                                "type": "object"
                              },
                              "orderCostAmountList": {
                                "description": "订单费用明细",
                                "x-java-type": "java.util.List",
                                "type": "object",
                                "properties": {
                                  "orderCostAmountListItem": {
                                    "x-java-type": "com.jd.open.rest.client.order.model.dto.data.OrderCostAmountDTO",
                                    "type": "object",
                                    "properties": {
                                      "bearer": {
                                        "description": "承担方：1-京东、2-商家、5-政府、6-用户 | 示例: 1",
                                        "type": "integer",
                                        "example": 1,
                                        "default": 0
                                      },
                                      "bearRate": {
                                        "description": "承担比例，小数表示。 | 示例: 0.5",
                                        "x-java-type": "java.math.BigDecimal",
                                        "type": "object"
                                      },
                                      "bearAmount": {
                                        "description": "承担金额，单位：元 | 示例: 50.00",
                                        "x-java-type": "java.math.BigDecimal",
                                        "type": "object"
                                      }
                                    }
                                  }
                                }
                              },
                              "activityId": {
                                "description": "活动id | 示例: 230030214333",
                                "type": "string",
                                "example": "230030214333",
                                "default": ""
                              },
                              "activityName": {
                                "description": "活动名称 | 示例: 促销测试DLY",
                                "type": "string",
                                "example": "促销测试DLY",
                                "default": ""
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "paymentInfo": {
                "description": "支付信息，可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.PaymentInfoDTO",
                "type": "object",
                "properties": {
                  "paymentType": {
                    "description": "支付方式。1：货到付款；2：邮局汇款；3：自提；4：在线支付；5：公司转账；6：银行卡转账 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "paymentTypeDesc": {
                    "description": "支付方式描述 | 示例: 货到付款",
                    "type": "string",
                    "example": "货到付款",
                    "default": ""
                  },
                  "paymentConfirmTime": {
                    "description": "系统付款确认时间，毫秒时间戳 | 示例: 1729298601130",
                    "type": "integer",
                    "example": 1729298601130,
                    "default": 0
                  },
                  "shouldPayAmount": {
                    "description": "买家应付总额 （扣除优惠后，买家应该支付金额）= 订单商品原价总额 - 订单优惠总额 + 订单运费 + 税费 + 服务费 -+调整运费金额，单位：元（保留2位小数） | 示例: 100.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "actualPayAmount": {
                    "description": "买家实付总额（买家实际支付金额） = 买家应付总额 - 支付优惠总额，单位：元（保留2位小数） | 示例: 90.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "payDiscountAmount": {
                    "description": "支付工具优惠金额（例如支付有礼），单位：元（保留2位小数） | 示例: 10.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "freightFee": {
                    "description": "订单商品的运费，单位：元（保留2位小数） | 示例: 10.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "serviceFeeInfo": {
                    "description": "服务费用信息",
                    "x-java-type": "com.jd.open.rest.client.order.model.dto.data.ServiceFeeInfoDTO",
                    "type": "object",
                    "properties": {
                      "serviceFee": {
                        "description": "落地配服务费，单位：元（保留2位小数） | 示例: 50.00",
                        "x-java-type": "java.math.BigDecimal",
                        "type": "object"
                      }
                    }
                  },
                  "taxInfo": {
                    "description": "税费信息",
                    "x-java-type": "com.jd.open.rest.client.order.model.dto.data.TaxInfoDTO",
                    "type": "object",
                    "properties": {
                      "taxFee": {
                        "description": "全球购订单税费，单位：元（保留两位小数） | 示例: 5.00",
                        "x-java-type": "java.math.BigDecimal",
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "promiseCalendarInfo": {
                "description": "承诺发货时效，（备注：商家在京麦后台承诺发货时效），订单状态为WAIT_SELLER_STOCK_OUT且配置了履约时效模板时有值。可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.PromiseCalendarDTO",
                "type": "object",
                "properties": {
                  "promisePickTime": {
                    "description": "商家承诺最晚出库时间，毫秒时间戳，待出库状态才有值 | 示例: 1729298601130",
                    "type": "integer",
                    "example": 1729298601130,
                    "default": 0
                  }
                }
              },
              "sellerTradePriceInfo": {
                "description": "卖家货款信息，可选字段",
                "x-java-type": "com.jd.open.rest.client.order.model.dto.data.SellerTradePriceInfoDTO",
                "type": "object",
                "properties": {
                  "totalOriginalPriceAmount": {
                    "description": "订单商品原价总额 = ΣSKU京东价*SKU数量（商品京东价合计），单位元 | 示例: 1000.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "totalSellerDiscountAmount": {
                    "description": "商家承担优惠总额 ，单位元 | 示例: 100.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "totalSellerReceivableAmount": {
                    "description": "商家应收商品货款总额(单位：元)，不包含运费、服务费、佣金。(应收商品货款总额 = 【商品原价总额totalOriginalPrice - (商家承担优惠总额totalSellerDiscount - 商家承担运费优惠总额)】，该字段为实时计算数据，存在6秒-1分延迟。 | 示例: 900.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  }
                }
              },
              "skuItemInfoList": {
                "description": "订单商品信息，可选字段",
                "x-java-type": "java.util.List",
                "type": "object",
                "properties": {
                  "skuItemInfoListItem": {
                    "x-java-type": "com.jd.open.rest.client.order.model.dto.data.SkuItemDTO",
                    "type": "object",
                    "properties": {
                      "skuId": {
                        "description": "京东内部SKU的ID。如同一SKU返回多行，可通过skuUuid区分。 | 示例: 10068177834453",
                        "type": "integer",
                        "example": 10068177834453,
                        "default": 0
                      },
                      "outerSkuId": {
                        "description": "SKU外部ID，对应商家的SKU的ID。极端情况下不保证返回，建议从商品接口获取 | 示例: 8832",
                        "type": "string",
                        "example": "8832",
                        "default": ""
                      },
                      "skuUuid": {
                        "description": "商品行，订单商品唯一标识。如同一SKU返回多行，可通过skuUuid区分。 | 示例: 1012_F2SB2E1406354364700209152",
                        "type": "string",
                        "example": "1012_F2SB2E1406354364700209152",
                        "default": ""
                      },
                      "skuName": {
                        "description": "SKU名称 | 示例: 示例商品",
                        "type": "string",
                        "example": "示例商品",
                        "default": ""
                      },
                      "productId": {
                        "description": "京东内部商品ID | 示例: 10026775773899",
                        "type": "integer",
                        "example": 10026775773899,
                        "default": 0
                      },
                      "thirdCategoryId": {
                        "description": "商品的3级类目id，不一定是最末级类目 | 示例: 21919",
                        "type": "integer",
                        "example": 21919,
                        "default": 0
                      },
                      "skuType": {
                        "description": "商品类型。1：单品；2：赠品套装中的主商品；3：赠品套装中的赠品；4：套装中的主商品；5：套装中的赠品；6：加价购赠品；7：延保通；8：延保通赠品 | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "num": {
                        "description": "商品数量 | 示例: 2",
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      },
                      "jdPrice": {
                        "description": "商品的京东价，单价，单位元（保留两位小数），不乘以数量 | 示例: 99.00",
                        "x-java-type": "java.math.BigDecimal",
                        "type": "object"
                      },
                      "giftPoint": {
                        "description": "赠送的积分 | 示例: 100",
                        "type": "integer",
                        "example": 100,
                        "default": 0
                      },
                      "productNo": {
                        "description": "商品货号 | 示例: 1856",
[...]
