{
  "openapi": "3.1.0",
  "info": {
    "title": "京东开放平台 售后API",
    "description": "由 open.jd.com 概览页网络抓包自动生成。所有接口通过京东宙斯网关调用，请求体为业务参数 JSON。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.jd.com/routerjson",
      "description": "京东宙斯开放网关 (实际调用需携带 method/app_key/sign 等网关参数)"
    }
  ],
  "paths": {
    "/listCompensationForms": {
      "get": {
        "operationId": "listCompensationForms",
        "summary": "分页查询赔付单记录",
        "description": "分页查询赔付单记录\n\nJD method: GET.sp-aftercare.v0.compensation-forms",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "GET.sp-aftercare.v0.compensation-forms",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCompensationFormsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCompensationFormsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1030010004": {
                    "summary": "页码超出范围(1-200)@#$页码必须在1-200内"
                  },
                  "1030010005": {
                    "summary": "每页大小超出范围(1-50)@#$页大小必须在1-50内"
                  },
                  "1030010006": {
                    "summary": "结束时间不能早于开始时间@#$结束时间要晚于开始时间"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postAfsOrderNote": {
      "post": {
        "operationId": "postAfsOrderNote",
        "summary": "保存服务单备注",
        "description": "保存服务单备注，一个服务单可保存多条备注，服务单备注仅客服和商家能够查看\n\nJD method: POST.sp-aftercare.v0.afs-orders._afsOrderId.notes",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "POST.sp-aftercare.v0.afs-orders._afsOrderId.notes",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAfsOrderNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAfsOrderNoteResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10301011002": {
                    "summary": "服务单不存在@#$检查服务单id是否正确传递"
                  },
                  "10301011001": {
                    "summary": "{xxx}不能为空，例：保存备注信息不能为空@#$补充传入对应的参数信息"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listAfsOrderLogs": {
      "get": {
        "operationId": "listAfsOrderLogs",
        "summary": "查询服务单日志列表",
        "description": "查询服务单日志列表，用于展示某服务单下的操作日志信息\n\nJD method: GET.sp-aftercare.v0.afs-orders._afsOrderId.logs",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "GET.sp-aftercare.v0.afs-orders._afsOrderId.logs",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAfsOrderLogsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAfsOrderLogsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1030010012": {
                    "summary": "售后单号不能为空@#$请检查请求参数中的服务单号，确保服务单号不能为空"
                  },
                  "1030010019": {
                    "summary": "售后单商家ID不能为空@#$确认商家已完成授权且在有效期内"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchAfsOrder": {
      "patch": {
        "operationId": "patchAfsOrder",
        "summary": "售后服务单操作",
        "description": "售后服务单操作，包含商家审核操作-退款审核、拒绝服务单、审核为不退货补发新品、审核为线下补发商品、客户发货、客户送货到站点、上门取件、待客户反馈、审核驳回等；厂直的取消单审核等\n\nJD method: PATCH.sp-aftercare.v0.afs-orders._afsOrderId",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "PATCH.sp-aftercare.v0.afs-orders._afsOrderId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAfsOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAfsOrderResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10301001002": {
                    "summary": "分页参数pageSize（或其他字段）不正确@#$检查分页参数pageSize（或其他字段）字段传值是否正确"
                  },
                  "10301001001": {
                    "summary": "售后服务单（或其他字段）不能为空@#$确认售后服务单（或其他字段）字段是否填写"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAfsOrderPreFillInfo": {
      "get": {
        "operationId": "getAfsOrderPreFillInfo",
        "summary": "查询售后服务单预填信息",
        "description": "商家审核/收货/处理售后服务单前，查询退货地址、审核原因、申请原因等前置核心信息\n\nJD method: GET.sp-aftercare.v0.afs-orders._afsOrderId.afs-order-pre-fill-infoes",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "GET.sp-aftercare.v0.afs-orders._afsOrderId.afs-order-pre-fill-infoes",
        "x-jd-level": "R3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAfsOrderPreFillInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAfsOrderPreFillInfoResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10301031002": {
                    "summary": "查询类型：type 不正确@#$输入正确的查询类型。\n1:一级问题类型\n2:二级问题类型\n3:审核依据\n4:可修改的用户申请原因\n5:商家退货地址"
                  },
                  "10301031001": {
                    "summary": "售后服务单号: afsOrderId 不能为空@#$afsOrderId 必填"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listAfsOrders": {
      "get": {
        "operationId": "listAfsOrders",
        "summary": "分页查询售后服务单列表",
        "description": "按不同条件查询京东售后服务单列表，包含取消订单和自主售后两种单据，支持POP、厂直等模式\n\nJD method: GET.sp-aftercare.v0.afs-orders",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "GET.sp-aftercare.v0.afs-orders",
        "x-jd-level": "R2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAfsOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAfsOrdersResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10301001002": {
                    "summary": "{字段描述} 不正确，比如 “页大小: pageSize,范围(0,100) 不正确”@#$按照描述传递正确的参数"
                  },
                  "10301001001": {
                    "summary": "{字段名}不能为空，比如“售后服务单号：afsOrderId不能为空”@#$检查参数是否有传递值"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAfsOrder": {
      "get": {
        "operationId": "getAfsOrder",
        "summary": "查询售后服务单详情",
        "description": "根据服务单号查询服务单，包含取消订单和自主售后两种单据\n\nJD method: GET.sp-aftercare.v0.afs-orders._afsOrderId",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "GET.sp-aftercare.v0.afs-orders._afsOrderId",
        "x-jd-level": "R2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAfsOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAfsOrderResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10301001001": {
                    "summary": "XXXX参数不能为空@#$请检查入参参数是否合法"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listPaymentForms": {
      "get": {
        "operationId": "listPaymentForms",
        "summary": "分页查询小额打款列表",
        "description": "查询商家小额打款列表记录\n\nJD method: GET.sp-aftercare.v0.payment-forms",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "GET.sp-aftercare.v0.payment-forms",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentFormsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentFormsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1030050004": {
                    "summary": "页码超出范围(1-200)@#$页码支持范围为[1-200]"
                  },
                  "1030050008": {
                    "summary": "每页大小超出范围(1-50)@#$页大小支持范围为[1-50]"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listPriceProtectOrders": {
      "get": {
        "operationId": "listPriceProtectOrders",
        "summary": "分页查询价保服务单列表",
        "description": "分页查询价保服务单列表\n\nJD method: GET.sp-aftercare.v0.price-protect-orders",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "GET.sp-aftercare.v0.price-protect-orders",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPriceProtectOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPriceProtectOrdersResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1030030001": {
                    "summary": "价保申请开始时间不能为空@#$补充价保申请开始时间"
                  },
                  "1030030002": {
                    "summary": "价保申请结束时间不能为空@#$补充价保申请结束时间"
                  },
                  "1030030009": {
                    "summary": "页码超出范围(1-100)@#$修改入参中的页码参数"
                  },
                  "1030030010": {
                    "summary": "每页大小超出范围(1-100)@#$修改入参中的页大小参数"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPriceProtectOrder": {
      "get": {
        "operationId": "getPriceProtectOrder",
        "summary": "查询价保详情",
        "description": "通过价保uuid和价保类型，获取价保详情\n\nJD method: GET.sp-aftercare.v0.price-protect-orders._priceProtectOrderId",
        "tags": [
          "售后API"
        ],
        "x-jd-method": "GET.sp-aftercare.v0.price-protect-orders._priceProtectOrderId",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPriceProtectOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPriceProtectOrderResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1030030004": {
                    "summary": "价保类型无效，只能为0或1@#$检查请求参数中的价保类型，只能是0或1"
                  },
                  "1030030006": {
                    "summary": "价保申请ID不能为空或小于等于0@#$检查请求参数中的价保申请ID，确认是否填写正确"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ListCompensationFormsRequest": {
        "type": "object",
        "properties": {
          "listCompensationFormsRequest": {
            "description": "分页查询条件 | 必填",
            "x-java-type": "com.jd.open.rest.client.afsorder.compensation.model.request.ListCompensationFormsRequest",
            "type": "object",
            "properties": {
              "compensationFormId": {
                "description": "赔付单申请编码 赔付单父编码id",
                "type": "integer",
                "default": 0
              },
              "compensationFormChildId": {
                "description": "主键id,具体赔付子单id，明细单id",
                "type": "integer",
                "default": 0
              },
              "refId": {
                "description": "相关单据id，本字段取决于京东订单号10 或者京东服务单号 20",
                "type": "integer",
                "default": 0
              },
              "refType": {
                "description": "相关单据类型 10、订单 20、服务单 30、用户pin",
                "type": "integer",
                "default": 0
              },
              "modifiedStartTime": {
                "description": "更新日期-开始",
                "type": "integer",
                "default": 0
              },
              "modifiedEndTime": {
                "description": "修改时间",
                "type": "integer",
                "default": 0
              },
              "sortOrder": {
                "description": "排序类型",
                "type": "string",
                "default": ""
              },
              "sortBy": {
                "description": "排序字段",
                "type": "string",
                "default": ""
              },
              "page": {
                "description": "页码(显示多少页，区间为1-200) | 必填",
                "type": "integer",
                "default": 0
              },
              "pageSize": {
                "description": "每页显示多少条（区间为1-50） | 必填",
                "type": "integer",
                "default": 0
              },
              "scopeSet": {
                "description": "返回结果范围",
                "x-java-type": "java.util.Set <java.lang.String>",
                "type": "object",
                "properties": {
                  "element": {
                    "description": "返回结果范围",
                    "type": "string",
                    "default": ""
                  }
                }
              },
              "venderId": {
                "description": "商家id | 必填",
                "x-jd-public": true,
                "type": "integer",
                "default": 0
              }
            },
            "required": [
              "page",
              "pageSize",
              "venderId"
            ]
          }
        },
        "required": [
          "listCompensationFormsRequest"
        ]
      },
      "ListCompensationFormsResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "paginationData": {
            "description": "分页结果信息",
            "x-java-type": "com.jd.open.rest.client.common.PaginationData",
            "type": "object",
            "properties": {
              "totalItems": {
                "description": "总条数",
                "type": "integer",
                "default": 0
              },
              "totalPages": {
                "description": "总页数",
                "type": "integer",
                "default": 0
              },
              "pageSize": {
                "description": "每页大小",
                "type": "integer",
                "default": 0
              },
              "currentPage": {
                "description": "当前页",
                "type": "integer",
                "default": 0
              }
            }
          },
          "data": {
            "description": "分页结果",
            "x-java-type": "java.util.List <com.jd.open.rest.client.afsorder.compensation.model.dto.CompensationFormDTO>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "compensationFormId": {
                  "description": "赔付单申请编码 赔付单父编码id",
                  "type": "integer",
                  "default": 0
                },
                "compensationFormChildId": {
                  "description": "主键id,具体赔付子单id，明细单id",
                  "type": "integer",
                  "default": 0
                },
                "realCompensationPrice": {
                  "description": "赔付金额,单位是元",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "shouldCompensationPrice": {
                  "description": "应赔付金额,单位是元",
                  "x-java-type": "java.math.BigDecimal",
                  "type": "object"
                },
                "refType": {
                  "description": "相关单据类型 10、订单 20、服务单 30、用户pin",
                  "type": "integer",
                  "default": 0
                },
                "refId": {
                  "description": "相关单据id，本字段取决于京东订单号10 或者京东服务单号 20",
                  "type": "integer",
                  "default": 0
                },
                "type": {
                  "description": "赔付类型 10：延迟发货赔付 20：商家直赔 30：先行赔付运费 40：先行赔付非运费",
                  "type": "integer",
                  "default": 0
                },
                "compensationType": {
                  "description": "赔付方式 10：积分 20：余额 30：优惠券 40：京豆",
                  "type": "integer",
                  "default": 0
                },
                "venderId": {
                  "description": "商家id",
                  "type": "integer",
                  "default": 0
                },
                "createdTime": {
                  "description": "创建时间",
                  "type": "integer",
                  "default": 0
                },
                "modifiedTime": {
                  "description": "更新时间",
                  "type": "integer",
                  "default": 0
                },
                "venderAuditStatus": {
                  "description": "商家审核状态（仅先行赔付单有效） 0：待审核 1：审核通过 2：审核不通过，3,同意关单",
                  "type": "integer",
                  "default": 0
                },
                "erpAuditStatus": {
                  "description": "运营、客服审核状态 11：客服审核为京东责任 12：客服审核为商家责任 21：运营审核为商家责任 22：运营审核为商家责任",
                  "type": "integer",
                  "default": 0
                },
                "compensationReason": {
                  "description": "赔付原因",
                  "type": "string",
                  "default": ""
                },
                "canSecondApplyStatus": {
                  "description": "是否可以进行二次申诉标识 默认是0：可以 1：不可以",
                  "type": "integer",
                  "default": 0
                },
                "orderInfo": {
                  "description": "订单信息",
                  "x-java-type": "com.jd.open.rest.client.afsorder.compensation.model.dto.data.CompensationFormOrderInfo",
                  "type": "object",
                  "properties": {
                    "orderId": {
                      "description": "订单号",
                      "type": "integer",
                      "default": 0
                    },
                    "orderType": {
                      "description": "订单类型 21：fbp 22：sop 23：lbp 25：sop",
                      "type": "integer",
                      "default": 0
                    }
                  }
                },
                "compensationShareInfoList": {
                  "description": "赔付分摊信息列表",
                  "x-java-type": "java.util.List <com.jd.open.rest.client.afsorder.compensation.model.dto.data.CompensationShareInfoDTO>",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "skuId": {
                        "description": "skuId",
                        "type": "integer",
                        "default": 0
                      },
                      "skuName": {
                        "description": "sku名称",
                        "type": "string",
                        "default": ""
                      },
                      "skuNum": {
                        "description": "sku数量",
                        "type": "integer",
                        "default": 0
                      },
                      "sharePrice": {
                        "description": "分摊金额，单位元",
                        "x-java-type": "java.math.BigDecimal",
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "success": {
            "description": "是否调用成功",
            "type": "boolean",
            "default": false
          },
          "errorList": {
            "description": "异常信息",
            "x-java-type": "java.util.List <com.jd.open.rest.client.common.Error>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "string",
                  "default": ""
                },
                "details": {
                  "description": "详细描述与解决方案",
                  "type": "string",
                  "default": ""
                },
                "message": {
                  "description": "错误标题",
                  "type": "string",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "PostAfsOrderNoteRequest": {
        "type": "object",
        "properties": {
          "afsOrderId": {
            "description": "售后服务单id | 示例: 54623462324 | 必填",
            "type": "integer",
            "example": 54623462324,
            "default": 0
          },
          "postAfsOrderNoteRequest": {
            "description": "保存售后服务单备注请求参数",
            "x-java-type": "com.jd.open.rest.client.afsorder.model.request.PostAfsOrderNoteRequest",
            "type": "object",
            "properties": {
              "afsOrderNoteDTO": {
                "description": "服务单备注",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsOrderNoteDTO",
                "type": "object",
                "properties": {
                  "reverseType": {
                    "description": "服务单类型\n1 售后服务单  \n2 取消服务单 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "pin": {
                    "description": "商家账号\n示例值: zqq_test_external | 示例: zqq_test_external",
                    "x-jd-public": true,
                    "type": "string",
                    "example": "zqq_test_external",
                    "default": ""
                  },
                  "remarkLevel": {
                    "description": "备注等级\n0-GREY\n1-RED\n2-YELLOW\n3-GREEN\n4-BLUE\n5-PURPLE | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "venderId": {
                    "description": "商家ID，系统参数，后端服务通过JOS系统参数获取 | 示例: 232432",
                    "x-jd-public": true,
                    "type": "integer",
                    "example": 232432,
                    "default": 0
                  },
                  "trackContext": {
                    "description": "备注内容 | 示例: 收货货物受损",
                    "type": "string",
                    "example": "收货货物受损",
                    "default": ""
                  },
                  "title": {
                    "description": "备注标题 | 示例: 问题单",
                    "type": "string",
                    "example": "问题单",
                    "default": ""
                  }
                }
              }
            }
          }
        },
        "required": [
          "afsOrderId"
        ]
      },
      "PostAfsOrderNoteResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "返回数据的对象",
            "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsOrderNoteDTO",
            "type": "object",
            "properties": {
              "reverseType": {
                "description": "服务单类型\n1 售后服务单  \n2 取消服务单\n | 示例: 1",
                "type": "integer",
                "example": 1,
                "default": 0
              },
              "remarkLevel": {
                "description": "备注等级\n0-GREY\n1-RED\n2-YELLOW\n3-GREEN\n4-BLUE\n5-PURPLE | 示例: 1",
                "type": "integer",
                "example": 1,
                "default": 0
              },
              "venderId": {
                "description": "商家ID，系统参数，后端服务通过JOS系统参数获取 | 示例: 67834311",
                "type": "integer",
                "example": 67834311,
                "default": 0
              },
              "trackContext": {
                "description": "留言内容 | 示例: 收货货物受损",
                "type": "string",
                "example": "收货货物受损",
                "default": ""
              },
              "title": {
                "description": "标题 | 示例: 问题单",
                "type": "string",
                "example": "问题单",
                "default": ""
              }
            }
          },
          "success": {
            "description": "是否成功 | 示例: true",
            "type": "boolean",
            "example": true,
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List <com.jd.open.rest.client.common.Error>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "1030041001 | 示例: 错误码",
                  "type": "string",
                  "example": "错误码",
                  "default": ""
                },
                "details": {
                  "description": "保存备注信息不能为空 | 示例: 错误标题",
                  "type": "string",
                  "example": "错误标题",
                  "default": ""
                },
                "message": {
                  "description": "保存备注信息不能为空 | 示例: 详细描述与解决方案",
                  "type": "string",
                  "example": "详细描述与解决方案",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "ListAfsOrderLogsRequest": {
        "type": "object",
        "properties": {
          "afsOrderId": {
            "description": "售后服务单号 | 示例: 29099872688 | 必填",
            "type": "integer",
            "example": 29099872688,
            "default": 0
          },
          "listAfsOrderLogsRequest": {
            "description": "查询服务单日志请求 | 必填",
            "x-java-type": "com.jd.open.rest.client.afsorder.log.model.request.ListAfsOrderLogsRequest",
            "type": "object",
            "properties": {
              "pin": {
                "description": "登录人pin | 示例: test_pop_weidian | 必填",
                "x-jd-public": true,
                "type": "string",
                "example": "test_pop_weidian",
                "default": ""
              },
              "venderId": {
                "description": "商家id | 示例: 70277 | 必填",
                "x-jd-public": true,
                "type": "integer",
                "example": 70277,
                "default": 0
              },
              "page": {
                "description": "目标页 | 示例: 1 | 必填",
                "type": "integer",
                "example": 1,
                "default": 0
              },
              "pageSize": {
                "description": "每页大小 | 示例: 10 | 必填",
                "type": "integer",
                "example": 10,
                "default": 0
              }
            },
            "required": [
              "pin",
              "venderId",
              "page",
              "pageSize"
            ]
          }
        },
        "required": [
          "afsOrderId",
          "listAfsOrderLogsRequest"
        ]
      },
      "ListAfsOrderLogsResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "paginationData": {
            "description": "分页结果信息",
            "x-java-type": "com.jd.open.rest.client.common.PaginationData",
            "type": "object",
            "properties": {
              "totalItems": {
                "description": "总条数 | 示例: 100",
                "type": "integer",
                "example": 100,
                "default": 0
              },
              "totalPages": {
                "description": "总页数 | 示例: 10",
                "type": "integer",
                "example": 10,
                "default": 0
              },
              "pageSize": {
                "description": "每页大小 | 示例: 10",
                "type": "integer",
                "example": 10,
                "default": 0
              },
              "currentPage": {
                "description": "当前页 | 示例: 1",
                "type": "integer",
                "example": 1,
                "default": 0
              }
            }
          },
          "data": {
            "description": "售后服务单日志信息",
            "x-java-type": "java.util.List <com.jd.open.rest.client.afsorder.log.model.dto.AfsOrderLogDTO>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "operateTime": {
                  "description": "操作时间 | 示例: 1743127438809",
                  "type": "integer",
                  "example": 1743127438809,
                  "default": 0
                },
                "operateName": {
                  "description": "操作人名称 | 示例: test_pop_weidian",
                  "type": "string",
                  "example": "test_pop_weidian",
                  "default": ""
                },
                "operatePin": {
                  "description": "操作人PIN | 示例: test_pop_weidian",
                  "type": "string",
                  "example": "test_pop_weidian",
                  "default": ""
                },
                "xidSeller": {
                  "description": "操作人XID | 示例: sdfq23e112e12sdg",
                  "type": "string",
                  "example": "sdfq23e112e12sdg",
                  "default": ""
                },
                "relationTypeDesc": {
                  "description": "关联类型名称 | 示例: 审核线下拦截",
                  "type": "string",
                  "example": "审核线下拦截",
                  "default": ""
                },
                "relationType": {
                  "description": "关联类型（一级节点） | 示例: 400008",
                  "type": "integer",
                  "example": 400008,
                  "default": 0
                },
                "afsOrderLogId": {
                  "description": "服务单日志ID | 示例: 1943887500",
                  "type": "integer",
                  "example": 1943887500,
                  "default": 0
                },
                "afsOrderId": {
                  "description": "售后服务单ID | 示例: 29099872688",
                  "type": "integer",
                  "example": 29099872688,
                  "default": 0
                },
                "operateRemark": {
                  "description": "操作内容 | 示例: 审核为线下拦截，操作人：XXX",
                  "type": "string",
                  "example": "审核为线下拦截，操作人：XXX",
                  "default": ""
                }
              }
            }
          },
          "success": {
            "description": "是否成功 | 示例: true",
            "type": "boolean",
            "example": true,
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List <com.jd.open.rest.client.common.Error>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "错误码 | 示例: 1030010012",
                  "type": "string",
                  "example": "1030010012",
                  "default": ""
                },
                "details": {
                  "description": "详细描述与解决方案 | 示例: 请检查请求参数中的服务单号，确保服务单号不能为空",
                  "type": "string",
                  "example": "请检查请求参数中的服务单号，确保服务单号不能为空",
                  "default": ""
                },
                "message": {
                  "description": "错误标题 | 示例: 售后单号不能为空",
                  "type": "string",
                  "example": "售后单号不能为空",
                  "default": ""
                }
              }
            }
          }
        }
      },
      "PatchAfsOrderRequest": {
        "type": "object",
        "properties": {
          "afsOrderId": {
            "description": "售后服务单号 | 示例: 1312381993 | 必填",
            "type": "integer",
            "example": 1312381993,
            "default": 0
          },
          "patchAfsOrderRequest": {
            "description": "更新售后单请求",
            "x-java-type": "com.jd.open.rest.client.afsorder.model.request.PatchAfsOrderRequest",
            "type": "object",
            "properties": {
              "afsApproveRejectInfo": {
                "description": "售后单-审核拒绝信息DTO",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsApproveRejectInfoDTO",
                "type": "object",
                "properties": {
                  "reasonType": {
                    "description": "原因ID\n示例值: 101\n来源参考枚举：\n101: 已协商一致\n201: 货物在途\n202: 货物已签收\n203: 包裹分开发货\n204: 非错件情况\n301: 不符合七无政策\n302: 不存在质量问题\n303: 不存在描述不符情况\n304: 不存在发票问题\n401: 其他 | 示例: 204",
                    "type": "integer",
                    "example": 204,
                    "default": 0
                  }
                }
              },
              "onlyRefundInfo": {
                "description": "售后单-不退货仅退款信息DTO",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.OnlyRefundInfoDTO",
                "type": "object",
                "properties": {
                  "refundSkuCount": {
                    "description": "退款sku数量\n示例值: 1 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "submitRefundAmount": {
                    "description": "提交的退款金额，单位元。\n示例值: 1.2 | 示例: 1.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "freightMoneyFlag": {
                    "description": "是否运费金额\n示例值: 1\n1: 扣\n2: 不扣 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  }
                }
              },
              "operateType": {
                "description": "操作类型，具体枚举可参考：https://open.jd.com/v2/#/faq/faq-detail?listId=254&amp;itemId=2000352 | 示例: 1001",
                "type": "integer",
                "example": 1001,
                "default": 0
              },
              "negotiationRejectInfo": {
                "description": "售后单-协商拒绝信息DTO",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.NegotiationRejectInfoDTO",
                "type": "object",
                "properties": {
                  "negotiationProgrammeDesc": {
                    "description": "协商方案描述，协商方案为&quot;4自定义&quot;必填，限制20字符。示例值: 协商方案 | 示例: 协商方案",
                    "type": "string",
                    "example": "协商方案",
                    "default": ""
                  },
                  "communicationFlag": {
                    "description": "沟通情况。协商拒绝必填。0: 未沟通一致 1: 已沟通一致示例值: 1\n0: 未沟通一致\n1: 已沟通一致 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "communicateChannelList": {
                    "description": "沟通渠道。沟通情况=1已沟通一致时必填。示例值: [1,2]  \n1: 咚咚 \n2: 电话 3: 短信示例值: [1,2]\n1: 咚咚\n2: 电话\n3: 短信",
                    "x-java-type": "java.util.List",
                    "type": "object",
                    "properties": {
                      "element": {
                        "description": "沟通渠道\n示例值: [1,2]\n1: 咚咚\n2: 电话\n3: 短信 | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      }
                    }
                  },
                  "rejectReasonType": {
                    "description": "拒绝原因。沟通情况=0未沟通一致时必填。示例值: 1。\n1: 包裹/收货无异常-货物在途\n2: 包裹/收货无异常-货物已签收\n3: 包裹/收货无异常-包裹分开发货\n4: 包裹/收货无异常-非错件情况\n5: 不符合申请条件-不符合七无政策\n6: 不符合申请条件-不存在质量问题\n7: 不符合申请条件-不存在描述不符情况\n8: 不符合申请条件-不存在发票问题 | 示例: 5",
                    "type": "integer",
                    "example": 5,
                    "default": 0
                  },
                  "negotiationProgramme": {
                    "description": "协商方案。沟通情况=1已沟通一致时必填。示例值: 1。\n1: 已协商联系客服处理\n2: 已协商待鉴定后处理\n3: 已协助找到包裹，4: 自定义 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "negotiationReason": {
                    "description": "详细说明。沟通情况=0未沟通一致时必填。限制200字符。 | 示例: 协商原因",
                    "type": "string",
                    "example": "协商原因",
                    "default": ""
                  }
                }
              },
              "afsOrderDTO": {
                "description": "更新售后单DTO",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.AfsOrderDTO",
                "type": "object",
                "properties": {
                  "sellerPin": {
                    "description": "商家账号\n示例值: zqq_test_external | 示例: test_user",
                    "x-jd-public": true,
                    "type": "string",
                    "example": "test_user",
                    "default": ""
                  },
                  "xidSeller": {
                    "description": "商家xid | 示例: 1weqq921mfrer0qwe2",
                    "type": "string",
                    "example": "1weqq921mfrer0qwe2",
                    "default": ""
                  },
                  "identityType": {
                    "description": "身份类型\n示例值: 1 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "approveNotes": {
                    "description": "审核备注，同意或者拒绝时商家填入的备注信息\n示例值: 同意退款 | 示例: 同意退款",
                    "type": "string",
                    "example": "同意退款",
                    "default": ""
                  },
                  "venderId": {
                    "description": "商家ID\n示例值: 67834311 | 示例: 70277",
                    "x-jd-public": true,
                    "type": "integer",
                    "example": 70277,
                    "default": 0
                  },
                  "afsOrderId": {
                    "description": "服务单号\n示例值: 2670075978 | 示例: 2670075978",
                    "type": "integer",
                    "example": 2670075978,
                    "default": 0
                  }
                }
              },
              "createRebackInfo": {
                "description": "售后单-创建原返信息DTO",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.CreateRebackInfoDTO",
                "type": "object",
                "properties": {
                  "reasonName": {
                    "description": "原返原因\n示例值: 维修原返 | 示例: 维修原返",
                    "type": "string",
                    "example": "维修原返",
                    "default": ""
                  },
                  "originRefundType": {
                    "description": "原返类型\n示例值: 10\n10: 维修原返\n20: 关单原返 | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "consigneeTel": {
                    "description": "联系人电话\n示例值: 1888888191 | 示例: 13899999999",
                    "type": "string",
                    "example": "13899999999",
                    "default": ""
                  },
                  "productCount": {
                    "description": "商品数量\n示例值: 1 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "returnWareAddressInfo": {
                    "description": "收货地址市：京东地址信息\n示例值: 12",
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsAddressInfoDTO",
                    "type": "object",
                    "properties": {
                      "provinceId": {
                        "description": "收货地址省：京东地址信息\n示例值: 1 | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "cityId": {
                        "description": "城市id | 示例: 101",
                        "type": "integer",
                        "example": 101,
                        "default": 0
                      },
                      "countyId": {
                        "description": "收货地址县：见京东地址信息\n示例值: 213 | 示例: 211",
                        "type": "integer",
                        "example": 211,
                        "default": 0
                      },
                      "townId": {
                        "description": "收货地址镇：见京东地址信息\n示例值: 1324 | 示例: 1324",
                        "type": "integer",
                        "example": 1324,
                        "default": 0
                      },
                      "detailAddress": {
                        "description": "收货地址\n示例值: 山东省济南市历下区xxx | 示例: 山东省济南市历下区xxx",
                        "type": "string",
                        "example": "山东省济南市历下区xxx",
                        "default": ""
                      }
                    }
                  },
                  "consigneeName": {
                    "description": "收货人姓名\n示例值: testPin | 示例: test_user",
                    "type": "string",
                    "example": "test_user",
                    "default": ""
                  },
                  "applyRemark": {
                    "description": "申请说明\n示例值: 测试申请说明 | 示例: 测试申请说明",
                    "type": "string",
                    "example": "测试申请说明",
                    "default": ""
                  },
                  "reasonId": {
                    "description": "原返原因id\n示例值: 1 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "providerId": {
                    "description": "承运商：人工\n示例值: 2087 | 示例: 2087",
                    "type": "string",
                    "example": "2087",
                    "default": ""
                  },
                  "waybillCode": {
                    "description": "物流单号：人工\n示例值: JDVA123456 | 示例: JDVA123456",
                    "type": "string",
                    "example": "JDVA123456",
                    "default": ""
                  }
                }
              },
              "submitRefundInfo": {
                "description": "售后单-提交退款信息DTO",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.SubmitRefundInfoDTO",
                "type": "object",
                "properties": {
                  "refundSkuCount": {
                    "description": "退款sku数量\n示例值: 1 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "submitRefundAmount": {
                    "description": "提交的退款金额\n示例值: 1.2 | 示例: 1.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "freightMoneyFlag": {
                    "description": "是否运费金额\n示例值: 1\n1: 扣\n2: 不扣 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  }
                }
              },
              "confirmReceiveInfo": {
                "description": "售后单-确认收货信息DTO",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.ConfirmReceiveInfoDTO",
                "type": "object",
                "properties": {
                  "partQuality": {
                    "description": "商品功能\n示例值: 10\n枚举值：\n10: 好\n20: 坏\n30: 待检测 | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "partAppearance": {
                    "description": "商品外观\n示例值: 10\n枚举值：\n10: 新\n20: 轻微损\n30: 严重损 | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "partPacking": {
                    "description": "产品包装\n示例值: 10\n枚举值：\n10: 新\n20: 有/非新\n30: 无 | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "receiverPin": {
                    "description": "收货人pin\n示例值: testPin | 示例: test_user",
                    "type": "string",
                    "example": "test_user",
                    "default": ""
                  },
                  "xidBuyer": {
                    "description": "收货人Xid | 示例: qwe129defeqew9211s",
                    "type": "string",
                    "example": "qwe129defeqew9211s",
                    "default": ""
                  }
                }
              },
              "saveFreightInfo": {
                "description": "售后单-保存收货运单信息DTO",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.SaveFreightInfoDTO",
                "type": "object",
                "properties": {
                  "freightMoney": {
                    "description": "运费金额，单位元。\n示例值: 1 | 示例: 1.00",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "providerId": {
                    "description": "承运商id，从XXXX接口获取的承运商ID\n示例值: 2087 | 示例: 2087",
                    "type": "string",
                    "example": "2087",
                    "default": ""
                  },
                  "waybillCode": {
                    "description": "快递单号：人工\n示例值: JDVA00001 | 示例: JDVA00001",
                    "type": "string",
                    "example": "JDVA00001",
                    "default": ""
                  },
                  "providerName": {
                    "description": "承运商名称\n示例值: 圆通快递 | 示例: 圆通快递",
                    "type": "string",
                    "example": "圆通快递",
                    "default": ""
                  }
                }
              },
              "negotiationCloseInfo": {
                "description": "协商关闭",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.NegotiationCloseInfoDTO",
                "type": "object",
                "properties": {
                  "reasonType": {
                    "description": "关闭原因。\n1、已经和客户协商一致不退款 \n2、拦截失败，已协商另行处理\n4、客户确认已签收/协助客户找到包裹\n99、其他 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  }
                }
              },
              "negotiationReturnRefundInfo": {
                "description": "取消单-协商退货退款",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.NegotiationReturnRefundInfoDTO",
                "type": "object",
                "properties": {
                  "refundReverseReasonType": {
                    "description": "协商退货退款原因，枚举值：11、客户已签收，已联系客户退货退款 12、客户未签收，但已沟通客户签收后进行退货退款 | 示例: 11",
                    "type": "integer",
                    "example": 11,
                    "default": 0
                  },
                  "addressId": {
                    "description": "地址ID，从jingdong.vender.returnaddress.query接口中的自主售后地址ID | 示例: 1324",
                    "type": "integer",
                    "example": 1324,
                    "default": 0
                  }
                }
              },
              "modifyOutWarehouseStatusInfo": {
                "description": "取消单-更新出库状态",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.ModifyOutWarehouseStatusInfoDTO",
                "type": "object",
                "properties": {
                  "orderId": {
                    "description": "订单号 | 示例: 321132",
                    "type": "integer",
                    "example": 321132,
                    "default": 0
                  },
                  "outWarehouseStatus": {
                    "description": "出库状态 2未出库 1已出库 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  }
                }
              },
              "approvePassInfo": {
                "description": "售后单-同意申请",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.ApprovePassInfoDTO",
                "type": "object",
                "properties": {
                  "afsContactsInfo": {
                    "description": "商家售后联系信息",
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsContactsInfoDTO",
                    "type": "object",
                    "properties": {
                      "contactsTel": {
                        "description": "电话 | 示例: 010-89112233",
                        "type": "string",
                        "example": "010-89112233",
                        "default": ""
                      },
                      "contactsZipCode": {
                        "description": "联系人邮编 | 示例: 010000",
                        "type": "string",
                        "example": "010000",
                        "default": ""
                      },
                      "contactsName": {
                        "description": "联系人 | 示例: 张三",
                        "type": "string",
                        "example": "张三",
                        "default": ""
                      },
                      "contactsPhone": {
                        "description": "手机号 | 示例: 13788889999",
                        "type": "string",
                        "example": "13788889999",
                        "default": ""
                      }
                    }
                  },
                  "afsAddressInfo": {
                    "description": "联系地址信息",
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsAddressInfoDTO",
                    "type": "object",
                    "properties": {
                      "provinceId": {
                        "description": "省份id | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "cityId": {
                        "description": "城市id | 示例: 101",
                        "type": "integer",
                        "example": 101,
                        "default": 0
                      },
                      "countyId": {
                        "description": "县ID | 示例: 303",
                        "type": "integer",
                        "example": 303,
                        "default": 0
                      },
                      "townId": {
                        "description": "镇ID | 示例: 3211",
                        "type": "integer",
                        "example": 3211,
                        "default": 0
                      },
                      "detailAddress": {
                        "description": "详细地址 | 示例: 山西省太原市XXXX",
                        "type": "string",
                        "example": "山西省太原市XXXX",
                        "default": ""
                      },
                      "returnAddressType": {
                        "description": "退货商家地址类型，枚举值：1：备件库地址 2：自己的仓库 3：门店地址 4：京东售后地址 5：分销商退货地址 6：供货商的仓库 7：一盘货地址 8：复原仓地址 9：商家设置的策略地址 | 示例: 2",
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      }
                    }
                  }
                }
              },
              "onlineRenewInfo": {
                "description": "售后单-不退货补发新品、售后单-线上换新",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.OnlineRenewInfoDTO",
                "type": "object",
                "properties": {
                  "renewSkuInfoList": {
                    "description": "售后sku信息",
                    "x-java-type": "java.util.List",
                    "type": "object",
                    "properties": {
                      "renewSkuInfoListItem": {
                        "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsSkuInfoDTO",
                        "type": "object",
                        "properties": {
                          "skuId": {
                            "description": "商品skuid | 示例: 1000032341",
                            "type": "integer",
                            "example": 1000032341,
                            "default": 0
                          },
                          "skuNum": {
                            "description": "商品数量 | 示例: 3",
                            "type": "integer",
                            "example": 3,
                            "default": 0
                          },
                          "skuName": {
                            "description": "商品名称 | 示例: XXX牙膏XXX",
                            "type": "string",
                            "example": "XXX牙膏XXX",
                            "default": ""
                          }
                        }
                      }
                    }
                  },
                  "customerContactsInfo": {
                    "description": "售后联系方式信息",
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsContactsInfoDTO",
                    "type": "object",
                    "properties": {
                      "contactsTel": {
                        "description": "电话 | 示例: 010-89112233",
                        "type": "string",
                        "example": "010-89112233",
                        "default": ""
                      },
                      "contactsZipCode": {
                        "description": "联系人邮编 | 示例: 0000001",
                        "type": "string",
                        "example": "0000001",
                        "default": ""
                      },
                      "contactsName": {
                        "description": "联系人 | 示例: 张三",
                        "type": "string",
                        "example": "张三",
                        "default": ""
                      },
                      "contactsPhone": {
                        "description": "手机号 | 示例: 13788889999",
                        "type": "string",
                        "example": "13788889999",
                        "default": ""
                      }
                    }
                  },
                  "afsAddressInfo": {
                    "description": "售后地址信息",
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsAddressInfoDTO",
                    "type": "object",
                    "properties": {
                      "provinceId": {
                        "description": "省id | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "cityId": {
                        "description": "城市id | 示例: 10",
                        "type": "integer",
                        "example": 10,
                        "default": 0
                      },
                      "countyId": {
                        "description": "县id | 示例: 132",
                        "type": "integer",
                        "example": 132,
                        "default": 0
                      },
                      "townId": {
                        "description": "镇id | 示例: 3213",
                        "type": "integer",
                        "example": 3213,
                        "default": 0
                      },
                      "detailAddress": {
                        "description": "详细地址 | 示例: 北京市XXXXX",
                        "type": "string",
                        "example": "北京市XXXXX",
                        "default": ""
                      }
                    }
                  }
                }
              },
              "offlineRenewInfo": {
                "description": "售后单-线下补发新品、售后单-线下换新",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.OfflineRenewInfoDTO",
                "type": "object",
                "properties": {
                  "waybillCode": {
                    "description": "运单号 | 示例: JDVA29020360965",
                    "type": "string",
                    "example": "JDVA29020360965",
                    "default": ""
                  },
                  "alphaProviderId": {
                    "description": "承运商id | 示例: 2087",
                    "type": "integer",
                    "example": 2087,
                    "default": 0
                  },
                  "providerName": {
                    "description": "承运商名称 | 示例: 京东快递",
                    "type": "string",
                    "example": "京东快递",
                    "default": ""
                  },
                  "skuNum": {
                    "description": "商品数量 | 示例: 2",
                    "type": "integer",
                    "example": 2,
                    "default": 0
                  }
                }
              },
              "negotiationModifyInfo": {
                "description": "售后单-协商修改信息",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.NegotiationModifyInfoDTO",
                "type": "object",
                "properties": {
                  "negotiationReason": {
                    "description": "协商原因，会展示给客户。输入内容长度小于200 | 示例: xxxxx",
                    "type": "string",
                    "example": "xxxxx",
                    "default": ""
                  },
                  "newCustomerExpect": {
                    "description": "新售后类型，枚举值：10:退货 11:仅退款 20:换货 30:维修 40:安装 70:上门维修 80:补发商品 90:坏损包退 110:还货 | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "newAfsReasonId": {
                    "description": "新申请原因ID | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "newRefundMoney": {
                    "description": "新退款金额（单位元） | 示例: 10.01",
                    "x-java-type": "java.math.BigDecimal",
                    "type": "object"
                  },
                  "returnWareContactsInfo": {
                    "description": "返件联系信息",
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsContactsInfoDTO",
                    "type": "object",
                    "properties": {
                      "contactsTel": {
                        "description": "电话 | 示例: 010-3288433",
                        "type": "string",
                        "example": "010-3288433",
                        "default": ""
                      },
                      "contactsZipCode": {
                        "description": "联系人邮编 | 示例: 100323",
                        "type": "string",
                        "example": "100323",
                        "default": ""
                      },
                      "contactsName": {
                        "description": "联系人 | 示例: 张三",
                        "type": "string",
                        "example": "张三",
                        "default": ""
                      },
                      "contactsPhone": {
                        "description": "手机号 | 示例: 13899998888",
                        "type": "string",
                        "example": "13899998888",
                        "default": ""
                      }
                    }
                  },
                  "returnWareAddressInfo": {
                    "description": "售后地址信息",
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsAddressInfoDTO",
                    "type": "object",
                    "properties": {
                      "provinceId": {
                        "description": "省份id | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "cityId": {
                        "description": "城市id | 示例: 20",
                        "type": "integer",
                        "example": 20,
                        "default": 0
                      },
                      "countyId": {
                        "description": "县id | 示例: 323",
                        "type": "integer",
                        "example": 323,
                        "default": 0
                      },
                      "townId": {
                        "description": "镇id | 示例: 3293",
                        "type": "integer",
                        "example": 3293,
                        "default": 0
                      },
                      "detailAddress": {
                        "description": "详细地址 | 示例: 北京市XXXX",
                        "type": "string",
                        "example": "北京市XXXX",
                        "default": ""
                      },
                      "returnAddressType": {
                        "description": "退货商家地址类型，枚举值：1：备件库地址 2：自己的仓库 3：门店地址 4：京东售后地址 5：分销商退货地址 6：供货商的仓库 7：一盘货地址 8：复原仓地址 9：商家设置的策略地址 | 示例: 2",
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      }
                    }
                  }
                }
              },
              "afsCloseInfo": {
                "description": "售后单-关单",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsCloseInfoDTO",
                "type": "object",
                "properties": {
                  "reasonType": {
                    "description": "原因Id 来源见枚举：4：已经协商好换货或维修 5：已经协商为客户处理完毕 6：未收到退货,快递还在途中 7：买家填写的退货单号无记录 10：其他 11：物流退回过程丢失 | 示例: 11",
                    "type": "integer",
                    "example": 11,
                    "default": 0
                  }
                }
              },
              "approveRejectInfo": {
                "description": "取消单-审核拒绝",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.ApproveRejectInfoDTO",
                "type": "object",
                "properties": {
                  "rejectType": {
                    "description": "拒绝类型(参数使用场景:取消订单-审核拒绝) 1：亲爱的客户，此单因商品已在配送途中，暂时取消失败，如您仍需取消，请在后期拒收商品后，联系客服处理退款。给您带来的不便请您谅解。 2：亲爱的客户，此单因商品已签收，取消失败，如您的商品符合退换货政策，请前往订单详情页确认收货后，再申请返修/退换货。给您带来的不便请您谅解。 3：亲爱的客户，此单因是国际站保税区订单且已报关，取消失败，如有疑问，请前往商品详情页联系商家在线客服。给您带来的不便请您谅解。 4：亲爱的客户，诚如沟通，此单商品将会正常发出，请您后期注意查收。 5：您的订单取消失败，如有疑问请联系客服处理，请您见谅。 6：亲爱的客户，此单因商品已在配送途中，取消失败，如有疑问，请前往商品详情页联系商家在线客服。给您带来的不便请您谅解。 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  }
                }
              },
              "afsSupplierAuditInfo": {
                "description": "厂直/直通车审核DTO",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsSupplierAuditInfoDTO",
                "type": "object",
                "properties": {
                  "questionTypeFirstCid": {
                    "description": "客户问题一级类型 | 示例: 10089",
                    "type": "integer",
                    "example": 10089,
                    "default": 0
                  },
                  "questionTypeSecondCid": {
                    "description": "客户问题二级类型 | 示例: 10089",
                    "type": "integer",
                    "example": 10089,
                    "default": 0
                  },
                  "auditBasisId": {
                    "description": "审核依据 | 示例: 1159468",
                    "type": "integer",
                    "example": 1159468,
                    "default": 0
                  },
                  "auditNum": {
                    "description": "审核数量 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  }
                }
              },
              "vcConfirmReceiveInfo": {
                "description": "自营确认收货",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.VcConfirmReceiveInfoDTO",
                "type": "object",
                "properties": {
                  "partQuality": {
                    "description": "商品功能 示例值: 10 枚举值： 10: 好 20: 坏 30: 待检测 | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "partAppearance": {
                    "description": "商品外观 示例值: 10 枚举值： 10: 新 20: 轻微损 30: 严重损 | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "partPacking": {
                    "description": "产品包装 示例值: 10 枚举值： 10: 新 20: 有/非新 30: 无 | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "invoiceRecord": {
                    "description": "发票登记。20-未收，10-已收 | 示例: 20",
                    "type": "integer",
                    "example": 20,
                    "default": 0
                  },
                  "accessoryOrGift": {
                    "description": "附件/赠品。10-已收，20-未收 | 示例: 10",
                    "type": "integer",
                    "example": 10,
                    "default": 0
                  },
                  "skuNum": {
                    "description": "收货数量 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "providerId": {
                    "description": "承运商id | 示例: 2087",
                    "type": "integer",
                    "example": 2087,
                    "default": 0
                  },
                  "waybillCode": {
                    "description": "快递单号 | 示例: JDVA00001",
                    "type": "string",
                    "example": "JDVA00001",
                    "default": ""
                  },
                  "providerName": {
                    "description": "承运商名称 | 示例: 圆通快递",
                    "type": "string",
                    "example": "圆通快递",
                    "default": ""
                  },
                  "receiverPin": {
                    "description": "收货人pin | 示例: testPin",
                    "type": "string",
                    "example": "testPin",
                    "default": ""
                  },
                  "xidSeller": {
                    "description": "卖家pin衍生xid | 示例: o*AATyM3fBNvsaTeIQx3UyqP9EYTA1CpqXkGPAaJwGsWxolv8PC9c",
                    "type": "string",
                    "example": "o*AATyM3fBNvsaTeIQx3UyqP9EYTA1CpqXkGPAaJwGsWxolv8PC9c",
                    "default": ""
                  }
                }
              }
            }
          }
        },
        "required": [
          "afsOrderId"
        ]
      },
      "PatchAfsOrderResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "返回数据的对象",
            "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.AfsOrderDTO",
            "type": "object",
            "properties": {
              "afsOrderId": {
                "description": "售后服务单号 | 示例: 1312381993",
                "type": "integer",
                "example": 1312381993,
                "default": 0
              },
              "orderId": {
                "description": "订单号 | 示例: 29938019211",
                "type": "integer",
                "example": 29938019211,
                "default": 0
              }
            }
          },
          "success": {
            "description": "是否成功 | 示例: true",
            "type": "boolean",
            "example": true,
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List",
            "type": "object",
            "properties": {
              "code": {
                "description": "状态码 | 示例: 10301001001",
                "type": "string",
                "example": "10301001001",
                "default": ""
              },
              "details": {
                "description": "描述信息 | 示例: 确认售后服务单（或其他字段）字段是否填写",
                "type": "string",
                "example": "确认售后服务单（或其他字段）字段是否填写",
                "default": ""
              },
              "message": {
                "description": "状态描述 | 示例: 售后服务单（或其他字段）不能为空",
                "type": "string",
                "example": "售后服务单（或其他字段）不能为空",
                "default": ""
              }
            }
          }
        }
      },
      "GetAfsOrderPreFillInfoRequest": {
        "type": "object",
        "properties": {
          "afsOrderId": {
            "description": "服务单号 | 示例: 3697629462 | 必填",
            "type": "integer",
            "example": 3697629462,
            "default": 0
          },
          "request": {
            "description": "请求参数",
            "x-java-type": "com.jd.open.rest.client.afsorder.model.request.GetAfsOrderPreFillInfoRequest",
            "type": "object",
            "properties": {
              "type": {
                "description": "查询类型。\n1:一级问题类型\n2:二级问题类型\n3:审核依据\n4:可修改的用户申请原因\n5:商家退货地址 | 示例: 1",
                "type": "integer",
                "example": 1,
                "default": 0
              },
              "customerExpect": {
                "description": "客户期望\n10：退货\n11：已收货退款\n20：换货\n30：维修\n40：安装\n70：上门维修\n80：补发商品\n90：坏损包退\n110：还货\n150：未收货退款\n-1：全部 | 示例: 10",
                "type": "integer",
                "example": 10,
                "default": 0
              },
              "questionTypeFirstCid": {
                "description": "一级问题类型 | 示例: 10089",
                "type": "integer",
                "example": 10089,
                "default": 0
              },
              "questionTypeSecondCid": {
                "description": "二级问题类型 | 示例: 10209",
                "type": "integer",
                "example": 10209,
                "default": 0
              },
              "auditBasisType": {
                "description": "审核依据类型\n1:通过类审核依据\n2:&quot;不通过类审核依据&quot; | 示例: 1",
                "type": "integer",
                "example": 1,
                "default": 0
              },
              "venderId": {
                "x-jd-public": true,
                "type": "integer",
                "default": 0
              },
              "pin": {
                "x-jd-public": true,
                "type": "string",
                "default": ""
              }
            }
          }
        },
        "required": [
          "afsOrderId"
        ]
      },
      "GetAfsOrderPreFillInfoResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "响应数据",
            "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.AfsOrderPreFillInfoDTO",
            "type": "object",
            "properties": {
              "questionInfolist": {
                "description": "问题信息",
                "x-java-type": "java.util.List",
                "type": "object",
                "properties": {
                  "questionInfolistItem": {
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsQuestionInfoDTO",
                    "type": "object",
                    "properties": {
                      "questionType": {
                        "description": "类型id | 示例: 10089",
                        "type": "integer",
                        "example": 10089,
                        "default": 0
                      },
                      "questionDesc": {
                        "description": "类型描述 | 示例: 其他",
                        "type": "string",
                        "example": "其他",
                        "default": ""
                      }
                    }
                  }
                }
              },
              "auditBasisInfolist": {
                "description": "审核依据信息",
                "x-java-type": "java.util.List",
                "type": "object",
                "properties": {
                  "auditBasisInfolistItem": {
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsAuditBasisInfoDTO",
                    "type": "object",
                    "properties": {
                      "auditBasisId": {
                        "description": "类型id | 示例: 1161063",
                        "type": "integer",
                        "example": 1161063,
                        "default": 0
                      },
                      "auditBasisDesc": {
                        "description": "类型描述 | 示例: 节日价保",
                        "type": "string",
                        "example": "节日价保",
                        "default": ""
                      }
                    }
                  }
                }
              },
              "applyReasonInfolist": {
                "description": "客户申请原因信息",
                "x-java-type": "java.util.List",
                "type": "object",
                "properties": {
                  "applyReasonInfolistItem": {
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.ApplyReasonDTO",
                    "type": "object",
                    "properties": {
                      "applyReasonFirstCid": {
                        "description": "申请原因 | 示例: 10878",
                        "type": "integer",
                        "example": 10878,
                        "default": 0
                      },
                      "applyReasonFirstCidDesc": {
                        "description": "申请原因描述 | 示例: 买多/买错/不想要",
                        "type": "string",
                        "example": "买多/买错/不想要",
                        "default": ""
                      }
                    }
                  }
                }
              },
              "venderAddressesInfolist": {
                "description": "商家售后地址",
                "x-java-type": "java.util.List",
                "type": "object",
                "properties": {
                  "venderAddressesInfolistItem": {
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.VenderAddressesInfoDTO",
                    "type": "object",
                    "properties": {
                      "contactName": {
                        "description": "姓名 | 示例: 张三",
                        "type": "string",
                        "example": "张三",
                        "default": ""
                      },
                      "contactTel": {
                        "description": "电话 | 示例: 186xxxxxxxx",
                        "type": "string",
                        "example": "186xxxxxxxx",
                        "default": ""
                      },
                      "contactZipcode": {
                        "description": "邮编 | 示例: 100000",
                        "type": "string",
                        "example": "100000",
                        "default": ""
                      },
                      "provinceId": {
                        "description": "省份代码 | 示例: 11",
                        "type": "integer",
                        "example": 11,
                        "default": 0
                      },
                      "cityId": {
                        "description": "城市代码 | 示例: 120",
                        "type": "integer",
                        "example": 120,
                        "default": 0
                      },
                      "countyId": {
                        "description": "区县代码 | 示例: 626",
                        "type": "integer",
                        "example": 626,
                        "default": 0
                      },
                      "townId": {
                        "description": "乡镇代码 | 示例: 82135",
                        "type": "integer",
                        "example": 82135,
                        "default": 0
                      },
                      "detailAddress": {
                        "description": "详细地址 | 示例: 山东省济南市历下区xxx",
                        "type": "string",
                        "example": "山东省济南市历下区xxx",
                        "default": ""
                      },
                      "defaultAddressFlag": {
                        "description": "是否默认地址 | 示例: true",
                        "type": "boolean",
                        "example": true,
                        "default": false
                      }
                    }
                  }
                }
              }
            }
          },
          "success": {
            "description": "请求是否成功 | 示例: true",
            "type": "boolean",
            "example": true,
            "default": false
          },
          "errorList": {
            "description": "错误列表",
            "x-java-type": "java.util.List",
            "type": "object",
            "properties": {
              "code": {
                "description": "错误代码 | 示例: 10301031001",
                "type": "string",
                "example": "10301031001",
                "default": ""
              },
              "details": {
                "description": "错误详情 | 示例: 售后服务单号: afsOrderId不能为空",
                "type": "string",
                "example": "售后服务单号: afsOrderId不能为空",
                "default": ""
              },
              "message": {
                "description": "错误消息 | 示例: 售后服务单号: afsOrderId不能为空",
                "type": "string",
                "example": "售后服务单号: afsOrderId不能为空",
                "default": ""
              }
            }
          }
        }
      },
      "ListAfsOrdersRequest": {
        "type": "object",
        "properties": {
          "request": {
            "description": "包含查询条件的请求对象",
            "x-java-type": "com.jd.open.rest.client.afsorder.model.request.ListAfsOrdersRequest",
            "type": "object",
            "properties": {
              "venderId": {
                "description": "系统隐式传参 | 示例: 71932458",
                "x-jd-public": true,
                "type": "integer",
                "example": 71932458,
                "default": 0
              },
              "afsOrderId": {
                "description": "服务单号\n      示例值：2659323426 | 示例: 2659323426",
                "type": "integer",
                "example": 2659323426,
                "default": 0
              },
              "orderType": {
                "description": "订单类型。枚举：18：厂商直送；21：POP FBP订单；22：Pop订单类型Sop；23：Pop订单类型Lbp；24：Pop订单类型Lbv；25：Pop订单类型Sopl；75：loc订单；112：Pop订单类型FCS；223：社会化库存订单\n      示例值：22 | 示例: 22",
                "type": "integer",
                "example": 22,
                "default": 0
              },
              "applyStartTime": {
                "description": "服务单申请开始时间，与服务单申请结束时间搭配 | 示例: 1700496999000",
                "type": "integer",
                "example": 1700496999000,
                "default": 0
              },
              "applyEndTime": {
                "description": "服务单申请结束时间，与服务单申请结束时间搭配。applyEndTime必须大于applyStartTime | 示例: 1700997999000",
                "type": "integer",
                "example": 1700997999000,
                "default": 0
              },
              "afsOrderTag": {
                "description": "服务标签，一次最多传入10个。京东介入:jd_dispute；0秒退:cancel_zero_refund；是否支持7天无理由:pop_seven_days_no_reason；\n      示例值：[&quot;pop_seven_days_no_reason&quot;]",
                "x-java-type": "java.util.Set",
                "type": "object",
                "properties": {
                  "element": {
                    "description": "服务标签 | 示例: pop_seven_days_no_reason",
                    "type": "string",
                    "example": "pop_seven_days_no_reason",
                    "default": ""
                  }
                }
              },
              "timeoutFlag": {
                "description": "即将超时提醒\n      示例值：1 | 示例: 1",
                "type": "integer",
                "example": 1,
                "default": 0
              },
              "resolvedFlag": {
                "description": "解决标识，true 已解决 false 未解决 | 示例: false",
                "type": "boolean",
                "example": false,
                "default": false
              },
              "upgradeFlag": {
                "description": "升级标识，true 已升级 false 未升级 | 示例: true",
                "type": "boolean",
                "example": true,
                "default": false
              },
              "skuId": {
                "description": "商品编号\n      示例值：100122892439 | 示例: 100122892439",
                "type": "integer",
                "example": 100122892439,
                "default": 0
              },
              "refundStatus": {
                "description": "退款状态：10:退款中, 20:退款成功,30:退款失败\n      示例值：10 | 示例: 10",
                "type": "integer",
                "example": 10,
                "default": 0
              },
              "overStartTime": {
                "description": "超期开始时间，与超期结束时间搭配 | 示例: 1700997969000",
                "type": "integer",
                "example": 1700997969000,
                "default": 0
              },
              "overEndTime": {
                "description": "超期结束时间，与超期开始时间搭配 | 示例: 1700397929000",
                "type": "integer",
                "example": 1700397929000,
                "default": 0
              },
              "processResult": {
                "description": "处理结果 返修换新(23),退货(40), 换良(50),原返(60),病单 (71),出检(72),维修(73),强制关单 (80),线下换新 (90) 催收收款(100) 退款不退货(35)\n      示例值：10 | 示例: 10",
                "type": "integer",
                "example": 10,
                "default": 0
              },
              "approveStartTime": {
                "description": "审核开始时间，与审核结束时间搭配 | 示例: 1700192999000",
                "type": "integer",
                "example": 1700192999000,
                "default": 0
              },
              "approveEndTime": {
                "description": "审核结束时间，与审核开始时间搭配 | 示例: 1700957939000",
                "type": "integer",
                "example": 1700957939000,
                "default": 0
              },
              "customerExpect": {
                "description": "客户期望 10: 退货, 20: 换货, 30: 维修, 70: 上门维修, -1: 全部, 80: 补发新品, 90: 坏损包退, 110: 还货, 11: 已收货仅退款, 40: 安装, 150: 未收货仅退款(其中值为150时表示取消订单)\n      示例值：40 | 示例: 40",
                "type": "integer",
                "example": 40,
                "default": 0
              },
              "customerName": {
                "description": "客户姓名\n      示例值：&quot;测试账号&quot; | 示例: 测试账号",
                "type": "string",
                "example": "测试账号",
                "default": ""
              },
              "mainStatus": {
                "description": "服务单主状态10:待商家审核,11:审核不通过,20:待商家收货,30:待商家处理,40:处理中,50:已发起催收,99:取消,100:完成\n      示例值：10 | 示例: 10",
                "type": "integer",
                "example": 10,
                "default": 0
              },
              "subStatus": {
                "description": "服务单子状态100: 待商家审核, 101: 待商家审核, 102: 协商中, 103: 待客户反馈, 104: 客户已反馈, 105: 商家拦截中, 106: 客户拒收退款, 200: 待商家收货, 201: 待买家退货, 202: 买家已退货, 300: 待商家处理, 301: 待商家处理, 302: 待处理协商中, 400: 处理中, 401: 退款中, 402: 补发中, 403: 换新中, 404: 拦截中, 500: 催收, 501: 待客户支付, 502: 客户已支付, 503: 商家已收款, 901: 审核不通过, 999: 取消, 1000: 完成\n      示例值：1000 | 示例: 1000",
                "type": "integer",
                "example": 1000,
                "default": 0
              },
              "updateStartTime": {
                "description": "更新开始时间，与更新结束时间搭配 | 示例: 1700967999000",
                "type": "integer",
                "example": 1700967999000,
                "default": 0
              },
              "updateEndTime": {
                "description": "更新结束时间，与更新开始时间搭配 | 示例: 1700997999000",
                "type": "integer",
                "example": 1700997999000,
                "default": 0
              },
              "customerPin": {
                "description": "客户账号\n      示例值：&quot;pop_test&quot; | 示例: pop_test",
                "type": "string",
                "example": "pop_test",
                "default": ""
              },
              "xidBuyer": {
                "description": "买家pin衍生字段 | 示例: o*AATyM3fBNvsaTeIQx3UyqP9EYTA1CpqXkGPAaJwGsWxolv8PC9c",
                "type": "string",
                "example": "o*AATyM3fBNvsaTeIQx3UyqP9EYTA1CpqXkGPAaJwGsWxolv8PC9c",
                "default": ""
              },
              "ouid": {
                "description": "买家pin衍生字段 | 示例: ou*AAS6W5wS6NVx7vU8FxR-tys9ODE5ACu9z3HxxOqSoyp1Mby6HUh4",
                "type": "string",
                "example": "ou*AAS6W5wS6NVx7vU8FxR-tys9ODE5ACu9z3HxxOqSoyp1Mby6HUh4",
                "default": ""
              },
              "waybillCode": {
                "description": "运单号 来源取件、返件单号\n      示例值：&quot;JDV12421445&quot; | 示例: JDV12421445",
                "type": "string",
                "example": "JDV12421445",
                "default": ""
              },
              "customerTel": {
                "description": "客户手机\n      示例值：&quot;1871234181&quot; | 示例: 1871234181",
                "type": "string",
                "example": "1871234181",
                "default": ""
              },
              "transferFeedbackReasonIdList": {
                "description": "转入待反馈原因。供应商审核为待反馈时选择的二级原因id",
                "x-java-type": "java.util.List",
                "type": "object",
                "properties": {
                  "transferFeedbackReasonId": {
                    "description": "二级原因id | 示例: 12",
                    "type": "integer",
                    "example": 12,
                    "default": 0
                  }
                }
              },
              "page": {
                "description": "页码\n      示例值：1 | 示例: 1 | 必填",
                "type": "integer",
                "example": 1,
                "default": 0
              },
              "pageSize": {
                "description": "每页大小 | 示例: 10 | 必填",
                "type": "integer",
                "example": 10,
                "default": 0
              },
              "orderId": {
                "description": "订单id | 示例: 23881752341",
                "type": "integer",
                "example": 23881752341,
                "default": 0
              },
              "pin": {
                "description": "pin | 示例: test_123",
                "x-jd-public": true,
                "type": "string",
                "example": "test_123",
                "default": ""
              }
            },
            "required": [
              "page",
              "pageSize"
            ]
          }
        }
      },
      "ListAfsOrdersResponse": {
        "description": "返回结果",
        "x-java-type": "com.jd.jos.openApi.Response",
        "type": "object",
        "properties": {
          "paginationData": {
            "description": "分页出参",
            "x-java-type": "com.jd.open.rest.client.common.PaginationData",
            "type": "object",
            "properties": {
              "totalItems": {
                "description": "总条数 | 示例: 100",
                "type": "integer",
                "example": 100,
                "default": 0
              },
              "pageSize": {
                "description": "每页大小 | 示例: 10",
                "type": "integer",
                "example": 10,
                "default": 0
              },
              "currentPage": {
                "description": "当前页 | 示例: 1",
                "type": "integer",
                "example": 1,
                "default": 0
              }
            }
          },
          "data": {
            "description": "返回数据的对象",
            "x-java-type": "java.util.List",
            "type": "object",
            "properties": {
              "orderId": {
                "description": "订单id | 示例: 305201905223",
                "type": "integer",
                "example": 305201905223,
                "default": 0
              },
              "afsOrderId": {
                "description": "服务单号 | 示例: 2672420943",
                "type": "integer",
                "example": 2672420943,
                "default": 0
              },
              "orderInfo": {
                "description": "订单信息",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.BaseOrderInfoDTO",
                "type": "object",
                "properties": {
                  "orderId": {
                    "description": "订单ID | 示例: 2930008123",
                    "type": "integer",
                    "example": 2930008123,
                    "default": 0
                  },
                  "orderType": {
                    "description": "订单类型 22:SOP;18:厂直 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "orderTypeName": {
                    "description": "订单类型名称 | 示例: 普通订单",
                    "type": "string",
                    "example": "普通订单",
                    "default": ""
                  },
                  "orderWarehouseStatus": {
                    "description": "订单出库状态 1:已出库 2:未出库 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "orderWarehouseStatusDesc": {
                    "description": "订单仓库状态名称 | 示例: 待发货",
                    "type": "string",
                    "example": "待发货",
                    "default": ""
                  }
                }
              },
              "skuInfoList": {
                "description": "SKU信息列表",
                "x-java-type": "java.util.List",
                "type": "object",
                "properties": {
                  "skuInfoListItem": {
                    "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.SkuInfoDTO",
                    "type": "object",
                    "properties": {
                      "skuName": {
                        "description": "SKU名称 | 示例: 商品A",
                        "type": "string",
                        "example": "商品A",
                        "default": ""
                      },
                      "skuUuid": {
                        "description": "SKU UUID | 示例: uuid123",
                        "type": "string",
                        "example": "uuid123",
                        "default": ""
                      },
                      "skuId": {
                        "description": "SKU ID | 示例: 123123123",
                        "type": "integer",
                        "example": 123123123,
                        "default": 0
                      },
                      "skuNum": {
                        "description": "SKU数量 | 示例: 2",
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      },
                      "skuType": {
                        "description": "商品类型10:主商品,20:赠品,30:附件,40:发票,50:发票复印件,60:出检报告,70:包装,80:防损吊牌,90:贺卡,100:包装(礼品购),110:loc订单的验证码 | 示例: 1",
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "skuTypeDesc": {
                        "description": "商品类型名称 | 示例: 电子产品",
                        "type": "string",
                        "example": "电子产品",
                        "default": ""
                      }
                    }
                  }
                }
              },
              "afsOrderBaseInfo": {
                "description": "基础服务信息",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsOrderBaseInfoDTO",
                "type": "object",
                "properties": {
                  "buId": {
                    "description": "商家id/供应商简码 | 示例: 546234",
                    "type": "string",
                    "example": "546234",
                    "default": ""
                  },
                  "applyPin": {
                    "description": "申请人PIN | 示例: testPin",
                    "type": "string",
                    "example": "testPin",
                    "default": ""
                  },
                  "xidBuyer": {
                    "description": "买家pin衍生字段 | 示例: o*AATyM3fBNvsaTeIQx3UyqP9EYTA1CpqXkGPAaJwGsWxolv8PC9c",
                    "type": "string",
                    "example": "o*AATyM3fBNvsaTeIQx3UyqP9EYTA1CpqXkGPAaJwGsWxolv8PC9c",
                    "default": ""
                  },
                  "ouid": {
                    "description": "买家pin衍生字段 | 示例: ou*AAS6W5wS6NVx7vU8FxR-tys9ODE5ACu9z3HxxOqSoyp1Mby6HUh4",
                    "type": "string",
                    "example": "ou*AAS6W5wS6NVx7vU8FxR-tys9ODE5ACu9z3HxxOqSoyp1Mby6HUh4",
                    "default": ""
                  },
                  "applyTime": {
                    "description": "申请日期 | 示例: 1745229649538",
                    "type": "integer",
                    "example": 1745229649538,
                    "default": 0
                  },
                  "applyName": {
                    "description": "申请人姓名 | 示例: 张三",
                    "type": "string",
                    "example": "张三",
                    "default": ""
                  },
                  "createTime": {
                    "description": "创建日期 | 示例: 1745229649538",
                    "type": "integer",
                    "example": 1745229649538,
                    "default": 0
                  },
                  "modifiedTime": {
                    "description": "更新日期 | 示例: 1745229649538",
                    "type": "integer",
                    "example": 1745229649538,
                    "default": 0
                  },
                  "afsOrderFinishTime": {
                    "description": "服务单完成时间 | 示例: 1745229649538",
                    "type": "integer",
                    "example": 1745229649538,
                    "default": 0
                  }
                }
              },
              "afsOrderStatusInfo": {
                "description": "服务状态信息",
                "x-java-type": "com.jd.open.rest.client.afsorder.model.dto.data.AfsOrderStatusInfoDTO",
                "type": "object",
                "properties": {
                  "mainStatus": {
                    "description": "服务单商家端主状态10:待商家审核,11:审核不通过,20:待商家收货,30:待商家处理,40:处理中,50:已发起催收,99:取消,100:完成 | 示例: 1",
                    "type": "integer",
                    "example": 1,
                    "default": 0
                  },
                  "mainStatusDesc": {
                    "description": "主状态名称 | 示例: 待处理",
[...]
