{
  "openapi": "3.1.0",
  "info": {
    "title": "京东开放平台 商品API",
    "description": "由 open.jd.com 概览页网络抓包自动生成。所有接口通过京东宙斯网关调用，请求体为业务参数 JSON。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.jd.com/routerjson",
      "description": "京东宙斯开放网关 (实际调用需携带 method/app_key/sign 等网关参数)"
    }
  ],
  "paths": {
    "/listSkus": {
      "get": {
        "operationId": "listSkus",
        "summary": "SKU列表查询",
        "description": "查询商品的SKU列表信息，支持分页和筛选。\n\nJD method: GET.sp-product.v0.skus",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.skus",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSkusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSkusResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106001002": {
                    "summary": "入参非法状态字段@#$请检查入参重新请求"
                  },
                  "10106004000": {
                    "summary": "服务处理异常@#$解决服务异常"
                  },
                  "10102004000": {
                    "summary": "sku服务处理异常@#$属于兜底异常，如错误信息明确返回，可根据错误信息修改重新调用，如错误信息不明确，请提工单咨询"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listProducts": {
      "get": {
        "operationId": "listProducts",
        "summary": "商品列表查询",
        "description": "查询商品列表信息，支持分页和筛选。\n\nJD method: GET.sp-product.v0.products",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.products",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10101004000": {
                    "summary": "服务异常处理@#$服务异常处理"
                  },
                  "10101001002": {
                    "summary": "参数错误@#$请求参数不能为空；方图信息不能为空；不支持的用户类型"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getProduct": {
      "get": {
        "operationId": "getProduct",
        "summary": "获取商品详情",
        "description": "获取商品详细信息接口，用于查询商品的详细数据。\n\nJD method: GET.sp-product.v0.products._productId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.products._productId",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10101001002": {
                    "summary": "参数**非法，校验不通过111@#$根据错误提示，修改入参请求"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listProductOptions": {
      "get": {
        "operationId": "listProductOptions",
        "summary": "商品通用选项接口",
        "description": "商品通用选项接口\n\nJD method: GET.sp-product.v0.product-options",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.product-options",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductOptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductOptionsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10159001003": {
                    "summary": "optionCode 不正确@#$填写正确的optionCode"
                  },
                  "10159001004": {
                    "summary": "lastCategoryId 不正确@#$填写正确的lastCategoryId"
                  },
                  "10159001001": {
                    "summary": "参数不能为空@#$参数不能为空"
                  },
                  "10159001002": {
                    "summary": "参数不正确@#$填写正确参数"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listProductPublishTemplates": {
      "get": {
        "operationId": "listProductPublishTemplates",
        "summary": "根据类目获取商品发布模板列表",
        "description": "根据类目获取商品发布模板列表，目前该列表只返回类目下对应的唯一schema模板\n\nJD method: GET.sp-product.v0.product-schemas",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.product-schemas",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductPublishTemplatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductPublishTemplatesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10105003001": {
                    "summary": "类目模板远程服务不可用@#$如返回明确错误信息，可自行修改重试，如错误信息不明确，请提工单咨询"
                  },
                  "10105001002": {
                    "summary": "参数非法@#$填写正确的参数"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listComponents": {
      "get": {
        "operationId": "listComponents",
        "summary": "组件列表类目规则模版查询",
        "description": "查询类目规则模版组件列表接口，目前支持价格组件查询\n\nJD method: GET.sp-product.v0.category-rule-templates._templateId.components",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.category-rule-templates._templateId.components",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListComponentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListComponentsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10105011002": {
                    "summary": "参数错误@#$填写正确参数"
                  },
                  "10105014001": {
                    "summary": "业务异常@#$按提示修改或联系平台运营"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchProductApply": {
      "patch": {
        "operationId": "patchProductApply",
        "summary": "提交商品申请单部分更新",
        "description": "提交商品申请单部分更新的接口，用于商品信息申请单的部分更新。入参格式参考：https://joyspace.jd.com/pages/i2E7MJzxS89mF4giIztD\n\nJD method: PATCH.sp-product.v0.product-applies._applyId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PATCH.sp-product.v0.product-applies._applyId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProductApplyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchProductApplyResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10103001002": {
                    "summary": "参数错误@#$填写正确参数"
                  },
                  "10103004000": {
                    "summary": "服务处理异常@#$按提示修改或咨询平台"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listProductApplies": {
      "get": {
        "operationId": "listProductApplies",
        "summary": "查询商品申请列表",
        "description": "查询商家提交的商品申请列表信息。\n\nJD method: GET.sp-product.v0.product-applies",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.product-applies",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductAppliesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductAppliesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10103001002": {
                    "summary": "参数错误@#$检查输入参数，重新请求"
                  },
                  "10103004000": {
                    "summary": "服务处理异常@#$解决服务异常"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listProductApplyDemos": {
      "get": {
        "operationId": "listProductApplyDemos",
        "summary": "查询商品schema发品样例",
        "description": "查询商品schema发品样例，可通过入参京麦中的商品“名称”查询对应的schema，发品时可作为参考\n支持查询到近3天内通过当前账号发布的商品信息（接口加白后可查询到对应信息）\n\nJD method: GET.sp-product.v0.product-apply-demos",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.product-apply-demos",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductApplyDemosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductApplyDemosResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10112003001": {
                    "summary": "接口查询内部异常@#$重试或联系运营"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPutSkuStatus": {
      "put": {
        "operationId": "batchPutSkuStatus",
        "summary": "批量编辑sku状态",
        "description": "批量编辑sku上下架状态的接口。\n\nJD method: PUT.sp-product.v0.sku-states.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PUT.sp-product.v0.sku-states.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPutSkuStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPutSkuStatusResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10102011002": {
                    "summary": "参数错误@#$请求参数不能为空；方图信息不能为空；不支持的用户类型"
                  },
                  "10102014000": {
                    "summary": "服务处理异常@#$服务处理异常"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPutProductStatus": {
      "put": {
        "operationId": "batchPutProductStatus",
        "summary": "批量编辑商品状态",
        "description": "批量编辑商品上下架状态的接口。\n\nJD method: PUT.sp-product.v0.product-states.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PUT.sp-product.v0.product-states.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPutProductStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPutProductStatusResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106001002": {
                    "summary": "参数错误@#$检查输入参数重新请求"
                  },
                  "10106004000": {
                    "summary": "服务处理异常@#$解决服务异常"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postProductApply": {
      "post": {
        "operationId": "postProductApply",
        "summary": "提交商品创建或者整版编辑申请",
        "description": "提交商品创建或者整版编辑申请，用于新增商品信息和整版修改商品。\n\nJD method: POST.sp-product.v0.product-applies",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.product-applies",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostProductApplyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostProductApplyResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "1010300506": {
                    "summary": "商品新发品/编辑创建申请单系统异常，未知错误@#$如返回明确错误信息，可根据错误信息修改，如错误信息不明确，请提工单咨询"
                  },
                  "10103001002": {
                    "summary": "参数错误@#$填写参数"
                  },
                  "10103004000": {
                    "summary": "服务处理异常4000@#$按提示修改参数或联系平台运营"
                  },
                  "10103004001": {
                    "summary": "商品新发品/编辑创建申请单业务异常@#$如返回明确错误信息，可根据错误信息修改，如错误信息不明确，请提工单咨询"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getProductApply": {
      "get": {
        "operationId": "getProductApply",
        "summary": "查询申请单详情",
        "description": "根据applyId查询申请单详情信息，支持自营和POP，主要用于获取具体申请信息以及审核进度\n\nJD method: GET.sp-product.v0.product-apply._applyId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.product-apply._applyId",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductApplyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductApplyResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10101001002": {
                    "summary": "参数**非法，校验不通过111@#$根据错误提示，修改入参请求"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getSkuMaterialTag": {
      "get": {
        "operationId": "getSkuMaterialTag",
        "summary": "获取素材标签信息",
        "description": "获取素材标签信息\n\nJD method: GET.sp-product.v0.sku-material-tags",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.sku-material-tags",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSkuMaterialTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSkuMaterialTagResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109014001": {
                    "summary": "内部服务异常@#$请刷新重试或者连续平台运营"
                  },
                  "10109011002": {
                    "summary": "1、非多主图视频素材暂不支持查询素材标签信息；2、多主图视频素材标签二级类目不能为空；3、未知的素材类型@#$1、更改素材类型传入；2、传入2级类目ID；3、更改素材类型传入；"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchCreateSkuMaterial": {
      "post": {
        "operationId": "batchCreateSkuMaterial",
        "summary": "绑定SKU素材信息",
        "description": "绑定SKU素材信息，包含图片素材（透图、白底图、场景图、卖点图、定时主图）等\n\nJD method: POST.sp-product.v0.sku-materials.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.sku-materials.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateSkuMaterialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCreateSkuMaterialResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109001002": {
                    "summary": "参数错误：『详细参数校验错误信息』@#$按错误提示信息处理或者联系运营"
                  },
                  "10109002102": {
                    "summary": "保存定时主图失败：『详细参数校验错误信息』@#$按错误提示信息处理"
                  },
                  "10109002103": {
                    "summary": "保存多视频素材失败：『详细参数校验错误信息』@#$按错误提示信息处理"
                  },
                  "10109004001": {
                    "summary": "内部服务异常@#$请刷新重试或者联系平台运营"
                  },
                  "10109002001": {
                    "summary": "商品不属于当前商家@#$检查商品关系是否正确"
                  },
                  "10109002101": {
                    "summary": "保存图片素材失败：『详细参数校验错误信息』@#$按错误提示信息处理"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listSkuMaterials": {
      "get": {
        "operationId": "listSkuMaterials",
        "summary": "获取SKU素材",
        "description": "获取指定SKU的素材信息接口。\n\nJD method: GET.sp-product.v0.sku-materials",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.sku-materials",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSkuMaterialsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSkuMaterialsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109001002": {
                    "summary": "参数错误: {详细参数错误提示信息}@#$检查入参信息"
                  },
                  "10109002151": {
                    "summary": "查询业务异常@#$根据详细错误信息处理"
                  },
                  "10109004001": {
                    "summary": "查询系统异常@#$请刷新重新或者联系平台运营"
                  },
                  "10109002001": {
                    "summary": "商品不属于当前商家@#$检查商品信息或者账号是否正常"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchDeleteSkuMaterial": {
      "delete": {
        "operationId": "batchDeleteSkuMaterial",
        "summary": "删除解绑SKU素材信息",
        "description": "删除解绑SKU素材信息\n\nJD method: DELETE.sp-product.v0.sku-materials.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.sku-materials.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteSkuMaterialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeleteSkuMaterialResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109001002": {
                    "summary": "参数错误：「错误入参信息」@#$根据提示或者联系运营"
                  },
                  "10109004001": {
                    "summary": "内部服务异常@#$请刷新重试或者联系运营"
                  },
                  "10109002001": {
                    "summary": "商品不属于当前商家@#$检查商品归属关系"
                  },
                  "10109001001": {
                    "summary": "参数必填：「必填参数信息」@#$根据提示或者联系运营"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listMediaZones": {
      "get": {
        "operationId": "listMediaZones",
        "summary": "查询媒体空间信息",
        "description": "查询空间信息\n1）查询商家图片空间信息\n2）查询商家视频空间信息\n\nJD method: GET.sp-product.v0.media-zones",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.media-zones",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMediaZonesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaZonesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108001001": {
                    "summary": "请求参数必填@#$请检查输入参数"
                  },
                  "10108002002": {
                    "summary": "查询空间信息失败@#$请刷新页面重试或者联系平台运营"
                  },
                  "10108001002": {
                    "summary": "不支持的空间类型@#$请检查输入的空间类型是否正确"
                  },
                  "10108002000": {
                    "summary": "获取登录身份异常@#$请检查是否登录或者联系网关同事查看"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postMediaZoneCategory": {
      "post": {
        "operationId": "postMediaZoneCategory",
        "summary": "创建空间分类信息",
        "description": "创建图片空间分类信息\n\nJD method: POST.sp-product.v0.media-zones._zoneId.categories",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.media-zones._zoneId.categories",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMediaZoneCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMediaZoneCategoryResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108012305": {
                    "summary": "保存商家图片分类失败：{失败原因}@#$根据原因检查调用程序或者联系平台"
                  },
                  "10108014001": {
                    "summary": "内部服务异常4001@#$刷新重试或者联系平台运维"
                  },
                  "10108011001": {
                    "summary": "1、创建分类时DTO对象必填；2、创建分类时分类名称必填；3、创建分类时父级分类ID必填@#$根据返回错误描述，检查请求入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listMediaZoneCategories": {
      "get": {
        "operationId": "listMediaZoneCategories",
        "summary": "查询空间分类信息",
        "description": "查询图片空间分类信息\n\nJD method: GET.sp-product.v0.media-zones._zoneId.categories",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.media-zones._zoneId.categories",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMediaZoneCategoriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaZoneCategoriesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108011002": {
                    "summary": "查询分类列表时页码必传，查询商家图片分类列表发生业务异常等@#$按返回的信息修改"
                  },
                  "10108014001": {
                    "summary": "内部服务异常4001@#$内部服务调用失败，请刷新重试或联系平台"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchMediaZoneCategory": {
      "patch": {
        "operationId": "patchMediaZoneCategory",
        "summary": "更新空间分类信息",
        "description": "更新图片空间分类信息\n\nJD method: PATCH.sp-product.v0.media-zones._zoneId.categories._categoryId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PATCH.sp-product.v0.media-zones._zoneId.categories._categoryId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMediaZoneCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMediaZoneCategoryResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108014001": {
                    "summary": "内部服务异常@#$请刷新重试或者联系平台运维"
                  },
                  "10108012303": {
                    "summary": "更新商家图片分类失败：「失败原因」@#$请根据失败原因刷新重试或者联系平台运维"
                  },
                  "10108011001": {
                    "summary": "更新分类时分类ID必填；更新分类时，分类名称、父级分类ID、前一个分类ID至少有一个必填@#$请检查调用程序"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteMediaZoneCategory": {
      "delete": {
        "operationId": "deleteMediaZoneCategory",
        "summary": "删除空间分类",
        "description": "删除图片空间分类信息，删除分类到回收站\n\nJD method: DELETE.sp-product.v0.media-zones._zoneId.categories._categoryId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.media-zones._zoneId.categories._categoryId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMediaZoneCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMediaZoneCategoryResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108012304": {
                    "summary": "删除商家图片分类失败：「失败原因」@#$请查看原因后刷新重试，或者"
                  },
                  "10108014001": {
                    "summary": "内部服务异常4001@#$请刷新重试或者联系平台运维"
                  },
                  "10108011001": {
                    "summary": "删除分类时分类ID必填@#$请检查调用程序"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postMediaZoneImage": {
      "post": {
        "operationId": "postMediaZoneImage",
        "summary": "上传保存图片",
        "description": "上传图片至京麦-商品-图片空间，需注意imgBase64和fileUrl必选其中一种方式进行上传\n\nJD method: POST.sp-product.v0.media-zones._zoneId.images",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.media-zones._zoneId.images",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMediaZoneImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMediaZoneImageResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108022210": {
                    "summary": "图片大小超过2MB，请降低图片大小后重新上传@#$请降低图片大小后重新上传"
                  },
                  "10108024001": {
                    "summary": "内部服务异常@#$请刷新重试或者联系运营处理"
                  },
                  "10108021001": {
                    "summary": "1、上传图片时图片名称必填；2、上传图片时分类ID必填；3、上传图片时图片数据必填@#$根据返回错误描述，修改入参请求"
                  },
                  "10108022206": {
                    "summary": "上传图片URL必须使用京东云鼎OSS域名@#$请联系运营处理"
                  },
                  "10108022207": {
                    "summary": "上传图片URL必须使用京东云鼎OSS Bucket@#$请联系运营处理"
                  },
                  "10108022204": {
                    "summary": "上传商家图片失败：「失败原因」@#$请刷新重试或者联系运营处理"
                  },
                  "10108022208": {
                    "summary": "图片URL下载失败，请检查URL是否合法@#$请检查图片资源是否存在 或 对象存储URL是否过期"
                  },
                  "10108022209": {
                    "summary": "图片格式不合法，支持 jpg,jpeg,gif,png,webp 格式@#$请调整图片格式后重新上传，支持 jpg,jpeg,gif,png,webp 格式"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listMediaZoneImages": {
      "get": {
        "operationId": "listMediaZoneImages",
        "summary": "查询图片空间图片列表",
        "description": "查询图片空间图片列表\n\nJD method: GET.sp-product.v0.media-zones._zoneId.images",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.media-zones._zoneId.images",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMediaZoneImagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaZoneImagesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108024001": {
                    "summary": "内部服务异常@#$请刷新重试或者联系平台运维"
                  },
                  "10108022201": {
                    "summary": "查询商家图片列表失败：「失败原因」@#$请检查调用程序，请根据错误原因刷新重试或者联系平台运维"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getMediaZoneImage": {
      "get": {
        "operationId": "getMediaZoneImage",
        "summary": "获取图片空间图片信息",
        "description": "获取图片空间图片，引用关系数据\n\nJD method: GET.sp-product.v0.media-zones._zoneId.images._imageId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.media-zones._zoneId.images._imageId",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMediaZoneImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMediaZoneImageResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108022001": {
                    "summary": "查询商家图片失败：「失败原因」@#$请刷新页面重试或者联系运营"
                  },
                  "10108021001": {
                    "summary": "查询图片时图片ID必填@#$请检查调用程序"
                  },
                  "10108024001": {
                    "summary": "内部服务异常@#$请刷新页面重试或者联系运营"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchMediaZoneImage": {
      "patch": {
        "operationId": "patchMediaZoneImage",
        "summary": "更新图片空间图片信息",
        "description": "更新图片空间图片，更新分类、名称\n\nJD method: PATCH.sp-product.v0.media-zones._zoneId.images._imageId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PATCH.sp-product.v0.media-zones._zoneId.images._imageId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMediaZoneImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMediaZoneImageResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108022202": {
                    "summary": "更新商家图片失败：「失败原因」@#$请刷新重试或者联系平台运维"
                  },
                  "10108024001": {
                    "summary": "内部服务异常@#$请刷新重试或者联系平台运维"
                  },
                  "10108021001": {
                    "summary": "更新图片时图片ID必填；更新图片时，名称、分类ID至少有一个必填@#$请检查调用程序"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchDeleteMediaZoneImage": {
      "delete": {
        "operationId": "batchDeleteMediaZoneImage",
        "summary": "批量删除图片信息",
        "description": "批量删除图片信息\n\nJD method: DELETE.sp-product.v0.media-zones._zoneId.images.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.media-zones._zoneId.images.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteMediaZoneImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeleteMediaZoneImageResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108022203": {
                    "summary": "删除商家图片失败：「失败原因」@#$请刷新页面重试或者联系运营"
                  },
                  "10108024001": {
                    "summary": "内部服务异常@#$请刷新页面重试或者联系运营"
                  },
                  "10108021001": {
                    "summary": "批量删除图片时，图片id集合不能为空 或者 ，图片id批量大小不能超过50@#$请检查调用程序"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getMediaZoneVideoUploadUrl": {
      "get": {
        "operationId": "getMediaZoneVideoUploadUrl",
        "summary": "获取上传视频地址",
        "description": "获取上传视频地址，获取地址后将视频文件上传至指定地址\n\nJD method: GET.sp-product.v0.media-zones._zoneId.upload-urls",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.media-zones._zoneId.upload-urls",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMediaZoneVideoUploadUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMediaZoneVideoUploadUrlResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108014001": {
                    "summary": "服务内部异常@#$请刷新页面重试或者联系运营"
                  },
                  "10108012405": {
                    "summary": "获取上传地址失败：「失败原因」@#$请刷新页面重试或者联系运营"
                  },
                  "10108011001": {
                    "summary": "获取视频上传地址时，视频类型必填，目前仅支持主图视频(1)上传@#$请检查调用程序"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postMediaZoneVideo": {
      "post": {
        "operationId": "postMediaZoneVideo",
        "summary": "保存视频信息",
        "description": "保存视频信息，目前仅能保存商家主图视频\n\nJD method: POST.sp-product.v0.media-zones._zoneId.videos",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.media-zones._zoneId.videos",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMediaZoneVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMediaZoneVideoResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108032404": {
                    "summary": "保存视频失败：「失败原因」@#$请刷新页面重试或者联系运营"
                  },
                  "10108034001": {
                    "summary": "内部服务异常@#$请刷新页面重试或者联系运营"
                  },
                  "10108031001": {
                    "summary": "1、保存视频时视频名称必填；2、保存视频时视频类型必填；3、保存视频时通用视频ID必填@#$根据返回错误描述，检查入参请求"
                  },
                  "10108031002": {
                    "summary": "1、保存视频时视频名称最大长度为36；2、保存视频时视频描述不能为空且最大长度为200@#$根据返回错误描述，检查入参请求"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listMediaZoneVideos": {
      "get": {
        "operationId": "listMediaZoneVideos",
        "summary": "查询视频列表",
        "description": "查询视频列表\n\nJD method: GET.sp-product.v0.media-zones._zoneId.videos",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.media-zones._zoneId.videos",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMediaZoneVideosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaZoneVideosResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108032401": {
                    "summary": "查询视频列表失败：「失败原因」@#$请刷新页面重试或者联系运营"
                  },
                  "10108034001": {
                    "summary": "内部服务异常@#$请刷新页面重试或者联系运营"
                  },
                  "10108031001": {
                    "summary": "查询视频列表字段不能为空；查询视频类型不能为空@#$请检查调用程序"
                  },
                  "10108031002": {
                    "summary": "排序方式仅可选择ASC/DESC；视频排序目前仅支持按创建时间createDate排序@#$请检查调用程序"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchMediaZoneVideo": {
      "patch": {
        "operationId": "patchMediaZoneVideo",
        "summary": "更新视频信息",
        "description": "更新视频信息\n\nJD method: PATCH.sp-product.v0.media-zones._zoneId.videos._videoId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PATCH.sp-product.v0.media-zones._zoneId.videos._videoId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMediaZoneVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMediaZoneVideoResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108032402": {
                    "summary": "更新视频失败：「失败原因」@#$请刷新页面重试或者联系运营"
                  },
                  "10108034001": {
                    "summary": "内部服务异常@#$请刷新页面重试或者联系运营"
                  },
                  "10108031001": {
                    "summary": "更新视频时视频ID必填@#$请检查调用程序"
                  },
                  "10108031002": {
                    "summary": "更新视频时视频名称最大长度为36@#$请检查调用程序"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchDeleteMediaZoneVideo": {
      "delete": {
        "operationId": "batchDeleteMediaZoneVideo",
        "summary": "批量删除视频信息",
        "description": "批量删除视频信息\n\nJD method: DELETE.sp-product.v0.media-zones._zoneId.videos.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.media-zones._zoneId.videos.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteMediaZoneVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeleteMediaZoneVideoResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108032403": {
                    "summary": "批量删除视频失败：「失败原因」@#$请刷新页面重试或者联系运营"
                  },
                  "10108034001": {
                    "summary": "内部服务异常@#$请刷新页面重试或者联系运营"
                  },
                  "10108031001": {
                    "summary": "批量删除视频时，视频id集合不能为空@#$请检查调用程序"
                  },
                  "10108031002": {
                    "summary": "批量删除视频时，视频id集合最大不能超过10@#$请检查调用程序"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listMediaZoneVideosSkusRelation": {
      "get": {
        "operationId": "listMediaZoneVideosSkusRelation",
        "summary": "视频sku关联关系",
        "description": "支持批量查询视频绑定的商品关系，可支持进行批量解绑操作等场景，如下图京麦端交互示例：京麦-商品-图片/视频空间-视频列表中hover某一视频时可查询视频关联的商品\n\nJD method: GET.sp-product.v0.media-zones._zoneId.video-sku-rels",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.media-zones._zoneId.video-sku-rels",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMediaZoneVideosSkusRelationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaZoneVideosSkusRelationResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10108041002": {
                    "summary": "查询视频SKU关系时，videoId数量不能超过20@#$查询视频SKU关系时，videoId数量小于20个"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postProductValidation": {
      "post": {
        "operationId": "postProductValidation",
        "summary": "商品信息合规检测",
        "description": "针对入参中的商品信息进行合规性检测并返回检测结果；入参齐全则可一次性检测出所有可能存在的违规，准对性修改违规后再发品，可大大提升发品效率，入参：诸如标题、类目、品牌、sku主图、属性等。\n\nJD method: POST.sp-product.v0.product-schemas.validations",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.product-schemas.validations",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostProductValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostProductValidationResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10103001002": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  },
                  "10103004000": {
                    "summary": "服务处理异常@#$按提示修改"
                  },
                  "10105003001": {
                    "summary": "远程服务不可用@#$如返回明确错误信息，可自行修改重试，如错误信息不明确，请提工单咨询"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getViolatingProduct": {
      "get": {
        "operationId": "getViolatingProduct",
        "summary": "获取商品审核详情",
        "description": "获取合规审核的审核详细信息\n\nJD method: GET.sp-product.v0.violating-products._productId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.violating-products._productId",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetViolatingProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViolatingProductResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10161011001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listViolatingProducts": {
      "get": {
        "operationId": "listViolatingProducts",
        "summary": "违规商品查询",
        "description": "查询店铺内的违规商品\n\nJD method: GET.sp-product.v0.violating-products",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.violating-products",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListViolatingProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListViolatingProductsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10161001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  },
                  "10161001002": {
                    "summary": "排序方式无效，只能为0(升序)或1(降序)@#$请根据错误提示，检查接口入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPutVmiStock": {
      "put": {
        "operationId": "batchPutVmiStock",
        "summary": "批量设置 VMI 库存",
        "description": "批量设置 vmi 库存，支持多个仓库设置\n\nJD method: PUT.sp-vmi.v0.vmi-stocks.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PUT.sp-vmi.v0.vmi-stocks.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPutVmiStockRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPutVmiStockResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "11401003001": {
                    "summary": "库存保存失败，请稍后重试@#$请确保库存信息正常，重新请求"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listSkuStocks": {
      "get": {
        "operationId": "listSkuStocks",
        "summary": "批量查询商品库存",
        "description": "批量查询sku库存信息接口\n\nJD method: GET.sp-product.v0.sku-stocks",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.sku-stocks",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSkuStocksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSkuStocksResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10110001001": {
                    "summary": "请求参数为空@#$填写请求参数"
                  },
                  "10110001008": {
                    "summary": "SKU ID列表数量超过20个限制@#$限制入参skuId数量"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPutSkuStock": {
      "put": {
        "operationId": "batchPutSkuStock",
        "summary": "批量设置商品库存",
        "description": "批量设置商品库存接口，可以用于POP全国/分区及门店库存的增量/全量设置\n\nJD method: PUT.sp-product.v0.sku-stocks.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PUT.sp-product.v0.sku-stocks.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPutSkuStockRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPutSkuStockResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10110001001": {
                    "summary": "请求参数为空@#$填写请求参数"
                  },
                  "10110001004": {
                    "summary": "库存更新方式不能为空@#$填写库存更新方式"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getLimitBuyStrategy": {
      "get": {
        "operationId": "getLimitBuyStrategy",
        "summary": "获取限购策略",
        "description": "获取商品限购策略信息接口，用于查询限购规则。\n\nJD method: GET.sp-product.v0.limit-buy-strategies._id",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.limit-buy-strategies._id",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLimitBuyStrategyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLimitBuyStrategyResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10107004000": {
                    "summary": "服务处理异常@#$服务处理异常"
                  },
                  "10107001002": {
                    "summary": "参数错误@#$请求参数不能为空；方图信息不能为空；不支持的用户类型"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listAreaRestrictionTemplateProducts": {
      "get": {
        "operationId": "listAreaRestrictionTemplateProducts",
        "summary": "查询区域限制模板上绑定的商品列表",
        "description": "查询区域限制模板上绑定的商品列表\n\nJD method: GET.sp-product.v0.area-restriction-templates._templateId.products",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.area-restriction-templates._templateId.products",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAreaRestrictionTemplateProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAreaRestrictionTemplateProductsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106011003": {
                    "summary": "分页参数错误，分页页码不合法@#$请检查入参的完整性"
                  },
                  "10106014000": {
                    "summary": "服务处理异常@#$服务处理异常"
                  },
                  "10106011002": {
                    "summary": "参数错误@#$请求参数不能为空"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPostSkuBooking": {
      "post": {
        "operationId": "batchPostSkuBooking",
        "summary": "批量设置商品预定",
        "description": "批量设置商品预定\n\nJD method: POST.sp-product.v0.sku-bookings.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.sku-bookings.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPostSkuBookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPostSkuBookingResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "11110001003": {
                    "summary": "商品预定列表超过最大限制，单次请求最多支持200个商品@#$按照错误提示，修改请求入参"
                  },
                  "11110004001": {
                    "summary": "系统处理异常@#$解决系统异常"
                  },
                  "11110001004": {
                    "summary": "商品预定信息无效@#$按照错误提示，修改请求入参"
                  },
                  "11110001001": {
                    "summary": "请求参数为空@#$按照错误提示，修改请求入参"
                  },
                  "11110001002": {
                    "summary": "商品预定列表为空，请至少传入一个商品ID@#$按照错误提示，修改请求入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listSkuBookings": {
      "get": {
        "operationId": "listSkuBookings",
        "summary": "批量查询商品预定",
        "description": "批量查询商品预定\n\nJD method: GET.sp-product.v0.sku-bookings",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.sku-bookings",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSkuBookingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSkuBookingsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "11110004001": {
                    "summary": "系统处理异常@#$解决系统异常"
                  },
                  "11110001001": {
                    "summary": "请求参数为空@#$按照错误提示，修改请求入参"
                  },
                  "11110001002": {
                    "summary": "商品预定列表为空，请至少传入一个商品ID@#$按照错误提示，修改请求入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/putAreaRestrictionTemplate": {
      "put": {
        "operationId": "putAreaRestrictionTemplate",
        "summary": "修改区域限制模板",
        "description": "修改商品的区域限制模板信息。\n\nJD method: PUT.sp-product.v0.area-restriction-templates._templateId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PUT.sp-product.v0.area-restriction-templates._templateId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutAreaRestrictionTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutAreaRestrictionTemplateResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106001002": {
                    "summary": "参数错误@#$请检查入参字段是否完整，重新请求"
                  },
                  "10106004000": {
                    "summary": "服务处理异常@#$解决服务异常"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAreaRestrictionTemplate": {
      "get": {
        "operationId": "getAreaRestrictionTemplate",
        "summary": "获取区域限制模板详情",
        "description": "获取商品区域限制模板的详细信息。\n\nJD method: GET.sp-product.v0.area-restriction-templates._templateId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.area-restriction-templates._templateId",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAreaRestrictionTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAreaRestrictionTemplateResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106001002": {
                    "summary": "入参模版id必填@#$请检查入参完整性"
                  },
                  "10106004000": {
                    "summary": "服务处理异常@#$处理服务异常"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listAreaRestrictionTemplates": {
      "get": {
        "operationId": "listAreaRestrictionTemplates",
        "summary": "查询商家下区域限制模板列表",
        "description": "查询商品区域限制模板列表接口，用于获取所有可用的区域限制模板。\n\nJD method: GET.sp-product.v0.area-restriction-templates",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.area-restriction-templates",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAreaRestrictionTemplatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAreaRestrictionTemplatesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106001002": {
                    "summary": "入参模版id必填@#$请检查入参的完整性"
                  },
                  "10106004000": {
                    "summary": "服务处理异常@#$解决服务异常"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteAreaRestrictionTemplateProduct": {
      "delete": {
        "operationId": "deleteAreaRestrictionTemplateProduct",
        "summary": "删除区域限制模板上绑定的商品",
        "description": "对区域限购模版上绑定的商品进行解绑，或对店铺模版进行解绑\n\nJD method: DELETE.sp-product.v0.area-restriction-templates._templateId.products.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.area-restriction-templates._templateId.products.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAreaRestrictionTemplateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAreaRestrictionTemplateProductResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106014000": {
                    "summary": "服务处理异常@#$服务处理异常"
                  },
                  "10106011002": {
                    "summary": "参数错误@#$请求参数不能为空；方图信息不能为空；不支持的用户类型"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteAreaRestrictionTemplate": {
      "delete": {
        "operationId": "deleteAreaRestrictionTemplate",
        "summary": "删除区域限制模板",
        "description": "删除指定的商品区域限制模板。\n\nJD method: DELETE.sp-product.v0.area-restriction-templates._templateId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.area-restriction-templates._templateId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAreaRestrictionTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAreaRestrictionTemplateResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106001002": {
                    "summary": "参数错误@#$请求参数不能为空；方图信息不能为空；不支持的用户类型"
                  },
                  "10106004000": {
                    "summary": "服务处理异常@#$服务处理异常"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listLimitBuyStrategyProducts": {
      "get": {
        "operationId": "listLimitBuyStrategyProducts",
        "summary": "查询限购策略绑定的商品列表",
        "description": "查询与特定限购策略关联的商品列表接口。\n\nJD method: GET.sp-product.v0.limit-buy-strategies._id.products",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.limit-buy-strategies._id.products",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLimitBuyStrategyProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLimitBuyStrategyProductsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10107014000": {
                    "summary": "服务处理异常@#$服务处理异常"
                  },
                  "10107011002": {
                    "summary": "参数错误@#$参数错误"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listLimitBuyStrategies": {
      "get": {
        "operationId": "listLimitBuyStrategies",
        "summary": "查询限购策略列表",
        "description": "获取所有限购策略的列表信息。\n\nJD method: GET.sp-product.v0.limit-buy-strategies",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.limit-buy-strategies",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLimitBuyStrategiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLimitBuyStrategiesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10107004000": {
                    "summary": "服务处理异常@#$服务处理异常"
                  },
                  "10107001002": {
                    "summary": "参数错误@#$请求参数不能为空；方图信息不能为空；不支持的用户类型"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPostLimitBuyStrategyProduct": {
      "post": {
        "operationId": "batchPostLimitBuyStrategyProduct",
        "summary": "批量绑定商品到限购策略",
        "description": "批量绑定限购策略中的商品接口，用于商家对某商品进行限购。\n\nJD method: POST.sp-product.v0.limit-buy-strategies._id.products.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.limit-buy-strategies._id.products.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPostLimitBuyStrategyProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPostLimitBuyStrategyProductResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10107014000": {
                    "summary": "服务处理异常@#$解决服务异常"
                  },
                  "10107011002": {
                    "summary": "参数错误@#$检查输入参数重新请求"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchDeleteLimitBuyStrategyProduct": {
      "delete": {
        "operationId": "batchDeleteLimitBuyStrategyProduct",
        "summary": "批量把商品与限购策略解绑",
        "description": "批量把商品与限购策略解绑\n\nJD method: DELETE.sp-product.v0.limit-buy-strategies._id.products.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.limit-buy-strategies._id.products.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteLimitBuyStrategyProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeleteLimitBuyStrategyProductResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106001002": {
                    "summary": "参数错误@#$检查输入参数重新请求"
                  },
                  "10106004000": {
                    "summary": "服务处理异常@#$解决服务异常"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteLimitBuyStrategy": {
      "delete": {
        "operationId": "deleteLimitBuyStrategy",
        "summary": "删除限购策略",
        "description": "删除指定的限购策略信息。\n\nJD method: DELETE.sp-product.v0.limit-buy-strategies._id",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.limit-buy-strategies._id",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteLimitBuyStrategyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteLimitBuyStrategyResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10107001002": {
                    "summary": "参数错误@#$参数错误"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchPostAreaRestrictionTemplateProduct": {
      "post": {
        "operationId": "batchPostAreaRestrictionTemplateProduct",
        "summary": "店铺或商品批量绑定区域限制模板",
        "description": "店铺或商品批量绑定区域限制模板\n\nJD method: POST.sp-product.v0.area-restriction-templates._templateId.products.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.area-restriction-templates._templateId.products.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPostAreaRestrictionTemplateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPostAreaRestrictionTemplateProductResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106014000": {
                    "summary": "服务处理异常@#$服务处理异常"
                  },
                  "10106011002": {
                    "summary": "绑定模版时模版类型字段不能为空@#$请检查入参的完整性"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postAreaRestrictionTemplate": {
      "post": {
        "operationId": "postAreaRestrictionTemplate",
        "summary": "发布区域限制模板",
        "description": "发布商品区域限制模板，用于设置商品销售区域限制。\n\nJD method: POST.sp-product.v0.area-restriction-templates",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.area-restriction-templates",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAreaRestrictionTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAreaRestrictionTemplateResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10106001001": {
                    "summary": "新建模版名称必填@#$请检查入参信息，重新请求"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postLimitBuyStrategy": {
      "post": {
        "operationId": "postLimitBuyStrategy",
        "summary": "发布限购策略",
        "description": "发布限购策略接口，用于设置商品的限购规则。\n\nJD method: POST.sp-product.v0.limit-buy-strategies",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.limit-buy-strategies",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostLimitBuyStrategyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostLimitBuyStrategyResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10107004000": {
                    "summary": "服务处理异常@#$服务处理异常"
                  },
                  "10107001002": {
                    "summary": "参数错误@#$请求参数不能为空；方图信息不能为空；不支持的用户类型"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listMaterialExperimentRules": {
      "get": {
        "operationId": "listMaterialExperimentRules",
        "summary": "获取SKU实验规则信息",
        "description": "获取SKU实验规则信息，是否能做实验，流量比例等。推荐使用新版本实验参数（文档入参里已标注），旧版实验后续不再支持。\n\nJD method: GET.sp-product.v0.material-experiment-rules",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.material-experiment-rules",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMaterialExperimentRulesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMaterialExperimentRulesResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109024001": {
                    "summary": "内部服务异常@#$请刷新重试或者连续平台运营"
                  },
                  "10109022001": {
                    "summary": "商品不属于当前商家@#$检查商品信息或者账号是否正常"
                  },
                  "10109022505": {
                    "summary": "查询业务异常@#$根据详细错误信息处理"
                  },
                  "10109021002": {
                    "summary": "参数错误: {详细参数错误提示信息}@#$检查入参信息"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postMaterialExperiment": {
      "post": {
        "operationId": "postMaterialExperiment",
        "summary": "创建ab实验",
        "description": "创建ab实验。推荐使用新版本实验参数（文档入参里已标注），旧版实验后续不再支持。\n\nJD method: POST.sp-product.v0.material-experiments",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "POST.sp-product.v0.material-experiments",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMaterialExperimentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMaterialExperimentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109022504": {
                    "summary": "保存AB实验业务异常@#$根据详细错误信息处理"
                  },
                  "10109021002": {
                    "summary": "参数错误: {详细参数错误提示信息}@#$检查入参信息"
                  },
                  "10109024001": {
                    "summary": "内部服务异常@#$请刷新重试或者联系平台运营"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchMaterialExperiment": {
      "patch": {
        "operationId": "patchMaterialExperiment",
        "summary": "更新ab实验",
        "description": "更新ab实验。推荐使用新版本实验参数（文档入参里已标注），旧版实验后续不再支持。\n\nJD method: PATCH.sp-product.v0.material-experiments._experimentId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PATCH.sp-product.v0.material-experiments._experimentId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMaterialExperimentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMaterialExperimentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109021002": {
                    "summary": "参数错误: {详细参数错误提示信息}@#$检查入参信息"
                  },
                  "10109022502": {
                    "summary": "更新AB实验业务异常@#$根据详细错误信息处理"
                  },
                  "10109024001": {
                    "summary": "内部服务异常@#$请刷新重试或者联系平台运营"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listMaterialExperiments": {
      "get": {
        "operationId": "listMaterialExperiments",
        "summary": "查询素材AB实验列表",
        "description": "查询素材AB实验列表，返回实验基础信息。推荐使用新版本实验参数（api文档中已标注），旧版实验后续不再支持。\n\nJD method: GET.sp-product.v0.material-experiments",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.material-experiments",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMaterialExperimentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMaterialExperimentsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109022501": {
                    "summary": "查询业务异常@#$根据详细错误信息处理"
                  },
                  "10109021002": {
                    "summary": "参数错误: {详细参数错误提示信息}@#$检查入参信息"
                  },
                  "10109024001": {
                    "summary": "内部服务异常@#$请刷新重试或者连续平台运营"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getMaterialExperiment": {
      "get": {
        "operationId": "getMaterialExperiment",
        "summary": "查询实验详情信息",
        "description": "查询实验详情信息。推荐使用新版本实验参数（文档入参里已标注），旧版实验后续不再支持。\n\nJD method: GET.sp-product.v0.material-experiments._experimentId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.material-experiments._experimentId",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialExperimentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMaterialExperimentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109022501": {
                    "summary": "查询业务异常@#$根据详细错误信息处理"
                  },
                  "10109021002": {
                    "summary": "参数错误: {详细参数错误提示信息}@#$检查入参信息"
                  },
                  "10109024001": {
                    "summary": "内部服务异常@#$请刷新重试或者连续平台运营"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteMaterialExperiment": {
      "delete": {
        "operationId": "deleteMaterialExperiment",
        "summary": "删除AB实验",
        "description": "删除AB实验。推荐使用新版本实验参数（文档入参里已标注），旧版实验后续不再支持。\n\nJD method: DELETE.sp-product.v0.material-experiments._experimentId",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.material-experiments._experimentId",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMaterialExperimentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMaterialExperimentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10109021002": {
                    "summary": "参数错误: {详细参数错误提示信息} @#$检查入参信息"
                  },
                  "10109022503": {
                    "summary": "删除AB实验业务异常@#$根据详细错误信息处理"
                  },
                  "10109024001": {
                    "summary": "内部服务异常@#$请刷新重试或者联系平台运营"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getHitGrayResult": {
      "get": {
        "operationId": "getHitGrayResult",
        "summary": "商品通用灰度接口",
        "description": "接口描述：1、商家通过上传特定的场景key，查询该key下的功能灰度值。结果显示京麦侧是否支持该商家使用相关功能。2、针对isv用户，pop/自营商家均可使用。\n\nJD method: GET.sp-product.v0.product-grays",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.product-grays",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHitGrayResultRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHitGrayResultResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10173001001": {
                    "summary": "请求入参检查异常@#$请根据错误提示，检查接口入参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteDigitalManual": {
      "delete": {
        "operationId": "deleteDigitalManual",
        "summary": "删除电子说明书",
        "description": "此接口用于删除电子说明书\n\nJD method: DELETE.sp-product.v0.digital-manuals.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "DELETE.sp-product.v0.digital-manuals.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDigitalManualRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDigitalManualResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10170000004": {
                    "summary": "删除电子说明书失败@#$查看failMessage字段相信失败原因"
                  },
                  "10170000003": {
                    "summary": "电子说明书ID不能为空@#$检查说明书id传参"
                  },
                  "10170000001": {
                    "summary": "请求参数为空@#$检查检查参数传参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listDigitalManualProducts": {
      "get": {
        "operationId": "listDigitalManualProducts",
        "summary": "查询电子说明书绑定的商品信息",
        "description": "此接口用于查询电子说明书绑定的商品信息\n\nJD method: GET.sp-product.v0.digital-manuals._manualId.digital-manual-products",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "GET.sp-product.v0.digital-manuals._manualId.digital-manual-products",
        "x-jd-level": "R1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDigitalManualProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDigitalManualProductsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10170000003": {
                    "summary": "电子说明书ID不能为空@#$检查电子说明书ID不能为空"
                  },
                  "10170000001": {
                    "summary": "请求参数为空@#$检查参数必传的字段"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patchDigitalManualProducts": {
      "patch": {
        "operationId": "patchDigitalManualProducts",
        "summary": "电子说明书绑定商品",
        "description": "此接口用于电子说明书绑定商品\n\nJD method: PATCH.sp-product.v0.digital-manuals._manualId.digital-manual-products.batch",
        "tags": [
          "商品API"
        ],
        "x-jd-method": "PATCH.sp-product.v0.digital-manuals._manualId.digital-manual-products.batch",
        "x-jd-level": "W1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDigitalManualProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "业务响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchDigitalManualProductsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "业务错误码",
            "content": {
              "application/json": {
                "examples": {
                  "10170000019": {
                    "summary": "商品ID无效@#$检查商品商品ID的传参是否正确"
                  },
                  "10170000018": {
                    "summary": "商品ID列表不能为空@#$检查商品ID列表不能为空"
                  },
                  "10170000021": {
                    "summary": "关联类型无效，只能为1或2@#$检查关联类型只能为1或2"
                  },
                  "10170000020": {
                    "summary": "关联类型不能为空@#$检查关联类型不能为空"
                  },
                  "10170000003": {
                    "summary": "电子说明书ID不能为空@#$检查电子说明书ID不能为空"
                  },
                  "10170000001": {
                    "summary": "请求参数为空@#$请检查请求参数的传参"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listDigitalManuals": {
      "get": {
        "operationId": "listDigitalManuals",
        "summary": "查询电子说明书列表",
        "description": "查询电子说明书列表\n\nJD method: GET.sp-product.v0.digital-manuals",
        "tags": [
          "商品API"
        ],
[...]
